@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
/* Base
---------------------------------------------------------- */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Header
---------------------------------------------------------- */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    padding: 0;
}

header.change {
    background: rgba(0, 0, 0, 0.4);
}

header #headerWrap {
    overflow: hidden;
    position: relative;
    padding-bottom: 1rem;
}

header #logo {
    float: left;
    width: 30.8rem;
    height: 4.8rem;
    margin: 1.2rem 0 0 1.7rem;
}

header .btn_entry {
    position: absolute;
    top: 2rem;
    right: 8.8rem;
    display: inline-block;
    width: 10.2rem;
    height: 2.7rem;
}

header .btn_entry a {
    display: block;
    position: relative;
}

header .btn_entry a img {
    vertical-align: top;
}

header .btn_entry a img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.menuOpen, .menuOpen span {
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.menuOpen {
    position: relative;
    float: right;
    width: 2.8rem;
    height: 2.7rem;
    margin-top: 2rem;
    margin-right: 3rem;
    cursor: pointer;
    z-index: 20;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.menuOpen span {
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.3rem;
    border-radius: 0.3rem;
    opacity: 1;
}

.menuOpen:hover span {
    background-color: #00465C;
}

.menuOpen span:nth-of-type(1) {
    top: 0;
    -webkit-animation: menu-bar01 .75s forwards;
            animation: menu-bar01 .75s forwards;
}

@-webkit-keyframes menu-bar01 {
    0% {
        -webkit-transform: translateY(12px) rotate(45deg);
                transform: translateY(12px) rotate(45deg);
    }
    50% {
        -webkit-transform: translateY(12px) rotate(0);
                transform: translateY(12px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
}

@keyframes menu-bar01 {
    0% {
        -webkit-transform: translateY(12px) rotate(45deg);
                transform: translateY(12px) rotate(45deg);
    }
    50% {
        -webkit-transform: translateY(12px) rotate(0);
                transform: translateY(12px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
}

@-webkit-keyframes menu-bar01sp {
    0% {
        -webkit-transform: translateY(8px) rotate(45deg);
                transform: translateY(8px) rotate(45deg);
    }
    50% {
        -webkit-transform: translateY(8px) rotate(0);
                transform: translateY(8px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
}

@keyframes menu-bar01sp {
    0% {
        -webkit-transform: translateY(8px) rotate(45deg);
                transform: translateY(8px) rotate(45deg);
    }
    50% {
        -webkit-transform: translateY(8px) rotate(0);
                transform: translateY(8px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
}

.menuOpen.active span:nth-of-type(1) {
    top: 0;
    -webkit-animation: active-menu-bar01 .75s forwards;
            animation: active-menu-bar01 .75s forwards;
}

@-webkit-keyframes active-menu-bar01 {
    0% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateY(12px) rotate(0);
                transform: translateY(12px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(12px) rotate(45deg);
                transform: translateY(12px) rotate(45deg);
        background: #fff;
    }
}

@keyframes active-menu-bar01 {
    0% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateY(12px) rotate(0);
                transform: translateY(12px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(12px) rotate(45deg);
                transform: translateY(12px) rotate(45deg);
        background: #fff;
    }
}

@-webkit-keyframes active-menu-bar01sp {
    0% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateY(15px) rotate(0);
                transform: translateY(15px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(8px) rotate(45deg);
                transform: translateY(8px) rotate(45deg);
        background: #fff;
    }
}

@keyframes active-menu-bar01sp {
    0% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateY(15px) rotate(0);
                transform: translateY(15px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(8px) rotate(45deg);
                transform: translateY(8px) rotate(45deg);
        background: #fff;
    }
}

@-webkit-keyframes active-menu-bar01sp02 {
    0% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateY(15px) rotate(0);
                transform: translateY(15px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(11px) rotate(45deg);
                transform: translateY(11px) rotate(45deg);
        background: #fff;
    }
}

@keyframes active-menu-bar01sp02 {
    0% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateY(15px) rotate(0);
                transform: translateY(15px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(11px) rotate(45deg);
                transform: translateY(11px) rotate(45deg);
        background: #fff;
    }
}

.menuOpen span:nth-of-type(2) {
    top: 12px;
    opacity: 1;
}

@-webkit-keyframes menu-bar02 {
    0% {
        -webkit-transform: translateY(-12px) rotate(-45deg);
                transform: translateY(-12px) rotate(-45deg);
    }
    50% {
        -webkit-transform: translateY(-12px) rotate(0);
                transform: translateY(-12px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
}

@keyframes menu-bar02 {
    0% {
        -webkit-transform: translateY(-12px) rotate(-45deg);
                transform: translateY(-12px) rotate(-45deg);
    }
    50% {
        -webkit-transform: translateY(-12px) rotate(0);
                transform: translateY(-12px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
}

@-webkit-keyframes menu-bar02sp {
    0% {
        -webkit-transform: translateY(-8px) rotate(-45deg);
                transform: translateY(-8px) rotate(-45deg);
    }
    50% {
        -webkit-transform: translateY(-8px) rotate(0);
                transform: translateY(-8px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
}

@keyframes menu-bar02sp {
    0% {
        -webkit-transform: translateY(-8px) rotate(-45deg);
                transform: translateY(-8px) rotate(-45deg);
    }
    50% {
        -webkit-transform: translateY(-8px) rotate(0);
                transform: translateY(-8px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
}

.menuOpen.active span:nth-of-type(2) {
    opacity: 0;
}

.menuOpen span:nth-of-type(3) {
    bottom: 0;
    -webkit-animation: menu-bar02 .75s forwards;
            animation: menu-bar02 .75s forwards;
}

@-webkit-keyframes active-menu-bar03 {
    0% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateY(-12px) rotate(0);
                transform: translateY(-12px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(-12px) rotate(-45deg);
                transform: translateY(-12px) rotate(-45deg);
        background: #fff;
    }
}

@keyframes active-menu-bar03 {
    0% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateY(-12px) rotate(0);
                transform: translateY(-12px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(-12px) rotate(-45deg);
                transform: translateY(-12px) rotate(-45deg);
        background: #fff;
    }
}

@-webkit-keyframes active-menu-bar03sp {
    0% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateY(-8px) rotate(0);
                transform: translateY(-8px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(-8px) rotate(-45deg);
                transform: translateY(-8px) rotate(-45deg);
        background: #fff;
    }
}

@keyframes active-menu-bar03sp {
    0% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateY(-8px) rotate(0);
                transform: translateY(-8px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(-8px) rotate(-45deg);
                transform: translateY(-8px) rotate(-45deg);
        background: #fff;
    }
}

.menuOpen.active span:nth-of-type(3) {
    bottom: 0;
    -webkit-animation: active-menu-bar03 .75s forwards;
            animation: active-menu-bar03 .75s forwards;
}

@keyframes active-menu-bar03 {
    0% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateY(-12px) rotate(0);
                transform: translateY(-12px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(-12px) rotate(-45deg);
                transform: translateY(-12px) rotate(-45deg);
        background: #fff;
    }
}

@keyframes active-menu-bar03sp {
    0% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateY(-8px) rotate(0);
                transform: translateY(-8px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(-8px) rotate(-45deg);
                transform: translateY(-8px) rotate(-45deg);
        background: #fff;
    }
}

@-webkit-keyframes active-menu-bar03sp02 {
    0% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateY(-8px) rotate(0);
                transform: translateY(-8px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(-16px) rotate(-45deg);
                transform: translateY(-16px) rotate(-45deg);
        background: #fff;
    }
}

@keyframes active-menu-bar03sp02 {
    0% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateY(-8px) rotate(0);
                transform: translateY(-8px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(-16px) rotate(-45deg);
                transform: translateY(-16px) rotate(-45deg);
        background: #fff;
    }
}

.menuOpen.active:hover span:nth-of-type(1),
.menuOpen.active:hover span:nth-of-type(3) {
    opacity: 0.5;
}

header nav#main_menu {
    width: 34rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -34rem;
    background: rgba(0, 77, 129, 0.95);
    padding: 7rem 2.6rem 7rem 0;
    pointer-events: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    z-index: 15;
    counter-reset: nav;
    overflow-y: auto;
}

header nav#main_menu.active {
    right: 0;
    pointer-events: visible;
}

header nav#main_menu ul {
    position: relative;
    text-align: right;
    margin-bottom: 2rem;
    color: #fff;
    right: -44rem;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
}

header nav#main_menu ul li {
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 1.3;
}

header nav#main_menu ul li a {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

header nav#main_menu ul li a:hover {
    color: #000;
}

header nav#main_menu ul.none:hover {
    color: rgba(255, 255, 255, 0.3);
}

header nav#main_menu ul li.menu_title {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
header nav#main_menu ul li.title-en {
    font-size: 1.4rem;
}

header nav#main_menu ul.none li {
    color: rgba(255, 255, 255, 0.3);
}

/*header nav#main_menu ul.none li a {
    pointer-events: none;
    cursor: default;
}*/

header nav#main_menu ul.none li a:hover {
    color: inherit;
    padding-right: 0;
}

header nav#main_menu.active ul {
    right: 0;
}

header nav#main_menu.active ul:nth-of-type(2) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
}

header nav#main_menu.active ul:nth-of-type(3) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
}

header nav#main_menu.active ul:nth-of-type(4) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
}

header nav#main_menu.active ul:nth-of-type(5) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
}

header nav#main_menu.active ul:nth-of-type(6) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
}

header nav#main_menu.active ul:nth-of-type(7) {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
}

header nav#main_menu.active ul:nth-of-type(8) {
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s;
}

header nav#main_menu.active ul:nth-of-type(9) {
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
}

header .menuCover {
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

header .menuCover.active {
    opacity: 1;
    visibility: visible;
}

/** YoGo fonts **/
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}


html {
    font-size: 62.5%;
}

body {
    -webkit-text-size-adjust: 100%;
    /* テキストサイズバグ回避 */
    -webkit-tap-highlight-color: transparent;
    line-height: 2em;
    font-family: '游ゴシック', YuGothic, "Noto Sans Japanese", 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ',　Verdana, Roboto, 'Droid Sans', Meiryo, sans-serif;
    min-width: 320px;
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    color: #333;
    background: #ccc;
}

img {
    vertical-align: bottom;
    max-width: 100%;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.hover07 {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.hover07:hover {
    opacity: .7;
}

#wrapper {
    min-width: 1000px;
    position: relative;
    z-index: 0;
}

#main {
    position: relative;
    min-width: 320px;
}

.inner {
    max-width: 1000px;
    margin: 0 auto;
}

.is_pc {
    display: block;
}

.is_sp {
    display: none;
}

.move {
    position: relative;
    opacity: 0;
    top: 50px;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}

.move.on {
    opacity: 1;
    top: 0;
}

.keyvisual_scroll {
    position: absolute;
    z-index: 101;
    bottom: 80px;
    left: 0;
    width: 100%;
    height: 24px;
    text-indent: -10000px;
    background: url(../img/txt-scroll.png) no-repeat center top;
}

.animated {
    display: block !important;
}

video::-webkit-media-controls-play-button {
    display: none !important;
}

/* Footer
---------------------------------------------------------- */
#footer {
    background: #d8dee2;
    padding: 3.5rem 0 2rem;
    min-width: 1000px;
}

#footer .link_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    margin: 0 auto 8rem;
}

#footer .link_wrap .col {
    width: 12.5%;
    padding: 0 10px;
    text-align: center;
    letter-spacing: 0em;
}

#footer .link_wrap .col:first-child {
    width: 7%;
}

#footer .link_wrap .col:nth-child(2) {
    width: 13%;
}

#footer .link_wrap .col:nth-child(3) {
    width: 14%;
}

#footer .link_wrap .col:nth-child(4) {
    width: 11%;
}

#footer .link_wrap .col:nth-child(5) {
    width: 10%;
}

#footer .link_wrap .col:nth-child(6) {
    width: 16%;
}

#footer .link_wrap .col:nth-child(8) {
    width: 16%;
}

#footer .link_wrap .col.none {
    opacity: .3;
}

#footer .link_wrap .col.none a {
    pointer-events: none;
    cursor: default;
}

#footer .link_wrap h2 {
    font-size: 14px;
    color: #00465C;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.title-en {
    font-family: 'Oswald', sans-serif;
}

#footer .link_wrap h2 + ul {
    margin-top: 5px;
}
#footer .link_wrap h2 a:hover {
    opacity: .75;
}

#footer .link_wrap li {
    line-height: 1.5;
}

#footer .link_wrap li.title-en {
    line-height: 1.2;
    margin-bottom: 5px;
}
#footer .link_wrap li a {
    position: relative;
    display: inline-block;
    font-size: 12px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#footer .link_wrap li a:hover {
    opacity: .75;
}

#footer a {
    text-decoration: none;
    color: #00465C;
}

.footer_img, .footer_txt {
    text-align: center;
}

.footer_img {
    margin-bottom: 25px;
}

.footer_bottom {
    padding-top: 6rem;
    overflow: hidden;
}

.copy_right {
    display: inline-block;
    text-align: left;
    font-size: 9px;
    color: #727171;
    float: left;
}

.footer_link {
    float: right;
}

#footer .footer_link a {
    color: #727171;
    font-size: 11px;
    position: relative;
    padding-left: 7px;
}

#footer .footer_link a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 34%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent #727171;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 12px;
        line-height: 1.83em;
        letter-spacing: 0.06em;
    }
    .is_pc {
        display: none;
    }
    .is_sp {
        display: block;
    }
    header {
        padding: 0;
    }
    header #headerWrap {
        padding-bottom: 1.5%;
    }
    header #logo {
        width: 57%;
        height: auto;
        margin: 1.566% 0 0 1.5%;
    }
    header .btn_entry {
        width: 18%;
        top: 31%;
        right: 12%;
        height: auto;
    }
    .menuOpen {
        width: 4.4%;
        height: 3.1rem;
        margin-top: 4%;
        margin-right: 4%;
    }
    .menuOpen.active span:nth-of-type(1) {
        -webkit-animation: active-menu-bar01sp02 .75s forwards;
                animation: active-menu-bar01sp02 .75s forwards;
    }
    .menuOpen span:nth-of-type(2) {
        top: 46%;
    }
    .menuOpen.active span:nth-of-type(3) {
        -webkit-animation: active-menu-bar03sp02 .75s forwards;
                animation: active-menu-bar03sp02 .75s forwards;
    }
    header nav#main_menu {
        width: 100%;
        right: -100%;
        min-height: 100vh;
        padding: 30px 0;
        overflow-y: auto;
    }
    header nav#main_menu ul {
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
    }
    header nav#main_menu ul li.menu_title {
        font-size: 16px;
    }
    header nav#main_menu ul li {
        font-size: 13px;
        margin-bottom: 5px;
    }
    header nav#main_menu ul li a {
        display: inline-block;
    }
    .menuOpen:hover span {
        background-color: #fff;
    }
    #wrapper {
        min-width: 320px;
    }
    .inner {
        width: 100%;
        padding: 0 4%;
    }
    .footer_bottom {
        padding-top: 0;
    }
    #footer {
        min-width: 320px;
        padding: 15px 0;
    }
    #footer .link_wrap, .footer_img, .footer_txt {
        display: none;
    }
    .copy_right {
        padding-top: 0;
        font-size: 8px;
        text-align: center;
        float: none;
        display: block;
    }
    .footer_link {
        display: none;
    }
}

@media screen and (max-height: 600px) {
    header nav#main_menu ul {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 640px) {
    .menuOpen {
        width: 20px;
        height: 18px;
    }
    .menuOpen span {
        height: 2px;
        border-radius: 2px;
    }
    .menuOpen.active span:nth-of-type(1) {
        -webkit-animation: active-menu-bar01sp .75s forwards;
                animation: active-menu-bar01sp .75s forwards;
    }
    .menuOpen span:nth-of-type(2) {
        top: 46%;
    }
    .menuOpen.active span:nth-of-type(3) {
        -webkit-animation: active-menu-bar03sp .75s forwards;
                animation: active-menu-bar03sp .75s forwards;
    }
}

@media screen and (max-width: 468px) {
    header #headerBtn li .btn_entry {
        height: 2rem;
    }
}

@media screen and (max-width: 375px) {
    header .btn_entry {
        width: 22%;
        top: 26%;
        right: 13%;
    }
    .copy_right {
        font-size: 7px;
    }
}

@media screen and (max-width: 320px) {
    header .btn_entry {
        top: 29%;
    }
    header #logo {
        width: 60%;
        height: auto;
        margin: 1.766% 0 0 1.5%;
    }
}

@media screen and (min-width: 769px) {
    .show_sp {
        display: none !important;
    }
    .show_pc {
        display: inline-block !important;
    }
}
@media screen and (max-width: 768px) {
    .show_sp {
        display: inline-block !important;
    }
    .show_pc {
        display: none !important;
    }
}
.animation {
    -webkit-transition: all .5s cubic-bezier(0.42, 0, 1, 1) 0.1s;
       -o-transition: all .5s cubic-bezier(0.42, 0, 1, 1) 0.1s;
          transition: all .5s cubic-bezier(0.42, 0, 1, 1) 0.1s;
   opacity: 0;
    transform: matrix(0.8, 0, 0, 0.8, 0, 50);
}
.animation.fadeAnimate {
        opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
/*--------------------------
privacy
----------------------------*/
#modal-view{
  width:100%;
  height:120%;
  position: fixed;
  background-color: rgba( 0,0,0, 0.75 );
  z-index:10001;
  top:0;
  left:0;
}

.privacy-container *{
    line-height: 1.67;
}
.privacy-container {
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HiraKakuPro-W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",Osaka,sans-serif;
    position: fixed;
    line-height: 1.67;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 10001;
    max-width: 600px;
    width: 90%;
    height: auto;
    background: #f5f5f5;
    padding: 40px 38px;
    text-align: left;
    color: #000000;
    font-size: 16px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.privacy-prefix {
    margin: 0 0 40px;
}

.privacy-container, .privacy-container>* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#close-btn.privacy-btn-close{
    background: #00A0E9;
    margin: auto;
    display: block;
    max-width: 150px;
    border: 1px solid #00A0E9;
    text-align: center;
    padding: 5px 10px;
    transition: all .3s ease-out;
  }
#close-btn.privacy-btn-close:hover {
    background: #fff;
    color: #00A0E9 !important;
}
#close-btn.privacy-btn-close:hover .privacy-btn-copy {
    color: #00A0E9 !important;
}
#close-btn .privacy-btn-copy{
    font-size: 20px;    
}
#close-btn .privacy-btn-copy:hover{
    color: #00A0E9;
}

.privacy-anchor {
    display: inline-block;
  text-decoration: none!important;
}

.privacy-anchor:hover {
color: #00A0E9!important;
text-decoration:underline!important;
}

.btn-close-main{
  color: #000;
  text-decoration: none!important;
}

.privacy-btn-copy{
    color: #ffffff;
    text-decoration: none;
}
