/** works sp style **/
.page-work {
	#footer,
	#wrapper {
		min-width: 100%;
		overflow: hidden;
	}
}
.page_work {
	padding-bottom: 50px;
}
.keyvisual {
	/*min-height: 1px;*/
	padding: 70px 15px 20px;
	/*display: block;*/
	text-align: center;
}
.key-main {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}
.kv02 {
    top: 8%;
    left: 7%;
    width: 87%;
}
.kv03 {
	width: 100%;
	max-width: 40%;
	left: 30%;
	top: 32%;
}
.kv04 {
	max-width: 40%;
	left: 30%;
	top: 46%;
}
.kv-bd {
	    position: absolute;
    top: 4%;
    left: 4.55%;
    width: 92%;
    max-width: 655px;
    z-index: 2;
}
.icon-scroll {
	/*position: static;*/
	width: 50px;
	height: 50px;
	padding-top: 15px;
	left: 50%;
	transform: translateX(-50%);
	img {
		max-width: 15px;
	}
}
.main-txt {
	.txt-head {
		font-size: 14px;
	}
	.txt-note {
		font-size: 10px;
	}
}
.faq-ctn {
	display: block;
	margin: 0;
	&_col {
		width: 100%;
		margin: 0 0 40px;
		dt {
			font-size: 15px;
		}
		dd {
			font-size: 12px;
		}
	}
}
.section {
	padding: 0 15px;
	&:not(:last-child) {
		padding-bottom: 70px;
		&:after {
			width: 20px;
    		height: 28px;
    		bottom: 45px;
		}
	}
	&.section01 {
		.scTtl1 {
			margin: 0 -10px 25px -15px;
		}
	}
	&.section02 {
		.scTtl1 {
			margin: 0 -10px 25px -15px;
		}
	}
	&.section03 {
		.scTtl1 {
			margin: 0 -10px 25px -15px;
		}
	}
	&.section05 {
		.scTtl1 {
			margin: 0 -10px 25px -15px;
		}
	}
	&.section10 {
		.scTtl1 {
			margin: 0 -10px 25px -15px;
		}
	}
	&.section15 {
		.scTtl1 {
			margin: 0 -10px 25px -15px;
		}
	}
	&.section22 {
		.scTtl1 {
			margin: 0 -10px 25px -15px;
		}
	}
}