/** work pc style **/
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@mixin flex() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }       
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }      
    100% {
        -webkit-transform: translateY(0%);
    }   
}
@keyframes slideZoom {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
        visibility: hidden;
    }
    30% {
        -webkit-transform: scale(0.3);
        opacity: 0;
        visibility: hidden;
    }
    60% {
        -webkit-transform: scale(0.6);
        opacity: 0.6;
        visibility: hidden;
    }  
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
        visibility: visible;
    }    
}
@keyframes slideIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    30% {
        opacity: 0;
        visibility: hidden;
    }
    60% {
        opacity: 0.6;
        visibility: hidden;
    }  
    100% {
        opacity: 1;
        visibility: visible;
    }    
}
.scTtl {
	position: relative;
	&-main {
	}
	&-sub {
		position: absolute;
	}
}
.container {
	max-width: 950px;
	margin: 0 auto;
	padding: 0px 15px;
}
.page_work {
	background: #0666A9;
	color: #fff;
	padding-bottom: 160px;
}
.keyvisual {
	background: url(../img/kv-bg.svg) center center no-repeat;
	background-size: cover;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.key-main {
	align-self: center;
	position: relative;
	width: 700px;
	height: 682px;
}
.kv01 {
	width: 100%;
    max-width: 700px;
    /*position: absolute;
    top: 0;
    left: 0;*/
    animation-name: slideDown;
    -webkit-animation-name: slideDown; 
    animation-duration: .8s; 
    -webkit-animation-duration: .8s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;   
}
.kv02 {
	position: absolute;
    top: 52px;
    left: 46px;
    width: 100%;
    max-width: 614px;
    animation-name: slideZoom;
    -webkit-animation-name: slideZoom; 
    animation-duration: 1.5s; 
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;   

}
.kv03 {
	position: absolute;
	max-width: 250px;
	left: 32%;
	top: 34%;
	/*transform: translateX(-50%);*/
	animation-name: slideZoom;
    -webkit-animation-name: slideZoom; 
    animation-duration: 3s; 
    -webkit-animation-duration: 3s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease; 
}
.kv04 {
	position: absolute;
	max-width: 230px;
	left: 33.5%;
	top: 48%;
	/*transform: translateX(-50%);*/
	animation-name: slideZoom;
    -webkit-animation-name: slideZoom; 
    animation-duration: 4s; 
    -webkit-animation-duration: 4s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease; 
}
.kv-bd {
	position: absolute;
    top: 22px;
    left: 24px;
    width: 100%;
    max-width: 655px;
    z-index: 2;
    animation-name: slideZoom;
    -webkit-animation-name: slideZoom; 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease; 
}
@-webkit-keyframes hvr-pop {
	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}
@keyframes hvr-pop {
	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}
.icon-scroll {
	display: inline-block;
	background: #0666A9;
	width: 84px;
	height: 84px;
	text-align: center;
	border-radius: 50%;
	padding-top: 20px;
	box-sizing: border-box;
	position: absolute;
	right: 60px;
	bottom: 30px;
	img {
		max-width: 30px;
		display: inline-block;
	    vertical-align: top;
	    -webkit-transform: perspective(1px) translateZ(0);
	    transform: perspective(1px) translateZ(0);
	    -webkit-animation-name: hvr-pop;
	    animation-name: hvr-pop;
	    -webkit-animation-duration: 1s;
	    animation-duration: 1s;
	    -webkit-animation-timing-function: linear;
	    animation-timing-function: linear;
	    -webkit-animation-iteration-count: infinite;
	    animation-iteration-count: infinite;
	}
}
.main-txt {
	text-align: center;
	margin: 50px 0px 65px;
	line-height: 2;
	.txt-head {
		font-size: 18px;
	}
	.txt-note {
		font-size: 12px;
	}
}
.box-img {
	position: relative;
	width: 35%;
	.person {}
	.year {
		position: absolute;
	}
	.txt {
		position: absolute;
	}
}
.box-intro {
	/*display: inline-block;*/
	align-self: center;
	.tooltip {
		font-size: 15px;
		background: #fff;
		color: #000;
		border-radius: 8px;
		padding: 10px 20px;
		margin-bottom: 30px;
		line-height: 1.5;
		font-weight: 500;
		position: relative;
		display: inline-block;
		&:after {
			content: "";
		    position: absolute;
		    bottom: -20px;
		    left: 50px;
		    border-width: 0 0px 20px 20px;
		    border-style: solid;
		    border-color: transparent #fff;
		    display: block;
		    width: 0;
		    z-index: 1;
		}
		&:before {
			content: "";
		    position: absolute;
		    bottom: -29px;
		    width: 4px;
		    height: 40px;
		    left: 60px;
		    background: #0666A9;
		    transform: rotate(40deg);
		    z-index: 2;
		    border-radius: 8px;
		}
	}
	.intro-title {
		font-size: 26px;
		line-height: 1.5;
		font-weight: 500;
		padding-left: 30px;
	}
}
.flag {
	position: absolute;
	/*width: 20%;*/
}
.section {
	position: relative;
	&:not(:last-child) {
		padding-bottom: 180px;
		&:after {
			position: absolute;
			content: '';
			width: 40px;
			height: 56px;
			left: 50%;
			bottom: 60px;
			background: url(../img/icon-scroll.svg) center center no-repeat;
			background-size: cover;
			 -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
		}
	}
	.scTtl1 {
		margin-bottom: 50px; 
	}
	&.section02 {
		.scTtl1 {
			margin: 0 -20px 50px -25px; 
		}
	}
	&.section03 {
		.scTtl1 {
			margin: 0 -40px 50px -15px; 
		}
	}
	&.section05 {
		.scTtl1 {
			margin: 0 -15px 50px -25px; 
		}
	}
	&.section15 {
		.scTtl1 {
			margin: 0 -15px 50px -25px; 
		}
	}
	&.section22 {
		.scTtl1 {
			margin: 0 -55px 50px -20px; 
		}
	}
}
/*.section01 {
	.scTtl {
		.scTtl {
			&-main {
				width: calc(100% - 170px);
				.cls-12,
				.cls-13 {
					clip-path: none !important;
				}
			}
			&-sub {
				width: 166px;
				display: inline-block;
				right: 0;
				top: 50%;
				 -webkit-transform: translateY(-50%);
			      -ms-transform: translateY(-50%);
			       -o-transform: translateY(-50%);
			          transform: translateY(-50%);
			}
		}
	}
}*/
.section-title {
	display: flex;
	flex-flow: row wrap;
	position: relative;
	&.title01 {
		.box-img {
			width: 28%;
			.person {
				max-width: 260px;
			}
			.year {
				max-width: 230px;
				bottom: 60px;
    			left: 35px;
    			.cls-12,
				.cls-13 {
					clip-path: none !important;
				}
			}
			.txt {
				max-width: 170px;
			    left: 60%;
			    top: -2%;
			}
		}
		.box-intro {
			margin-top: 12%;
		}
		.title-content {
			width: calc(100% - 170px);
		}
		.flag {
			right: 0;
			top: 32%;
			width: 25%;
			width: 166px;
		}
	}
	&.title02 {
		flex-flow: row-reverse;
		.box-img {
			width: 28%;
			.person {
				max-width: 260px;
			}
			.year {
			    max-width: 230px;
			    bottom: 120px;
    			left: -15px;
			}
			.txt {
				max-width: 270px;
			    right: 80%;
			    top: -2%;
			}
		}
		.box-intro {
			margin-right: auto;
		}
		.flag {
			left: 43%;
			width: 30%;
			top: 30%;
		}
	}
	&.title03 {
		.box-img {
			width: 32%;
			.person {
				max-width: 260px;
			}
			.year {
				max-width: 200px;
				bottom: 90px;
    			left: 35px;
			}
			.txt {
				max-width: 230px;
			    left: 70%;
			    top: -2%;
			}
		}
		.box-intro {
			margin-top: 12%;
		}
		.flag {
			right: -30px;
			top: 42%;
			width: 25%;
		}
	}
	&.title05 {
		flex-flow: row-reverse;
		.box-img {
			width: 28%;
			.person {
				max-width: 260px;
			}
			.year {
			    max-width: 230px;
			    bottom: 262px;
			    left: -24px;
			}
			.txt {
				max-width: 270px;
			    right: 80%;
			    top: -2%;
			}
		}
		.box-intro {
			margin-right: auto;
		}
		.flag {
			left: 43%;
			width: 25%;
			top: 20%;
		}
	}
}
.faq-ctn {
	display: flex;
	flex-flow: row wrap;
	margin: 0 0 0 -80px;
	&_col {
		width: calc(50% - 80px);
		margin: 0 0 25px 80px;
		dt {
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 15px;
			position: relative;
			span {
				padding-bottom: 10px;
				display: block;
				position: relative;
				&:after {
					position: absolute;
					content: '';
					left: 12px;
					bottom: 0;
					width: calc(100% - 24px);
					width: -webkit-calc(100% - 24px);
					height: 2px;
					background: #fff;
					border-radius: 20px;
				}
			}
			&:after,
			&:before {
				position: absolute;
				content: '';
				bottom: 0;
				width: 9px;
				height: 2px;
				background: #fff;
				border-radius: 20px;
			}
			&:after {
				left: 0;
			}
			&:before {
				right: 0;
			}
		}
		dd {
			font-size: 15px;
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
	}
}