@import "./_work_pc.scss";
@media screen and (min-width: 769px) {
	.page-work {
		header #headerWrap {
			padding-bottom: 0;
		}
		header {
			#logo {
				background: #0666A9;
				padding: 1.5rem 1.7rem 1.5rem 1.7rem;
				margin: 0rem 0 0 0rem;
				a {
					line-height: 0;
				}
			}
			.btn_entry {
				top: 1rem;
			}
			.menuOpen {
				margin-top: 1rem;
			}
		}
		.entry-bg {
			background: #0666A9;
			width: 220px;
			height: 50px;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}
@media screen and (max-width: 768px) {
	.page-work {
		header #headerWrap {
			background: #0666A9;
			padding-bottom: 10px;
		}
	}
	@import "./_work_sp.scss";
}