/** work pc style **/
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden; }
  100% {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible; } }
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%); } }
@keyframes slideZoom {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
    visibility: hidden; }
  30% {
    -webkit-transform: scale(0.3);
    opacity: 0;
    visibility: hidden; }
  60% {
    -webkit-transform: scale(0.6);
    opacity: 0.6;
    visibility: hidden; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    visibility: visible; } }
@keyframes slideIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  30% {
    opacity: 0;
    visibility: hidden; }
  60% {
    opacity: 0.6;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
.scTtl {
  position: relative; }
  .scTtl-sub {
    position: absolute; }

.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0px 15px; }

.page_work {
  background: #0666A9;
  color: #fff;
  padding-bottom: 160px; }

.keyvisual {
  background: url(../img/kv-bg.svg) center center no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center; }

.key-main {
  align-self: center;
  position: relative;
  width: 700px;
  height: 682px; }

.kv01 {
  width: 100%;
  max-width: 700px;
  /*position: absolute;
  top: 0;
  left: 0;*/
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: .8s;
  -webkit-animation-duration: .8s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.kv02 {
  position: absolute;
  top: 52px;
  left: 46px;
  width: 100%;
  max-width: 614px;
  animation-name: slideZoom;
  -webkit-animation-name: slideZoom;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.kv03 {
  position: absolute;
  max-width: 250px;
  left: 32%;
  top: 34%;
  /*transform: translateX(-50%);*/
  animation-name: slideZoom;
  -webkit-animation-name: slideZoom;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease; }

.kv04 {
  position: absolute;
  max-width: 230px;
  left: 33.5%;
  top: 48%;
  /*transform: translateX(-50%);*/
  animation-name: slideZoom;
  -webkit-animation-name: slideZoom;
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease; }

.kv-bd {
  position: absolute;
  top: 22px;
  left: 24px;
  width: 100%;
  max-width: 655px;
  z-index: 2;
  animation-name: slideZoom;
  -webkit-animation-name: slideZoom;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease; }

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
.icon-scroll {
  display: inline-block;
  background: #0666A9;
  width: 84px;
  height: 84px;
  text-align: center;
  border-radius: 50%;
  padding-top: 20px;
  box-sizing: border-box;
  position: absolute;
  right: 60px;
  bottom: 30px; }
  .icon-scroll img {
    max-width: 30px;
    display: inline-block;
    vertical-align: top;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

.main-txt {
  text-align: center;
  margin: 50px 0px 65px;
  line-height: 2; }
  .main-txt .txt-head {
    font-size: 18px; }
  .main-txt .txt-note {
    font-size: 12px; }

.box-img {
  position: relative;
  width: 35%; }
  .box-img .year {
    position: absolute; }
  .box-img .txt {
    position: absolute; }

.box-intro {
  /*display: inline-block;*/
  align-self: center; }
  .box-intro .tooltip {
    font-size: 15px;
    background: #fff;
    color: #000;
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 30px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    display: inline-block; }
    .box-intro .tooltip:after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 50px;
      border-width: 0 0px 20px 20px;
      border-style: solid;
      border-color: transparent #fff;
      display: block;
      width: 0;
      z-index: 1; }
    .box-intro .tooltip:before {
      content: "";
      position: absolute;
      bottom: -29px;
      width: 4px;
      height: 40px;
      left: 60px;
      background: #0666A9;
      transform: rotate(40deg);
      z-index: 2;
      border-radius: 8px; }
  .box-intro .intro-title {
    font-size: 26px;
    line-height: 1.5;
    font-weight: 500;
    padding-left: 30px; }

.flag {
  position: absolute;
  /*width: 20%;*/ }

.section {
  position: relative; }
  .section:not(:last-child) {
    padding-bottom: 180px; }
    .section:not(:last-child):after {
      position: absolute;
      content: '';
      width: 40px;
      height: 56px;
      left: 50%;
      bottom: 60px;
      background: url(../img/icon-scroll.svg) center center no-repeat;
      background-size: cover;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
  .section .scTtl1 {
    margin-bottom: 50px; }
  .section.section02 .scTtl1 {
    margin: 0 -20px 50px -25px; }
  .section.section03 .scTtl1 {
    margin: 0 -40px 50px -15px; }
  .section.section05 .scTtl1 {
    margin: 0 -15px 50px -25px; }
  .section.section15 .scTtl1 {
    margin: 0 -15px 50px -25px; }
  .section.section22 .scTtl1 {
    margin: 0 -55px 50px -20px; }

/*.section01 {
	.scTtl {
		.scTtl {
			&-main {
				width: calc(100% - 170px);
				.cls-12,
				.cls-13 {
					clip-path: none !important;
				}
			}
			&-sub {
				width: 166px;
				display: inline-block;
				right: 0;
				top: 50%;
				 -webkit-transform: translateY(-50%);
			      -ms-transform: translateY(-50%);
			       -o-transform: translateY(-50%);
			          transform: translateY(-50%);
			}
		}
	}
}*/
.section-title {
  display: flex;
  flex-flow: row wrap;
  position: relative; }
  .section-title.title01 .box-img {
    width: 28%; }
    .section-title.title01 .box-img .person {
      max-width: 260px; }
    .section-title.title01 .box-img .year {
      max-width: 230px;
      bottom: 60px;
      left: 35px; }
      .section-title.title01 .box-img .year .cls-12,
      .section-title.title01 .box-img .year .cls-13 {
        clip-path: none !important; }
    .section-title.title01 .box-img .txt {
      max-width: 170px;
      left: 60%;
      top: -2%; }
  .section-title.title01 .box-intro {
    margin-top: 12%; }
  .section-title.title01 .title-content {
    width: calc(100% - 170px); }
  .section-title.title01 .flag {
    right: 0;
    top: 32%;
    width: 25%;
    width: 166px; }
  .section-title.title02 {
    flex-flow: row-reverse; }
    .section-title.title02 .box-img {
      width: 28%; }
      .section-title.title02 .box-img .person {
        max-width: 260px; }
      .section-title.title02 .box-img .year {
        max-width: 230px;
        bottom: 120px;
        left: -15px; }
      .section-title.title02 .box-img .txt {
        max-width: 270px;
        right: 80%;
        top: -2%; }
    .section-title.title02 .box-intro {
      margin-right: auto; }
    .section-title.title02 .flag {
      left: 43%;
      width: 30%;
      top: 30%; }
  .section-title.title03 .box-img {
    width: 32%; }
    .section-title.title03 .box-img .person {
      max-width: 260px; }
    .section-title.title03 .box-img .year {
      max-width: 200px;
      bottom: 90px;
      left: 35px; }
    .section-title.title03 .box-img .txt {
      max-width: 230px;
      left: 70%;
      top: -2%; }
  .section-title.title03 .box-intro {
    margin-top: 12%; }
  .section-title.title03 .flag {
    right: -30px;
    top: 42%;
    width: 25%; }
  .section-title.title05 {
    flex-flow: row-reverse; }
    .section-title.title05 .box-img {
      width: 28%; }
      .section-title.title05 .box-img .person {
        max-width: 260px; }
      .section-title.title05 .box-img .year {
        max-width: 230px;
        bottom: 262px;
        left: -24px; }
      .section-title.title05 .box-img .txt {
        max-width: 270px;
        right: 80%;
        top: -2%; }
    .section-title.title05 .box-intro {
      margin-right: auto; }
    .section-title.title05 .flag {
      left: 43%;
      width: 25%;
      top: 20%; }

.faq-ctn {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 0 -80px; }
  .faq-ctn_col {
    width: calc(50% - 80px);
    margin: 0 0 25px 80px; }
    .faq-ctn_col dt {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
      position: relative; }
      .faq-ctn_col dt span {
        padding-bottom: 10px;
        display: block;
        position: relative; }
        .faq-ctn_col dt span:after {
          position: absolute;
          content: '';
          left: 12px;
          bottom: 0;
          width: calc(100% - 24px);
          width: -webkit-calc(100% - 24px);
          height: 2px;
          background: #fff;
          border-radius: 20px; }
      .faq-ctn_col dt:after, .faq-ctn_col dt:before {
        position: absolute;
        content: '';
        bottom: 0;
        width: 9px;
        height: 2px;
        background: #fff;
        border-radius: 20px; }
      .faq-ctn_col dt:after {
        left: 0; }
      .faq-ctn_col dt:before {
        right: 0; }
    .faq-ctn_col dd {
      font-size: 15px; }
      .faq-ctn_col dd:not(:last-child) {
        margin-bottom: 25px; }

@media screen and (min-width: 769px) {
  .page-work header #headerWrap {
    padding-bottom: 0; }
  .page-work header #logo {
    background: #0666A9;
    padding: 1.5rem 1.7rem 1.5rem 1.7rem;
    margin: 0rem 0 0 0rem; }
    .page-work header #logo a {
      line-height: 0; }
  .page-work header .btn_entry {
    top: 1rem; }
  .page-work header .menuOpen {
    margin-top: 1rem; }
  .page-work .entry-bg {
    background: #0666A9;
    width: 220px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0; } }
@media screen and (max-width: 768px) {
  .page-work header #headerWrap {
    background: #0666A9;
    padding-bottom: 10px; }

  /** works sp style **/
  .page-work #footer,
  .page-work #wrapper {
    min-width: 100%;
    overflow: hidden; }

  .page_work {
    padding-bottom: 50px; }

  .keyvisual {
    /*min-height: 1px;*/
    padding: 70px 15px 20px;
    /*display: block;*/
    text-align: center; }

  .key-main {
    width: 100%;
    height: auto;
    margin-bottom: 30px; }

  .kv02 {
    top: 8%;
    left: 7%;
    width: 87%; }

  .kv03 {
    width: 100%;
    max-width: 40%;
    left: 30%;
    top: 32%; }

  .kv04 {
    max-width: 40%;
    left: 30%;
    top: 46%; }

  .kv-bd {
    position: absolute;
    top: 4%;
    left: 4.55%;
    width: 92%;
    max-width: 655px;
    z-index: 2; }

  .icon-scroll {
    /*position: static;*/
    width: 50px;
    height: 50px;
    padding-top: 15px;
    left: 50%;
    transform: translateX(-50%); }
    .icon-scroll img {
      max-width: 15px; }

  .main-txt .txt-head {
    font-size: 14px; }
  .main-txt .txt-note {
    font-size: 10px; }

  .faq-ctn {
    display: block;
    margin: 0; }
    .faq-ctn_col {
      width: 100%;
      margin: 0 0 40px; }
      .faq-ctn_col dt {
        font-size: 15px; }
      .faq-ctn_col dd {
        font-size: 12px; }

  .section {
    padding: 0 15px; }
    .section:not(:last-child) {
      padding-bottom: 70px; }
      .section:not(:last-child):after {
        width: 20px;
        height: 28px;
        bottom: 45px; }
    .section.section01 .scTtl1 {
      margin: 0 -10px 25px -15px; }
    .section.section02 .scTtl1 {
      margin: 0 -10px 25px -15px; }
    .section.section03 .scTtl1 {
      margin: 0 -10px 25px -15px; }
    .section.section05 .scTtl1 {
      margin: 0 -10px 25px -15px; }
    .section.section10 .scTtl1 {
      margin: 0 -10px 25px -15px; }
    .section.section15 .scTtl1 {
      margin: 0 -10px 25px -15px; }
    .section.section22 .scTtl1 {
      margin: 0 -10px 25px -15px; } }

/*# sourceMappingURL=work.css.map */
