/* Reponsive width: 767px
---------------------------------------------------------- */
@media screen and (max-width: 767px) {
    .product_wrap .product_heading {
        max-width: 640px;
        width: 100%;
        height: 100%;
        margin-bottom: 0;
    }
    .product_wrap .product_heading .product_heading_txt01 {
        padding-top: 15%;
    }
    .product_wrap .product_heading .product_heading_txt02 {
        max-width: 500px;
        width: 100%;
        padding: 0 10%;
        margin: 2% auto 7%;
    }
    .product_wrap .product_heading .product_heading_txt03 {
        padding: 0 5%;
    }
    .product_wrap .product_heading .product_heading_img01.is_pc, .product_wrap .product_heading .product_heading_img02.is_pc {
        display: none !important;
    }
    .product_wrap .product_heading_bottom {
        min-height: auto;
    }
    .product_wrap .product_heading_bottom .product_heading_txt04 {
        padding: 10% 5%;
    }
    .product_wrap .product_heading_bottom .product_heading_btn {
        max-width: 50px;
        bottom: -17px;
    }
    .product_wrap .product_map {
        width: 100%;
        padding-bottom: 30%;
    }
    .product_wrap .product_map .product_map_img img {
        width: 100%;
    }
    .product_wrap .product_map .map_icon {
        width: 11.564%;
        height: 11.096%;
    }
    .product_wrap .product_map .map01 {
        top: 31%;
        right: 5%;
    }
    .product_wrap .product_map .map02 {
        top: 20%;
        left: 24%;
    }
    .product_wrap .product_map .map03 {
        top: 38%;
        left: 53%;
    }
    .product_wrap .product_map .map04 {
        top: 15%;
        left: 65%;
    }
    .product_wrap .product_map .map05 {
        top: 13%;
        left: 35%;
    }
    .product_wrap .product_map .map06 {
        top: 17%;
        left: 50%;
    }
    .product_wrap .product_map .map07 {
        top: 48%;
        left: 34%;
    }
    .product_wrap .product_map .map08 {
        top: 1%;
        left: 50%;
    }
    .product_wrap .product_map .map09 {
        top: 19%;
        left: 9%;
    }
    .product_wrap .modal {
        padding: 0 7%;
    }
    .product_wrap .modal .modal_content {
        padding: 5% 4% 4%;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    .product_wrap .modal .modal_content .close {
        width: 30px;
        height: 30px;
        font-size: 30px;
        top: 10px;
    }
    .product_wrap .modal .modal_content .modal_title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .product_wrap .modal .modal_content .modal_txt01 {
        font-size: 12px;
    }
    .product_wrap .modal .modal_content .modal_txt01 span {
        font-size: 11px;
    }
    .product_wrap .modal .modal_content .modal_img {
        padding: 0 5%;
        max-width: 138px;
        width: 50%;
        margin: 0 auto;
    }
    .product_wrap .modal .modal_content .modal_txt02 {
        font-size: 11px;
        margin-bottom: 11px;
    }
    .product_wrap .modal .modal_content .modal_txt03 {
        font-size: 11px;
    }
}
