/* Product pages
---------------------------------------------------------- */
.product .menuOpen span {
    background: #00465C;
}

.product header.change {
    background: rgba(255, 255, 255, 0.8);
}

#main {
    background: #F6F5F5;
    padding-bottom: 1px;
}

.product_wrap .product_heading {
    width: 1400px;
    height: 956px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.product_wrap .product_heading .product_heading_txt01 {
    padding-top: 104px;
    display: none;
}

.product_wrap .product_heading .product_heading_txt02 {
    position: relative;
    margin-top: -22px;
    margin-bottom: 40px;
    display: none;
}

.product_wrap .product_heading .product_heading_txt03 {
    margin-bottom: 50px;
    display: none;
}

.product_wrap .product_heading .product_heading_img01 {
    position: absolute;
    left: 70px;
    top: 450px;
    display: none;
}

.product_wrap .product_heading .product_heading_img02 {
    position: absolute;
    right: 70px;
    top: 470px;
    display: none;
}

.product_wrap .product_heading_bottom {
    background: url(../img/bg_product_heading_txt04.png) no-repeat center;
    background-size: cover;
    text-align: center;
    margin-bottom: 127px;
    position: relative;
    min-height: 168px;
}

.product_wrap .product_heading_bottom .product_heading_txt04 {
    padding: 36px 0 45px;
    display: none;
}

.product_wrap .product_heading_bottom .product_heading_btn {
    position: absolute;
    max-width: 62px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -26px;
}

.product_wrap .product_map {
    width: 1060px;
    margin: 0 auto;
    padding-bottom: 135px;
    position: relative;
}

.product_wrap .product_map .map_icon {
    position: absolute;
    display: inline-block;
    width: 88px;
    height: 100px;
    background: url(../img/icon_map.png) no-repeat;
    background-size: contain;
    text-indent: -99999px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: none;
    cursor: pointer;
    outline: none;
}

.product_wrap .product_map .map_icon:hover {
    background: url(../img/icon_map_hover.png) no-repeat;
    background-size: contain;
}

.product_wrap .product_map .map01 {
    top: 274px;
    right: 190px;
}

.product_wrap .product_map .map02 {
    top: 178px;
    left: 338px;
}

.product_wrap .product_map .map03 {
    top: 339px;
    left: 550px;
}

.product_wrap .product_map .map04 {
    top: 132px;
    left: 648px;
}

.product_wrap .product_map .map05 {
    top: 110px;
    left: 422px;
}

.product_wrap .product_map .map06 {
    top: 155px;
    left: 539px;
}

.product_wrap .product_map .map07 {
    top: 432px;
    left: 411px;
}

.product_wrap .product_map .map08 {
    top: 8px;
    left: 539px;
}

.product_wrap .product_map .map09 {
    top: 177px;
    left: 223px;
}

.product_wrap .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
}

.product_wrap .modal .modal_content {
    max-width: 606px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #888888;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 5px #888888;
            box-shadow: 3px 3px 5px #888888;
    text-align: center;
    font-weight: bold;
    padding: 40px 30px 30px;
    position: relative;
    top: 10%;
    background: rgba(255, 255, 255, 0.8);
}

.product_wrap .modal .modal_content .close {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 48px;
    height: 48px;
    font-size: 48px;
    color: #aaa;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.product_wrap .modal .modal_content .close:hover, .product_wrap .modal .modal_content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.product_wrap .modal .modal_content .modal_title {
    font-size: 39px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product_wrap .modal .modal_content .modal_txt01 {
    font-size: 20px;
    margin-bottom: 15px;
}

.product_wrap .modal .modal_content .modal_txt01 span {
    font-size: 15px;
}

.product_wrap .modal .modal_content .modal_img {
    margin-bottom: 10px;
}

.product_wrap .modal .modal_content .modal_txt02 {
    font-size: 15px;
    margin-bottom: 30px;
    letter-spacing: -0.02em;
}

.product_wrap .modal .modal_content .modal_txt03 {
    font-size: 15px;
    text-align: left;
    letter-spacing: -0.02em;
}
