/* Guide pages
---------------------------------------------------------- */
.page_guide .keyvisual {
    background: url(../../common/img/bg_keyvisual_page.png) no-repeat center;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 290px;
}

.keyvisual_guide {
    margin-top: 40px;
}

.page_guide #main {
    background: url(../../common/img/bg_main_page.png) repeat top center;
    padding-bottom: 70px;
}

.guide_wrap {
    max-width: 860px;
    margin: 0 auto;
    padding: 92px 0 30px;
}

.guide_content .guide_content_item {
    display: table;
    width: 100%;
    border-top: 1px solid #231815;
}

.guide_content .guide_content_item a {
    display: inline-block;
}

.guide_content .guide_content_item a:hover {
    color: #00465C;
}

.guide_content .guide_content_item:last-child {
    border-bottom: 1px solid #231815;
}

.guide_content .guide_content_item .header {
    display: table-cell;
    width: 178px;
    background: #E6EBEE;
    color: #231815;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    padding: 13px 20px;
    vertical-align: top;
    line-height: 1.53;
    letter-spacing: 0.03em;
}

.guide_content .guide_content_item .content {
    display: table-cell;
    padding: 13px 30px;
    word-break: break-all;
    background: #fff;
    color: #231815;
    font-size: 17px;
    line-height: 1.53;
    font-weight: 500;
    letter-spacing: 0.03em;
}

.guide_content .guide_content_item .content p {
    margin-bottom: 25px;
}

.guide_content .guide_content_item .content p:last-child {
    margin-bottom: 0;
}

.guide_content ul {
    padding-left: 2rem;
}

.guide_content ul li {
    list-style: disc;
}
