@media screen and (max-width: 767px) {
    .page_guide .keyvisual {
        background: url(../../common/img/bg_keyvisual_page_sp.png) no-repeat;
        background-size: cover;
        height: 60vw;
        padding: 6% 10% 0;
    }
    .page_guide #main {
        padding-bottom: 0;
    }
    .guide_wrap {
        padding: 6%;
    }
    .guide_content .guide_content_item {
        display: block;
    }
    .guide_content .guide_content_item .header {
        display: block;
        border-bottom: 1px solid #231815;
        width: 100%;
        padding: 5px 10px;
        font-size: 13px;
    }
    .guide_content .guide_content_item .content {
        display: block;
        background: none;
        padding: 10px 0 20px;
        font-size: 13px;
    }
    .guide_content .guide_content_item .content p {
        margin-bottom: 0;
    }
    .mb15_sp {
        margin-bottom: 10px !important;
    }
    .guide_content .guide_content_item:last-child {
        border-bottom: none;
    }
}
