@media screen and (max-width: 767px) {
    .page_technology .keyvisual .keyvisual_technology {
        max-width: 583px;
        width: 90%;
        min-height: 94vw;
    }
    .page_technology .keyvisual .keyvisual_technology .keyvisual_technology_inner .keyvisual_txt01_before {
        width: 10%;
        left: 18%;
        top: 8vw;
    }
    .page_technology .keyvisual .keyvisual_technology .keyvisual_technology_inner .keyvisual_txt01_after {
        width: 10%;
        right: 18%;
        top: 8vw;
    }
    .page_technology .keyvisual .keyvisual_technology .keyvisual_technology_inner .keyvisual_txt01 {
        width: 40%;
        margin: 0 auto;
        top: 8vw;
    }
    .page_technology .keyvisual .keyvisual_technology .keyvisual_technology_inner .keyvisual_txt02 {
        width: 83%;
        margin: 0 auto;
        top: 30vw;
    }
    .page_technology .keyvisual .keyvisual_technology .keyvisual_technology_inner .keyvisual_txt03 {
        width: 57%;
        margin: 0 auto;
        top: 53vw;
    }
    .page_technology .keyvisual .keyvisual_technology .keyvisual_technology_inner .keyvisual_txt04 {
        width: 81%;
        margin: 0 auto;
        top: 68vw;
    }
    .page_technology #main {
        padding: 20% 4% 30%;
    }
    .page_technology #main #accordion .accordion_item {
        background: url(../img/bg_accordion03_sp.png) repeat-y center top;
        background-size: 100%;
        margin-bottom: 20vw;
    }
    .page_technology #main #accordion .accordion_item:before {
        background: url(../img/bg_accordion01_sp.png) no-repeat center top;
        background-size: 100%;
    }
    .page_technology #main #accordion .accordion_item:after {
        background: url(../img/bg_accordion02_sp.png) no-repeat center bottom;
        background-size: 100%;
    }
    .page_technology #main #accordion .accordion_item.item03 {
        background: url(../img/bg_accordion06_sp.png) repeat-y center top;
        background-size: 100%;
        margin-bottom: 0;
    }
    .page_technology #main #accordion .accordion_item.item03:before {
        background: url(../img/bg_accordion04_sp.png) no-repeat center top;
        background-size: 100%;
    }
    .page_technology #main #accordion .accordion_item.item03:after {
        background: url(../img/bg_accordion05_sp.png) no-repeat center bottom;
        background-size: 100%;
    }
    .page_technology #main #accordion .accordion_item .accordion_item_title {
        max-width: 515px;
        width: 92%;
        margin-bottom: 20px;
    }
    .page_technology #main #accordion .accordion_item .accordion_item_title:after {
        width: 12px;
        height: 10px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content {
        padding: 0 0 5%;
    }
    .page_technology #main #accordion .accordion_item .accordion_content p {
        font-size: 12px;
        line-height: 1.75;
        padding: 0 4%;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content01 .txt01 {
        font-size: 12px;
        line-height: 1.75;
        margin-bottom: 20px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content01 .img {
        margin-bottom: 15px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content01 p {
        margin-bottom: 20px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content02 .txt01 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content02 .txt02 {
        margin-bottom: 15px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content02 .txt03 {
        margin-bottom: 10px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content02 .txt04 {
        margin-bottom: 25px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content02 .txt05 {
        margin-bottom: 15px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content02 .list_item01 {
        padding: 0 4%;
        margin: 0 auto 30px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content02 .list_item01 dl {
        padding: 1px 0;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content02 .list_item01 dl dt {
        display: table-caption;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content02 .list_item01 dl dt span {
        font-size: 12px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content02 .list_item01 dl dd {
        font-size: 12px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content02 .list_item01 dl dd span {
        width: 40%;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content02 .text_box01 {
        margin-bottom: 30px;
        max-width: 232px;
        width: 83%;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content02 .text_box01 p {
        font-size: 11px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content02 .img01 {
        margin-bottom: 20px;
        padding: 0 4%;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content02 .img03 {
        margin-bottom: 15px;
        padding: 0 4%;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content02 .img04 {
        margin-bottom: 10px;
        padding: 0 10%;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .img01 {
        margin-bottom: 10px;
        padding: 0 4%;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .img02 {
        margin-bottom: 15px;
        text-align: center;
        padding: 0 4%;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .txt04 {
        margin-bottom: 20px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .txt05 {
        margin-bottom: 20px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .txt06 {
        margin-bottom: 15px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .txt07 {
        margin-bottom: 15px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .txt08 {
        margin-bottom: 25px;
        line-height: 1.56;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .txt08 span {
        font-weight: bold;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .txt09 {
        margin-bottom: 15px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .txt10 {
        margin-bottom: 40px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .txt10 p {
        font-size: 12px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 h5 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .txt01 {
        margin-bottom: 10px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .txt01 span {
        font-size: 14px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .txt02 span {
        font-size: 12px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .author {
        padding: 0;
        margin-bottom: 25px;
        text-align: center;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .author img {
        float: none;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .author p {
        padding: 0 4%;
        font-size: 12px;
        line-height: 1.84;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .author p.author_text_txt02 {
        font-size: 13px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .author p.author_text_txt03 {
        text-align: left;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .img_box {
        padding: 0 4%;
        display: block;
        margin-bottom: 30px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .img_box .box_left {
        display: block;
        vertical-align: middle;
        width: 100%;
        text-align: center;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .img_box .box_left p {
        padding-top: 0;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .img_box .box_left p span {
        position: relative;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .img_box .box_right {
        display: block;
        vertical-align: middle;
        padding-left: 0;
        text-align: center;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .img_box img {
        margin-bottom: 5px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .img_box p {
        padding: 0;
        margin-bottom: 15px;
        font-size: 12px;
        text-align: left;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .img_box p span {
        font-size: 13px;
        display: block;
        text-align: center;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .txt03 {
        margin-bottom: 20px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .txt03 .txt03_inner {
        border-radius: 5px;
    }
    .page_technology #main #accordion .accordion_item .accordion_content.content03 .txt03 .txt03_inner span {
        border: 1px solid #fff;
        display: block;
        border-radius: 5px;
        font-size: 13px;
        color: #fff;
        line-height: 1.26;
        padding: 5px 15px;
        font-weight: bold;
    }
    .key-note {
        font-size: 10px;
        bottom: -20px;
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .page_technology #main #accordion .accordion_item {
        margin-bottom: 17vw;
    }
    .page_technology #main #accordion .accordion_item:before {
        top: -20px;
    }
    .page_technology #main #accordion .accordion_item:after {
        bottom: -23px;
    }
}
