/* Technology pages
---------------------------------------------------------- */
.page_technology .keyvisual {
    background: url(../img/bg_main.png) no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.page_technology .keyvisual .keyvisual_technology {
    position: absolute;
    top: 50%;
    max-width: 867px;
    min-height: 587px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.page_technology .keyvisual .keyvisual_technology .keyvisual_technology_inner {
    position: relative;
    text-align: center;
}

.page_technology .keyvisual .keyvisual_technology .keyvisual_technology_inner .keyvisual_bg {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.page_technology .keyvisual .keyvisual_technology .keyvisual_technology_inner .keyvisual_txt01_before {
    position: absolute;
    top: 50px;
    left: 226px;
    display: none;
}

.page_technology .keyvisual .keyvisual_technology .keyvisual_technology_inner .keyvisual_txt01_after {
    position: absolute;
    top: 50px;
    right: 223px;
    display: none;
}

.page_technology .keyvisual .keyvisual_technology .keyvisual_technology_inner .keyvisual_txt01 {
    position: absolute;
    left: 0;
    right: 0;
    top: 45px;
    display: none;
}

.page_technology .keyvisual .keyvisual_technology .keyvisual_technology_inner .keyvisual_txt02 {
    position: absolute;
    left: 0;
    right: 0;
    top: 165px;
    display: none;
}

.page_technology .keyvisual .keyvisual_technology .keyvisual_technology_inner .keyvisual_txt03 {
    position: absolute;
    left: 0;
    right: 0;
    top: 350px;
    display: none;
}

.page_technology .keyvisual .keyvisual_technology .keyvisual_technology_inner .keyvisual_txt04 {
    position: absolute;
    left: 0;
    right: 0;
    top: 440px;
    display: none;
}

.page_technology .keyvisual .keyvisual_scroll {
    bottom: 35px;
}

.page_technology #main {
    background: #E6EDF0;
    padding: 121px 0 230px;
}

.page_technology #main #accordion {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.page_technology #main #accordion .accordion_item {
    margin-bottom: 116px;
    background: url(../img/bg_accordion03.png) repeat-y center top;
    background-size: contain;
    position: relative;
    padding: 0 14.5px;
}

.page_technology #main #accordion .accordion_item:before {
    content: '';
    width: 100%;
    height: 45px;
    background: url(../img/bg_accordion01.png) no-repeat center top;
    background-size: contain;
    position: absolute;
    top: -33px;
    left: 0;
}

.page_technology #main #accordion .accordion_item:after {
    content: '';
    width: 100%;
    height: 45px;
    background: url(../img/bg_accordion02.png) no-repeat center bottom;
    background-size: contain;
    position: absolute;
    bottom: -34px;
    left: 0;
    z-index: 0;
}

.page_technology #main #accordion .accordion_item.item03 {
    background: url(../img/bg_accordion06.png) repeat-y center top;
    background-size: contain;
    margin-bottom: 0;
}

.page_technology #main #accordion .accordion_item.item03:before {
    background: url(../img/bg_accordion04.png) no-repeat center top;
    background-size: contain;
}

.page_technology #main #accordion .accordion_item.item03:after {
    background: url(../img/bg_accordion05.png) no-repeat center bottom;
    background-size: contain;
}

.page_technology #main #accordion .accordion_item .accordion_item_title {
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 931px;
    margin-bottom: 40px;
}

.page_technology #main #accordion .accordion_item .accordion_item_title:after {
    content: '';
    width: 17px;
    height: 15px;
    background: url(../img/icon_accordion_off.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 2%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.page_technology #main #accordion .accordion_item .accordion_item_title:hover {
    opacity: .7;
}

.page_technology #main #accordion .accordion_item .accordion_content {
    display: none;
    padding: 0px 0 10px;
}

.page_technology #main #accordion .accordion_item .accordion_content p {
    font-size: 16px;
    line-height: 1.9375;
    color: #595757;
    padding: 0 105px;
}

.page_technology #main #accordion .accordion_item .accordion_content .txt_center {
    text-align: center;
}

.page_technology #main #accordion .accordion_item .accordion_content .txt_bold {
    font-weight: bold;
}

.page_technology #main #accordion .accordion_item .accordion_content .img {
    text-align: center;
}

.page_technology #main #accordion .accordion_item .accordion_content.content01 .txt01 {
    font-size: 18px;
    line-height: 2.1;
    font-weight: bold;
    margin-bottom: 60px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content01 .img {
    margin-bottom: 25px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content01 p {
    margin-bottom: 50px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .txt01 {
    font-size: 30px;
    line-height: 1.46;
    font-weight: bold;
    color: #11B8D7;
    margin-bottom: 20px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .txt02 {
    margin-bottom: 35px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .txt03 {
    margin-bottom: 20px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .txt04 {
    margin-bottom: 45px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .txt05 {
    margin-bottom: 30px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .list_item01 {
    max-width: 465px;
    width: 100%;
    margin: 0 auto 55px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .list_item01 dl {
    display: table;
    width: 100%;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .list_item01 dl dt {
    display: table-cell;
    width: 80px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .list_item01 dl dt span {
    background: #11B8D7;
    border-radius: 5px;
    padding: 2px 10px;
    color: #fff;
    font-size: 16px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .list_item01 dl dd {
    display: table-cell;
    font-size: 16px;
    color: #595757;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .list_item01 dl dd span {
    width: 157px;
    display: inline-block;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .list_item01.item02 {
    max-width: 533px;
    margin: 0 auto 30px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .list_item01.item02 dl dt {
    width: 115px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .text_box01 {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    background: #11B8D7;
    border-radius: 10px;
    padding: 10px 0;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .text_box01:before {
    content: '';
    position: absolute;
    top: -18px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8.5px 18px 8.5px;
    border-color: transparent transparent #11B8D7 transparent;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .text_box01 p {
    color: #fff;
    padding: 0;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.05em;
    margin-bottom: 0;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .img01 {
    margin-bottom: 50px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .img03 {
    margin-bottom: 25px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content02 .img04 {
    margin-bottom: 10px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .img01 {
    margin-bottom: 20px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .img02 {
    margin-bottom: 35px;
    text-align: center;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .txt04 {
    margin-bottom: 50px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .txt05 {
    margin-bottom: 40px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .txt06 {
    margin-bottom: 25px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .txt07 {
    margin-bottom: 25px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .txt08 {
    margin-bottom: 45px;
    line-height: 1.56;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .txt08 span {
    font-weight: bold;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .txt09 {
    margin-bottom: 30px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .txt10 {
    margin-bottom: 80px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .txt10 p {
    font-size: 14px;
    line-height: 1.357;
    margin-bottom: 10px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 h4 {
    text-align: center;
    font-size: 40px;
    line-height: 1.425;
    color: #231815;
    font-weight: bold;
    margin-bottom: 20px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 h5 {
    text-align: center;
    font-size: 30px;
    line-height: 1.46;
    color: #231815;
    font-weight: bold;
    margin-bottom: 20px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .txt01 {
    text-align: center;
    margin-bottom: 20px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .txt01 span {
    display: inline-block;
    background: #11B8D7;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 15px;
    line-height: 1;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .txt02 {
    text-align: center;
    margin-bottom: 5px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .txt02 span {
    display: inline-block;
    border: 1px solid #231815;
    border-radius: 5px;
    padding: 5px 15px;
    line-height: 1;
    font-size: 16px;
    font-weight: bold;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .author {
    padding: 0 100px 0 120px;
    overflow: hidden;
    margin-bottom: 30px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .author img {
    float: left;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .author p {
    padding-left: 180px;
    padding-right: 0;
    font-size: 13px;
    line-height: 1.84;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .author p.author_text_txt02 {
    font-size: 16px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .img_box {
    padding: 0 150px;
    display: table;
    width: 100%;
    margin-bottom: 40px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .img_box .box_left {
    display: table-cell;
    vertical-align: middle;
    width: 212px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .img_box .box_left p {
    position: relative;
    padding-top: 5px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .img_box .box_left p span {
    position: absolute;
    left: -50px;
    display: block;
    width: 130%;
    top: 0;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .img_box .box_right {
    display: table-cell;
    vertical-align: middle;
    padding-left: 40px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .img_box img {
    margin-bottom: 5px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .img_box p {
    padding: 0;
    margin-bottom: 40px;
    font-size: 13px;
    line-height: 1.84;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .img_box p span {
    font-size: 16px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .txt03 {
    text-align: center;
    margin-bottom: 30px;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .txt03 .txt03_inner {
    background: #11B8D7;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
}

.page_technology #main #accordion .accordion_item .accordion_content.content03 .txt03 .txt03_inner span {
    border: 1px solid #fff;
    display: block;
    border-radius: 10px;
    font-size: 26px;
    color: #fff;
    line-height: 1.26;
    padding: 10px 30px;
    font-weight: bold;
}

.page_technology #main #accordion .accordion_item.open .accordion_item_title:after {
    -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
}

.key-note {
    font-size: 12px;
    max-width: 1000px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: right;
    color: #fff;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}