/* Top pages
---------------------------------------------------------- */
/* Key visual
---------------------------------------------------------- */
.keyvisual {
    position: relative;
    height: 100vh;
}

.keyvisual_logo {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    text-align: center;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.keyvisual_video {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.keyvisual_video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.page_top #main {
    background: url(../img/bg_main_pc.png) no-repeat top center;
    background-size: cover;
    position: relative;
    z-index: 100;
    margin-top: -140px;
}

#anchor01 {
    height: 1px;
    top: 60px;
    position: absolute;
    z-index: 1000;
    width: 100%;
}

.top_copy {
    padding: 180px 0 190px;
}

.top_copy_txt {
    max-width: 671px;
    margin: 0 auto 50px;
}

.top_copy_txt .text_img {
    margin-bottom: 32px;
    line-height: 1;
}

.top_copy_txt .text_img span {
    display: inline-block;
    height: auto;
    position: relative;
    opacity: 0;
}

.top_copy_txt .text_img span.text01 {
    width: 16px;
}

.top_copy_txt .text_img span.text02 {
    width: 13px;
    top: 3px;
}

.top_copy_txt .text_img span.text03 {
    width: 13px;
    top: 2px;
}

.top_copy_txt .text_img span.text04 {
    width: 15px;
    top: 3px;
}

.top_copy_txt .text_img span.text05 {
    width: 11px;
    top: 0;
}

.top_copy_txt .text_img span.text06 {
    width: 19px;
    top: 6px;
}

.top_copy_txt .text_img span.text07 {
    width: 6px;
    top: 11px;
    left: -5px;
}

.top_copy_txt .text_img span.text08 {
    width: 16px;
    top: 0;
}

.top_copy_txt .text_img span.text09 {
    width: 14px;
    top: 3px;
}

.top_copy_txt .text_img span.text10 {
    width: 14px;
    top: 3px;
}

.top_copy_txt .text_img span.text11 {
    width: 15px;
    top: 1px;
}

.top_copy_txt .text_img span.text12 {
    width: 14px;
    top: 4px;
}

.top_copy_txt .text_img span.text13 {
    width: 15px;
    top: 1px;
}

.top_copy_txt .text_img span.text14 {
    width: 14px;
    top: 4px;
}

.top_copy_txt .text_img span.text15 {
    width: 12px;
    top: 1px;
}

.top_copy_txt .text_img span.text16 {
    width: 10px;
    top: 4px;
}

.top_copy_txt .text_img span.text17 {
    width: 5px;
    top: 14px;
}

.top_copy_txt .text_img span.text18 {
    width: 16px;
    top: 1px;
    left: 4px;
}

.top_copy_txt .text_img span.text19 {
    width: 15px;
    top: 3px;
    left: 4px;
}

.top_copy_txt .text_img span.text20 {
    width: 16px;
    top: 1px;
    left: 4px;
}

.top_copy_txt .text_img span.text21 {
    width: 15px;
    top: 3px;
    left: 4px;
}

.top_copy_txt .text_img span.text22 {
    width: 15px;
    top: 2px;
    left: 4px;
}

.top_copy_txt .text_img span.text23 {
    width: 8px;
    top: 5px;
    left: 4px;
}

.top_copy_txt .text_img span.text24 {
    width: 12px;
    top: 1px;
    left: 5px;
}

.top_copy_txt .text_img span.text25 {
    width: 16px;
    top: 4px;
    left: 6px;
}

.top_copy_txt .text_img span.text26 {
    width: 16px;
    top: 1px;
    left: 6px;
}

.top_copy_txt .text_img span.text27 {
    width: 14px;
    top: 4px;
    left: 6px;
}

.top_copy_txt .text_img span.text28 {
    width: 16px;
    top: 1px;
    left: 6px;
}

.top_copy_txt .text_img span.text29 {
    width: 15px;
    top: 3px;
    left: 6px;
}

.top_copy_txt .text_img span.text30 {
    width: 6px;
    top: 11px;
    left: 6px;
}

.top_copy_txt .text_img:nth-child(2), .top_copy_txt .text_img:nth-child(6), .top_copy_txt .text_img:nth-child(8) {
    margin-left: 20px;
}

.top_copy_txt .text_img span.text31 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text32 {
    width: 16px;
    top: 3px;
}

.top_copy_txt .text_img span.text33 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text34 {
    width: 14px;
    top: 3px;
}

.top_copy_txt .text_img span.text35 {
    width: 16px;
}

.top_copy_txt .text_img span.text36 {
    width: 16px;
    top: 3px;
}

.top_copy_txt .text_img span.text37 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text38 {
    width: 13px;
    top: 5px;
}

.top_copy_txt .text_img span.text39 {
    width: 10px;
    top: 1px;
}

.top_copy_txt .text_img span.text40 {
    width: 15px;
    top: 6px;
}

.top_copy_txt .text_img span.text41 {
    width: 14px;
    top: 2px;
    left: 5px;
}

.top_copy_txt .text_img span.text42 {
    width: 16px;
    top: 5px;
    left: 4px;
}

.top_copy_txt .text_img span.text43 {
    width: 15px;
    top: 2px;
    left: 4px;
}

.top_copy_txt .text_img span.text44 {
    width: 15px;
    left: 3px;
}

.top_copy_txt .text_img span.text45 {
    width: 16px;
    top: 2px;
    left: 4px;
}

.top_copy_txt .text_img span.text46 {
    width: 15px;
    top: 1px;
    left: 4px;
}

.top_copy_txt .text_img span.text47 {
    width: 16px;
    top: 0px;
    left: 4px;
}

.top_copy_txt .text_img span.text48 {
    width: 16px;
    top: 3px;
    left: 4px;
}

.top_copy_txt .text_img span.text49 {
    width: 12px;
    top: 1px;
    left: 4px;
}

.top_copy_txt .text_img span.text50 {
    width: 7px;
    top: 3px;
    left: 4px;
}

.top_copy_txt .text_img span.text51 {
    width: 15px;
    top: 1px;
    left: 8px;
}

.top_copy_txt .text_img span.text52 {
    width: 14px;
    top: 5px;
    left: 8px;
}

.top_copy_txt .text_img span.text53 {
    width: 15px;
    top: 1px;
    left: 8px;
}

.top_copy_txt .text_img span.text54 {
    width: 11px;
    top: 6px;
    left: 10px;
}

.top_copy_txt .text_img span.text55 {
    width: 6px;
    top: 14px;
    left: 9px;
}

.top_copy_txt .text_img span.text56 {
    width: 14px;
    top: 0px;
}

.top_copy_txt .text_img span.text57 {
    width: 13px;
    top: 1px;
}

.top_copy_txt .text_img span.text58 {
    width: 14px;
    top: 0px;
}

.top_copy_txt .text_img span.text59 {
    width: 13px;
    top: 1px;
}

.top_copy_txt .text_img span.text60 {
    width: 14px;
    top: 0;
}

.top_copy_txt .text_img span.text61 {
    width: 14px;
    top: 1px;
}

.top_copy_txt .text_img span.text62 {
    width: 14px;
    top: 3px;
}

.top_copy_txt .text_img span.text63 {
    width: 13px;
    top: 1px;
}

.top_copy_txt .text_img span.text64 {
    width: 10px;
    top: 4px;
    left: 3px;
}

.top_copy_txt .text_img span.text65 {
    width: 6px;
    top: 14px;
    left: 4px;
}

.top_copy_txt .text_img span.text66 {
    width: 16px;
    top: 1px;
    left: 6px;
}

.top_copy_txt .text_img span.text67 {
    width: 15px;
    top: 3px;
    left: 5px;
}

.top_copy_txt .text_img span.text68 {
    width: 15px;
    top: 1px;
    left: 6px;
}

.top_copy_txt .text_img span.text69 {
    width: 11px;
    top: 3px;
    left: 7px;
}

.top_copy_txt .text_img span.text70 {
    width: 14px;
    top: 3px;
    left: 8px;
}

.top_copy_txt .text_img span.text71 {
    width: 16px;
    top: 0px;
    left: 8px;
}

.top_copy_txt .text_img span.text72 {
    width: 16px;
    top: 3px;
    left: 8px;
}

.top_copy_txt .text_img span.text73 {
    width: 15px;
    top: 1px;
    left: 8px;
}

.top_copy_txt .text_img span.text74 {
    width: 14px;
    top: 3px;
    left: 8px;
}

.top_copy_txt .text_img span.text75 {
    width: 15px;
    top: 1px;
    left: 8px;
}

.top_copy_txt .text_img span.text76 {
    width: 15px;
    top: 3px;
    left: 8px;
}

.top_copy_txt .text_img span.text77 {
    width: 6px;
    top: 14px;
    left: 8px;
}

.top_copy_txt .text_img:nth-child(4), .top_copy_txt .text_img:nth-child(9), .top_copy_txt .text_img:nth-child(11) {
    margin-left: 60px;
}

.top_copy_txt .text_img span.text78 {
    width: 15px;
    top: 2px;
    left: 4px;
}

.top_copy_txt .text_img span.text79 {
    width: 15px;
    top: 4px;
    left: 4px;
}

.top_copy_txt .text_img span.text80 {
    width: 15px;
    top: 3px;
    left: 4px;
}

.top_copy_txt .text_img span.text81 {
    width: 15px;
    top: 2px;
    left: 4px;
}

.top_copy_txt .text_img span.text82 {
    width: 15px;
    top: 2px;
    left: 4px;
}

.top_copy_txt .text_img span.text83 {
    width: 15px;
    top: 7px;
    left: 2px;
}

.top_copy_txt .text_img span.text84 {
    width: 6px;
    top: 13px;
}

.top_copy_txt .text_img span.text85 {
    width: 16px;
    top: 0px;
}

.top_copy_txt .text_img span.text86 {
    width: 14px;
    top: 3px;
}

.top_copy_txt .text_img span.text87 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text88 {
    width: 14px;
    top: 3px;
}

.top_copy_txt .text_img span.text89 {
    width: 16px;
    top: 2px;
}

.top_copy_txt .text_img span.text90 {
    width: 15px;
    top: 2px;
}

.top_copy_txt .text_img span.text91 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text92 {
    width: 15px;
    top: 3px;
}

.top_copy_txt .text_img span.text93 {
    width: 15px;
    top: 2px;
}

.top_copy_txt .text_img span.text94 {
    width: 13px;
    top: 3px;
}

.top_copy_txt .text_img span.text95 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text96 {
    width: 12px;
    top: 3px;
}

.top_copy_txt .text_img span.text97 {
    width: 6px;
    top: 13px;
}

.top_copy_txt .text_img span.text98 {
    width: 9px;
    top: 2px;
}

.top_copy_txt .text_img span.text99 {
    width: 17px;
    top: 2px;
}

.top_copy_txt .text_img span.text100 {
    width: 10px;
    top: 1px;
}

.top_copy_txt .text_img span.text101 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text102 {
    width: 15px;
    top: 2px;
}

.top_copy_txt .text_img span.text103 {
    width: 13px;
    top: 3px;
}

.top_copy_txt .text_img span.text104 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text105 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text106 {
    width: 15px;
    top: 2px;
}

.top_copy_txt .text_img span.text107 {
    width: 15px;
    top: 3px;
}

.top_copy_txt .text_img span.text108 {
    width: 10px;
    top: 1px;
}

.top_copy_txt .text_img span.text109 {
    width: 6px;
    top: 13px;
}

.top_copy_txt .text_img span.text110 {
    width: 16px;
    top: 0px;
}

.top_copy_txt .text_img span.text111 {
    width: 11px;
    top: 3px;
}

.top_copy_txt .text_img span.text112 {
    width: 5px;
    top: 10px;
}

.top_copy_txt .text_img span.text113 {
    width: 16px;
    top: 0px;
}

.top_copy_txt .text_img span.text114 {
    width: 13px;
    top: 3px;
}

.top_copy_txt .text_img span.text115 {
    width: 11px;
    top: 5px;
}

.top_copy_txt .text_img span.text116 {
    width: 14px;
    top: 5px;
}

.top_copy_txt .text_img span.text117 {
    width: 6px;
    top: 10px;
}

.top_copy_txt .text_img span.text118 {
    width: 16px;
    top: 0px;
}

.top_copy_txt .text_img span.text119 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text120 {
    width: 10px;
    top: 0px;
}

.top_copy_txt .text_img span.text121 {
    width: 10px;
    top: 2px;
}

.top_copy_txt .text_img span.text122 {
    width: 12px;
    top: 1px;
}

.top_copy_txt .text_img span.text123 {
    width: 13px;
    top: 3px;
}

.top_copy_txt .text_img span.text124 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text125 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text126 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text127 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text128 {
    width: 14px;
    top: 1px;
}

.top_copy_txt .text_img span.text129 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text130 {
    width: 11px;
    top: 1px;
}

.top_copy_txt .text_img span.text131 {
    width: 14px;
    top: 3px;
}

.top_copy_txt .text_img span.text132 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text133 {
    width: 15px;
    top: 2px;
}

.top_copy_txt .text_img span.text134 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text135 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text136 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text137 {
    width: 15px;
    top: 2px;
}

.top_copy_txt .text_img span.text138 {
    width: 6px;
    top: 10px;
}

.top_copy_txt .text_img span.text139 {
    width: 13px;
    top: 0px;
}

.top_copy_txt .text_img span.text140 {
    width: 14px;
    top: 7px;
}

.top_copy_txt .text_img span.text141 {
    width: 14px;
    top: 7px;
    left: -9px;
}

.top_copy_txt .text_img span.text142 {
    width: 14px;
    top: 7px;
    left: -19px;
}

.top_copy_txt .text_img span.text143 {
    width: 11px;
    top: 5px;
    left: -19px;
}

.top_copy_txt .text_img span.text144 {
    width: 6px;
    top: 10px;
    left: -19px;
}

.top_copy_txt .text_img span.text145 {
    width: 16px;
    top: 0px;
    left: -19px;
}

.top_copy_txt .text_img span.text146 {
    width: 16px;
    top: 1px;
    left: -19px;
}

.top_copy_txt .text_img span.text147 {
    width: 15px;
    top: 1px;
    left: -19px;
}

.top_copy_txt .text_img span.text148 {
    width: 13px;
    top: 1px;
    left: -19px;
}

.top_copy_txt .text_img span.text149 {
    width: 16px;
    top: 0px;
    left: -19px;
}

.top_copy_txt .text_img span.text150 {
    width: 14px;
    top: 2px;
    left: -19px;
}

.top_copy_txt .text_img span.text151 {
    width: 14px;
    top: 2px;
    left: -19px;
}

.top_copy_txt .text_img span.text152 {
    width: 15px;
    top: 0px;
    left: -19px;
}

.top_copy_txt .text_img span.text153 {
    width: 14px;
    top: 1px;
    left: -19px;
}

.top_copy_txt .text_img span.text154 {
    width: 16px;
    top: 0px;
    left: -19px;
}

.top_copy_txt .text_img span.text155 {
    width: 15px;
    top: 3px;
    left: -19px;
}

.top_copy_txt .text_img span.text156 {
    width: 13px;
    top: 0px;
    left: -19px;
}

.top_copy_txt .text_img span.text157 {
    width: 10px;
    top: 1px;
    left: -19px;
}

.top_copy_txt .text_img span.text158 {
    width: 13px;
    top: 1px;
    left: -19px;
}

.top_copy_txt .text_img span.text159 {
    width: 16px;
    top: 0px;
    left: -19px;
}

.top_copy_txt .text_img span.text160 {
    width: 7px;
    top: 0px;
    left: -19px;
}

.top_copy_txt .text_img span.text161 {
    width: 15px;
    top: 0px;
    left: -19px;
}

.top_copy_txt .text_img span.text162 {
    width: 12px;
    top: 2px;
    left: -19px;
}

.top_copy_txt .text_img span.text163 {
    width: 11px;
    top: 1px;
    left: -19px;
}

.top_copy_txt .text_img span.text164 {
    width: 13px;
    top: 3px;
    left: -19px;
}

.top_copy_txt .text_img span.text165 {
    width: 6px;
    top: 10px;
    left: -19px;
}

.top_copy_txt .text_img span.text166 {
    width: 13px;
    top: 0px;
}

.top_copy_txt .text_img span.text167 {
    width: 13px;
    top: 1px;
}

.top_copy_txt .text_img span.text168 {
    width: 13px;
    top: 0px;
}

.top_copy_txt .text_img span.text169 {
    width: 13px;
    top: 1px;
}

.top_copy_txt .text_img span.text170 {
    width: 13px;
    top: 0px;
}

.top_copy_txt .text_img span.text171 {
    width: 13px;
    top: 1px;
}

.top_copy_txt .text_img span.text172 {
    width: 6px;
    top: 10px;
}

.top_copy_txt .text_img span.text173 {
    width: 15px;
    top: 0px;
}

.top_copy_txt .text_img span.text174 {
    width: 14px;
    top: 1px;
}

.top_copy_txt .text_img span.text175 {
    width: 9px;
    top: 0px;
}

.top_copy_txt .text_img span.text176 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text177 {
    width: 13px;
    top: 0px;
}

.top_copy_txt .text_img span.text178 {
    width: 11px;
    top: 3px;
}

.top_copy_txt .text_img span.text179 {
    width: 14px;
    top: 6px;
}

.top_copy_txt .text_img span.text180 {
    width: 12px;
    top: 1px;
}

.top_copy_txt .text_img span.text181 {
    width: 15px;
    top: 2px;
}

.top_copy_txt .text_img span.text182 {
    width: 16px;
    top: 0px;
}

.top_copy_txt .text_img span.text183 {
    width: 10px;
    top: 1px;
}

.top_copy_txt .text_img span.text184 {
    width: 12px;
    top: 0px;
}

.top_copy_txt .text_img span.text185 {
    width: 10px;
    top: 2px;
}

.top_copy_txt .text_img span.text186 {
    width: 13px;
    top: 1px;
}

.top_copy_txt .text_img span.text187 {
    width: 13px;
    top: 0px;
}

.top_copy_txt .text_img span.text188 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text189 {
    width: 14px;
    top: 0px;
}

.top_copy_txt .text_img span.text190 {
    width: 15px;
    top: 1px;
}

.top_copy_txt .text_img span.text191 {
    width: 16px;
    top: 0px;
}

.top_copy_txt .text_img span.text192 {
    width: 16px;
    top: 0px;
}

.top_copy_txt .text_img span.text193 {
    width: 15px;
    top: 0px;
}

.top_copy_txt .text_img span.text194 {
    width: 15px;
    top: 1px;
}

.top_copy_txt .text_img span.text195 {
    width: 12px;
    top: 0px;
}

.top_copy_txt .text_img span.text196 {
    width: 6px;
    top: 10px;
}

.top_copy_txt .text_img span.text197 {
    width: 9px;
    top: 1px;
}

.top_copy_txt .text_img span.text198 {
    width: 10px;
    top: 2px;
}

.top_copy_txt .text_img span.text199 {
    width: 10px;
    top: 1px;
}

.top_copy_txt .text_img span.text200 {
    width: 10px;
    top: 2px;
}

.top_copy_txt .text_img span.text201 {
    width: 9px;
    top: 1px;
}

.top_copy_txt .text_img span.text202 {
    width: 9px;
    top: 2px;
}

.top_copy_txt .text_img span.text203 {
    width: 6px;
    top: 10px;
}

.top_copy_txt .text_img span.text204 {
    width: 16px;
    top: 0px;
}

.top_copy_txt .text_img span.text205 {
    width: 15px;
    top: 2px;
}

.top_copy_txt .text_img span.text206 {
    width: 16px;
    top: 0px;
}

.top_copy_txt .text_img span.text207 {
    width: 15px;
    top: 2px;
}

.top_copy_txt .text_img span.text208 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text209 {
    width: 13px;
    top: 2px;
}

.top_copy_txt .text_img span.text210 {
    width: 10px;
    top: 0px;
}

.top_copy_txt .text_img span.text211 {
    width: 15px;
    top: 2px;
}

.top_copy_txt .text_img span.text212 {
    width: 14px;
    top: 0px;
}

.top_copy_txt .text_img span.text213 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text214 {
    width: 9px;
    top: 0px;
}

.top_copy_txt .text_img span.text215 {
    width: 13px;
    top: 2px;
}

.top_copy_txt .text_img span.text216 {
    width: 11px;
    top: 5px;
}

.top_copy_txt .text_img span.text217 {
    width: 13px;
    top: 0px;
}

.top_copy_txt .text_img span.text218 {
    width: 15px;
    top: 1px;
}

.top_copy_txt .text_img span.text219 {
    width: 16px;
    top: 0px;
}

.top_copy_txt .text_img span.text220 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text221 {
    width: 11px;
    top: 0px;
}

.top_copy_txt .text_img span.text222 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text223 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text224 {
    width: 15px;
    top: 0px;
}

.top_copy_txt .text_img span.text225 {
    width: 14px;
    top: 0px;
}

.top_copy_txt .text_img span.text226 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text227 {
    width: 14px;
    top: 0px;
}

.top_copy_txt .text_img span.text228 {
    width: 8px;
    top: 1px;
}

.top_copy_txt .text_img span.text229 {
    width: 6px;
    top: 10px;
}

.top_copy_txt .text_img span.text230 {
    width: 15px;
    top: 0px;
}

.top_copy_txt .text_img span.text231 {
    width: 10px;
    top: 2px;
}

.top_copy_txt .text_img span.text232 {
    width: 16px;
    top: 0px;
}

.top_copy_txt .text_img span.text233 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text234 {
    width: 13px;
    top: 1px;
}

.top_copy_txt .text_img span.text235 {
    width: 14px;
    top: 1px;
}

.top_copy_txt .text_img span.text236 {
    width: 15px;
    top: 1px;
}

.top_copy_txt .text_img span.text237 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text238 {
    width: 14px;
    top: 0px;
}

.top_copy_txt .text_img span.text239 {
    width: 16px;
    top: 0px;
}

.top_copy_txt .text_img span.text240 {
    width: 16px;
    top: 0px;
}

.top_copy_txt .text_img span.text241 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text242 {
    width: 6px;
    top: 10px;
}

.top_copy_txt .text_img span.text243 {
    width: 14px;
    top: 0px;
}

.top_copy_txt .text_img span.text244 {
    width: 14px;
    top: 1px;
}

.top_copy_txt .text_img span.text245 {
    width: 12px;
    top: 0px;
}

.top_copy_txt .text_img span.text246 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text247 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text248 {
    width: 15px;
    top: 5px;
}

.top_copy_txt .text_img span.text249 {
    width: 14px;
    top: 0px;
}

.top_copy_txt .text_img span.text250 {
    width: 15px;
    top: 2px;
}

.top_copy_txt .text_img span.text251 {
    width: 9px;
    top: 2px;
}

.top_copy_txt .text_img span.text252 {
    width: 12px;
    top: 1px;
}

.top_copy_txt .text_img span.text253 {
    width: 14px;
    top: 3px;
}

.top_copy_txt .text_img span.text254 {
    width: 13px;
    top: 0px;
}

.top_copy_txt .text_img span.text255 {
    width: 10px;
    top: 2px;
}

.top_copy_txt .text_img span.text256 {
    width: 15px;
    top: 1px;
}

.top_copy_txt .text_img span.text257 {
    width: 12px;
    top: 2px;
}

.top_copy_txt .text_img span.text258 {
    width: 14px;
    top: 0px;
}

.top_copy_txt .text_img span.text259 {
    width: 13px;
    top: 2px;
}

.top_copy_txt .text_img span.text260 {
    width: 6px;
    top: 10px;
}

.top_copy_txt .text_img span.text261 {
    width: 16px;
    top: 0px;
}

.top_copy_txt .text_img span.text262 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text263 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text264 {
    width: 15px;
    top: 1px;
}

.top_copy_txt .text_img span.text265 {
    width: 14px;
    top: 0px;
}

.top_copy_txt .text_img span.text266 {
    width: 13px;
    top: 2px;
}

.top_copy_txt .text_img span.text267 {
    width: 15px;
    top: 0px;
}

.top_copy_txt .text_img span.text268 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text269 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text270 {
    width: 13px;
    top: 1px;
}

.top_copy_txt .text_img span.text271 {
    width: 10px;
    top: 0px;
}

.top_copy_txt .text_img span.text272 {
    width: 13px;
    top: 2px;
}

.top_copy_txt .text_img span.text273 {
    width: 16px;
    top: 0px;
}

.top_copy_txt .text_img span.text274 {
    width: 12px;
    top: 1px;
}

.top_copy_txt .text_img span.text275 {
    width: 7px;
    top: 0px;
}

.top_copy_txt .text_img span.text276 {
    width: 16px;
    top: 1px;
}

.top_copy_txt .text_img span.text277 {
    width: 16px;
    top: 0px;
}

.top_copy_txt .text_img span.text278 {
    width: 13px;
    top: 2px;
}

.top_copy_txt .text_img span.text279 {
    width: 14px;
    top: 1px;
}

.top_copy_txt .text_img span.text280 {
    width: 15px;
    top: 1px;
}

.top_copy_txt .text_img span.text281 {
    width: 6px;
    top: 10px;
}

.top_copy_txt .text_img span.text282 {
    width: 16px;
    top: 0px;
}

.top_copy_txt .text_img span.text283 {
    width: 14px;
    top: 0px;
}

.top_copy_txt .text_img span.text284 {
    width: 13px;
    top: 0px;
}

.top_copy_txt .text_img span.text285 {
    width: 15px;
    top: 1px;
}

.top_copy_txt .text_img span.text286 {
    width: 14px;
    top: 1px;
}

.top_copy_txt .text_img span.text287 {
    width: 6px;
    top: 10px;
}

.top_copy_txt .text_img span.text288 {
    width: 11px;
    top: 0px;
}

.top_copy_txt .text_img span.text289 {
    width: 14px;
    top: 1px;
}

.top_copy_txt .text_img span.text290 {
    width: 16px;
    top: 2px;
}

.top_copy_txt .text_img span.text291 {
    width: 11px;
    top: 1px;
}

.top_copy_txt .text_img span.text292 {
    width: 15px;
    top: 3px;
}

.top_copy_txt .text_img span.text293 {
    width: 15px;
    top: 2px;
}

.top_copy_txt .text_img span.text294 {
    width: 14px;
    top: 3px;
}

.top_copy_txt .text_img span.text295 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text296 {
    width: 15px;
    top: 3px;
}

.top_copy_txt .text_img span.text297 {
    width: 15px;
    top: 2px;
}

.top_copy_txt .text_img span.text298 {
    width: 15px;
    top: 3px;
}

.top_copy_txt .text_img span.text299 {
    width: 13px;
    top: 2px;
}

.top_copy_txt .text_img span.text300 {
    width: 10px;
    top: 3px;
}

.top_copy_txt .text_img span.text301 {
    width: 13px;
    top: 3px;
}

.top_copy_txt .text_img span.text302 {
    width: 9px;
    top: 2px;
}

.top_copy_txt .text_img span.text303 {
    width: 9px;
    top: 3px;
}

.top_copy_txt .text_img span.text304 {
    width: 14px;
    top: 5px;
}

.top_copy_txt .text_img span.text305 {
    width: 14px;
    top: 1px;
}

.top_copy_txt .text_img span.text306 {
    width: 14px;
    top: 5px;
}

.top_copy_txt .text_img span.text307 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text308 {
    width: 14px;
    top: 1px;
}

.top_copy_txt .text_img span.text309 {
    width: 9px;
    top: 2px;
}

.top_copy_txt .text_img span.text310 {
    width: 13px;
    top: 1px;
}

.top_copy_txt .text_img span.text311 {
    width: 14px;
    top: 3px;
}

.top_copy_txt .text_img span.text312 {
    width: 15px;
    top: 0px;
}

.top_copy_txt .text_img span.text313 {
    width: 16px;
    top: 2px;
}

.top_copy_txt .text_img span.text314 {
    width: 16px;
    top: 2px;
}

.top_copy_txt .text_img span.text315 {
    width: 15px;
    top: 0px;
}

.top_copy_txt .text_img span.text316 {
    width: 14px;
    top: 2px;
}

.top_copy_txt .text_img span.text317 {
    width: 6px;
    top: 10px;
}

.top_copy_txt .text_img:nth-child(4) {
    margin-bottom: 37px;
}

.top_copy_txt .text_img:nth-child(5) {
    margin-bottom: 34px;
}

.top_copy_txt .text_img span img {
    vertical-align: text-top;
    height: 100%;
}

.top_copy_image {
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-width: 491px;
    height: 227px;
    width: 100%;
}

.top_copy_img03 {
    position: relative;
    top: -19px;
}

.top_copy_img04 {
    position: relative;
    top: -40px;
}

.top_copy_image img {
    display: inline-block;
}

.top_copy_image .none {
    display: none;
}

/* Banner
---------------------------------------------------------- */
.bannerWrap {
    position: relative;
}

.bannerWrap .banner {
    width: 1088px;
    margin: 0 auto;
}

.bannerWrap .banner .banner_item {
    width: 1088px;
    display: table;
    margin-bottom: 100px;
    height: 644px;
}

.bannerWrap .banner .banner_item div {
    vertical-align: middle;
    display: table-cell;
}

.bannerWrap .banner .banner_item div.banner_item_img {
    position: relative;
    width: 645px;
    text-align: right;
}

.bannerWrap .banner .banner_item div.banner_item_img img {
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

.bannerWrap .banner .banner_item div.banner_item_img:hover {
    cursor: pointer;
}

.bannerWrap .banner .banner_item div.banner_item_img:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.bannerWrap .banner .banner_item div.banner_item_link {
    width: 346px;
    padding-left: 33px;
}

.bannerWrap .banner .banner_item div a {
    display: none;
}

.bannerWrap .banner .banner_item:first-child .banner_item_link {
    padding-left: 16px;
}

.bannerWrap .banner .banner_item:first-child .banner_item_img {
    width: 725px;
}

.bannerWrap .banner .banner_item:last-child .banner_item_link {
    padding-left: 35px;
}

.mask {
    position: relative;
}

.mask .mask_canvas {
    background-color: #F7EFE5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.mask .mask_canvas.transparent {
    background-color: transparent;
}

/* recruit
---------------------------------------------------------- */
.recruit {
    position: relative;
    background: url(../img/bg_recruit.png) no-repeat top center;
    background-size: cover;
    padding: 150px 0 85px;
    text-align: center;
}

.recruit_btn {
    width: 32.2rem;
    height: 32.2rem;
    position: relative;
    margin: 0 auto;
}

.recruit a {
    display: block;
}

.recruit a img {
    vertical-align: top;
}

.recruit a img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

/* entry bottom
---------------------------------------------------------- */
.entry {
    background: #004D81;
    padding: 70px 0;
    text-align: center;
}

.enrty_btn {
    position: relative;
    width: 66rem;
    height: 6rem;
    margin: 0 auto;
}

.entry a {
    display: block;
}

.enrty_btn a img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
