/* Reponsive width: 767px
---------------------------------------------------------- */
@media screen and (max-width: 767px) {
    .keyvisual_scroll {
        bottom: 50px;
    }
    .page_top #main {
        background: url(../img/bg_main_sp.png) no-repeat top center;
        background-size: cover;
        margin-top: -40px;
    }
    #anchor01 {
        top: 20px;
    }
    .top_copy_txt {
        text-align: left;
        font-size: 16px;
        line-height: 2.1;
        padding: 8% 0 0;
        margin-bottom: 5%;
        max-width: 310px;
    }
    .top_copy {
        padding: 30px 0 40px;
    }
    .top_copy_image {
        height: auto;
    }
    .top_copy_img03 {
        top: -2vw;
    }
    .top_copy_img04 {
        top: -5vw;
    }
    .top_copy_img04 img {
        max-width: 50vw;
    }
    .top_copy_txt .text_img {
        line-height: 1.6;
        letter-spacing: 0;
    }
    .top_copy_txt .text_img, .top_copy_txt .text_img:nth-child(4), .top_copy_txt .text_img:nth-child(5) {
        margin-bottom: 5px;
    }
    .top_copy_txt .text_img:nth-child(2), .top_copy_txt .text_img:nth-child(6), .top_copy_txt .text_img:nth-child(8) {
        margin-left: 0;
    }
    .top_copy_txt .text_img:nth-child(4), .top_copy_txt .text_img:nth-child(9), .top_copy_txt .text_img:nth-child(11) {
        margin-left: 0;
    }
    .top_copy_txt .text_img span.text07, .top_copy_txt .text_img span.text18, .top_copy_txt .text_img span.text66,
    .top_copy_txt .text_img span.text47,
    .top_copy_txt .text_img span.text154, .top_copy_txt .text_img span.text155, .top_copy_txt .text_img span.text156,
    .top_copy_txt .text_img span.text157, .top_copy_txt .text_img span.text158, .top_copy_txt .text_img span.text159,
    .top_copy_txt .text_img span.text160, .top_copy_txt .text_img span.text161, .top_copy_txt .text_img span.text162,
    .top_copy_txt .text_img span.text163, .top_copy_txt .text_img span.text164, .top_copy_txt .text_img span.text165 {
        left: 0;
    }
    .top_copy_image {
        padding: 0 4%;
    }
    .top_copy_txt .text_img span.text01 {
        width: 12px;
    }
    .top_copy_txt .text_img span.text02 {
        width: 9px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text03 {
        width: 9px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text04 {
        width: 11px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text05 {
        width: 7px;
        top: 0;
    }
    .top_copy_txt .text_img span.text06 {
        width: 14px;
        top: 5px;
    }
    .top_copy_txt .text_img span.text07 {
        width: 4px;
        top: 5px;
        left: -2px;
    }
    .top_copy_txt .text_img span.text08 {
        width: 11px;
        top: 0;
    }
    .top_copy_txt .text_img span.text09 {
        width: 10px;
        top: 3px;
    }
    .top_copy_txt .text_img span.text10 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text11 {
        width: 11px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text12 {
        width: 10px;
        top: 3px;
    }
    .top_copy_txt .text_img span.text13 {
        width: 11px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text14 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text15 {
        width: 8px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text16 {
        width: 7px;
        top: 3px;
    }
    .top_copy_txt .text_img span.text17 {
        width: 4px;
        top: 10px;
    }
    .top_copy_txt .text_img span.text18 {
        width: 12px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text19 {
        width: 11px;
        top: 3px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text20 {
        width: 12px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text21 {
        width: 11px;
        top: 2px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text22 {
        width: 11px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text23 {
        width: 5px;
        top: 4px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text24 {
        width: 8px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text25 {
        width: 12px;
        top: 3px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text26 {
        width: 12px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text27 {
        width: 10px;
        top: 4px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text28 {
        width: 12px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text29 {
        width: 11px;
        top: 2px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text30 {
        width: 4px;
        top: 8px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text31 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text32 {
        width: 10px;
        top: 3px;
    }
    .top_copy_txt .text_img span.text33 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text34 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text35 {
        width: 10px;
    }
    .top_copy_txt .text_img span.text36 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text37 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text38 {
        width: 9px;
        top: 4px;
    }
    .top_copy_txt .text_img span.text39 {
        width: 7px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text40 {
        width: 11px;
        top: 5px;
    }
    .top_copy_txt .text_img span.text41 {
        width: 10px;
        top: 2px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text42 {
        width: 12px;
        top: 4px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text43 {
        width: 11px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text44 {
        width: 11px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text45 {
        width: 12px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text46 {
        width: 11px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text47 {
        width: 10px;
        top: 0px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text48 {
        width: 10px;
        top: 2px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text49 {
        width: 8px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text50 {
        width: 5px;
        top: 2px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text51 {
        width: 11px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text52 {
        width: 10px;
        top: 4px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text53 {
        width: 11px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text54 {
        width: 7px;
        top: 5px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text55 {
        width: 4px;
        top: 10px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text56 {
        width: 10px;
        top: 0px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text57 {
        width: 9px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text58 {
        width: 10px;
        top: 0px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text59 {
        width: 9px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text60 {
        width: 10px;
        top: 0;
        left: 0px;
    }
    .top_copy_txt .text_img span.text61 {
        width: 10px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text62 {
        width: 10px;
        top: 2px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text63 {
        width: 9px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text64 {
        width: 7px;
        top: 3px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text65 {
        width: 4px;
        top: 10px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text66 {
        width: 10px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text67 {
        width: 11px;
        top: 2px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text68 {
        width: 11px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text69 {
        width: 7px;
        top: 2px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text70 {
        width: 10px;
        top: 2px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text71 {
        width: 10px;
        top: 0px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text72 {
        width: 10px;
        top: 2px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text73 {
        width: 11px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text74 {
        width: 10px;
        top: 2px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text75 {
        width: 11px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text76 {
        width: 11px;
        top: 2px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text77 {
        width: 4px;
        top: 10px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text78 {
        width: 11px;
        top: 2px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text79 {
        width: 11px;
        top: 3px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text80 {
        width: 11px;
        top: 2px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text81 {
        width: 11px;
        top: 1px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text82 {
        width: 11px;
        top: 2px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text83 {
        width: 11px;
        top: 4px;
        left: 0px;
    }
    .top_copy_txt .text_img span.text84 {
        width: 4px;
        top: 9px;
    }
    .top_copy_txt .text_img span.text85 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text86 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text87 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text88 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text89 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text90 {
        width: 11px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text91 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text92 {
        width: 11px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text93 {
        width: 11px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text94 {
        width: 9px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text95 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text96 {
        width: 8px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text97 {
        width: 4px;
        top: 10px;
    }
    .top_copy_txt .text_img span.text98 {
        width: 6px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text99 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text100 {
        width: 7px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text101 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text102 {
        width: 11px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text103 {
        width: 9px;
        top: 3px;
    }
    .top_copy_txt .text_img span.text104 {
        width: 12px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text105 {
        width: 12px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text106 {
        width: 11px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text107 {
        width: 9px;
        top: 3px;
    }
    .top_copy_txt .text_img span.text108 {
        width: 7px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text109 {
        width: 4px;
        top: 11px;
    }
    .top_copy_txt .text_img span.text110 {
        width: 12px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text111 {
        width: 7px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text112 {
        width: 4px;
        top: 6px;
    }
    .top_copy_txt .text_img span.text113 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text114 {
        width: 9px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text115 {
        width: 8px;
        top: 4px;
    }
    .top_copy_txt .text_img span.text116 {
        width: 10px;
        top: 4px;
    }
    .top_copy_txt .text_img span.text117 {
        width: 4px;
        top: 6px;
    }
    .top_copy_txt .text_img span.text118 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text119 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text120 {
        width: 7px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text121 {
        width: 7px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text122 {
        width: 9px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text123 {
        width: 9px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text124 {
        width: 12px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text125 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text126 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text127 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text128 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text129 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text130 {
        width: 7px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text131 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text132 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text133 {
        width: 11px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text134 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text135 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text136 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text137 {
        width: 11px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text138 {
        width: 4px;
        top: 9px;
    }
    .top_copy_txt .text_img span.text139 {
        width: 9px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text140 {
        width: 10px;
        top: 6px;
    }
    .top_copy_txt .text_img span.text141 {
        width: 10px;
        top: 6px;
        left: -6px;
    }
    .top_copy_txt .text_img span.text142 {
        width: 10px;
        top: 6px;
        left: -11px;
    }
    .top_copy_txt .text_img span.text143 {
        width: 9px;
        top: 4px;
        left: -11px;
    }
    .top_copy_txt .text_img span.text144 {
        width: 4px;
        top: 8px;
        left: -16px;
    }
    .top_copy_txt .text_img span.text145 {
        width: 10px;
        top: 0px;
        left: -16px;
    }
    .top_copy_txt .text_img span.text146 {
        width: 10px;
        top: 1px;
        left: -16px;
    }
    .top_copy_txt .text_img span.text147 {
        width: 11px;
        top: 1px;
        left: -16px;
    }
    .top_copy_txt .text_img span.text148 {
        width: 9px;
        top: 1px;
        left: -16px;
    }
    .top_copy_txt .text_img span.text149 {
        width: 10px;
        top: 0px;
        left: -16px;
    }
    .top_copy_txt .text_img span.text150 {
        width: 10px;
        top: 2px;
        left: -16px;
    }
    .top_copy_txt .text_img span.text151 {
        width: 10px;
        top: 2px;
        left: -16px;
    }
    .top_copy_txt .text_img span.text152 {
        width: 11px;
        top: 0px;
        left: -16px;
    }
    .top_copy_txt .text_img span.text153 {
        width: 10px;
        top: 1px;
        left: -16px;
    }
    .top_copy_txt .text_img span.text154 {
        width: 10px;
        top: 0px;
        left: 0;
    }
    .top_copy_txt .text_img span.text155 {
        width: 11px;
        top: 3px;
        left: 0;
    }
    .top_copy_txt .text_img span.text156 {
        width: 9px;
        top: 0px;
        left: 0;
    }
    .top_copy_txt .text_img span.text157 {
        width: 7px;
        top: 1px;
        left: 0;
    }
    .top_copy_txt .text_img span.text158 {
        width: 9px;
        top: 1px;
        left: 0;
    }
    .top_copy_txt .text_img span.text159 {
        width: 10px;
        top: 0px;
        left: 0;
    }
    .top_copy_txt .text_img span.text160 {
        width: 5px;
        top: 0px;
        left: 0;
    }
    .top_copy_txt .text_img span.text161 {
        width: 11px;
        top: 0px;
        left: 0;
    }
    .top_copy_txt .text_img span.text162 {
        width: 9px;
        top: 2px;
        left: 0;
    }
    .top_copy_txt .text_img span.text163 {
        width: 8px;
        top: 1px;
        left: 0;
    }
    .top_copy_txt .text_img span.text164 {
        width: 9px;
        top: 2px;
        left: 0;
    }
    .top_copy_txt .text_img span.text165 {
        width: 4px;
        top: 7px;
        left: 0;
    }
    .top_copy_txt .text_img span.text166 {
        width: 9px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text167 {
        width: 9px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text168 {
        width: 9px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text169 {
        width: 9px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text170 {
        width: 9px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text171 {
        width: 9px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text172 {
        width: 4px;
        top: 7px;
    }
    .top_copy_txt .text_img span.text173 {
        width: 11px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text174 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text175 {
        width: 7px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text176 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text177 {
        width: 9px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text178 {
        width: 8px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text179 {
        width: 10px;
        top: 5px;
    }
    .top_copy_txt .text_img span.text180 {
        width: 8px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text181 {
        width: 11px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text182 {
        width: 12px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text183 {
        width: 7px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text184 {
        width: 8px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text185 {
        width: 7px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text186 {
        width: 9px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text187 {
        width: 9px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text188 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text189 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text190 {
        width: 11px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text191 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text192 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text193 {
        width: 11px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text194 {
        width: 11px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text195 {
        width: 9px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text196 {
        width: 4px;
        top: 7px;
    }
    .top_copy_txt .text_img span.text197 {
        width: 6px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text198 {
        width: 7px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text199 {
        width: 7px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text200 {
        width: 7px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text201 {
        width: 6px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text202 {
        width: 6px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text203 {
        width: 4px;
        top: 9px;
    }
    .top_copy_txt .text_img span.text204 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text205 {
        width: 11px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text206 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text207 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text208 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text209 {
        width: 9px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text210 {
        width: 7px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text211 {
        width: 11px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text212 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text213 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text214 {
        width: 6px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text215 {
        width: 9px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text216 {
        width: 9px;
        top: 4px;
    }
    .top_copy_txt .text_img span.text217 {
        width: 9px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text218 {
        width: 11px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text219 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text220 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text221 {
        width: 8px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text222 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text223 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text224 {
        width: 11px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text225 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text226 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text227 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text228 {
        width: 6px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text229 {
        width: 4px;
        top: 7px;
    }
    .top_copy_txt .text_img span.text230 {
        width: 11px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text231 {
        width: 7px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text232 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text233 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text234 {
        width: 9px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text235 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text236 {
        width: 11px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text237 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text238 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text239 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text240 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text241 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text242 {
        width: 4px;
        top: 7px;
    }
    .top_copy_txt .text_img span.text243 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text244 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text245 {
        width: 9px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text246 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text247 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text248 {
        width: 11px;
        top: 4px;
    }
    .top_copy_txt .text_img span.text249 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text250 {
        width: 11px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text251 {
        width: 7px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text252 {
        width: 9px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text253 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text254 {
        width: 9px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text255 {
        width: 7px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text256 {
        width: 11px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text257 {
        width: 9px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text258 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text259 {
        width: 9px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text260 {
        width: 4px;
        top: 7px;
    }
    .top_copy_txt .text_img span.text261 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text262 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text263 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text264 {
        width: 11px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text265 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text266 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text267 {
        width: 11px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text268 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text269 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text270 {
        width: 9px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text271 {
        width: 7px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text272 {
        width: 9px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text273 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text274 {
        width: 9px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text275 {
        width: 5px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text276 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text277 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text278 {
        width: 9px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text279 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text280 {
        width: 11px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text281 {
        width: 4px;
        top: 7px;
    }
    .top_copy_txt .text_img span.text282 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text283 {
        width: 10px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text284 {
        width: 9px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text285 {
        width: 11px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text286 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text287 {
        width: 4px;
        top: 7px;
    }
    .top_copy_txt .text_img span.text288 {
        width: 8px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text289 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text290 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text291 {
        width: 8px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text292 {
        width: 11px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text293 {
        width: 11px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text294 {
        width: 10px;
        top: 3px;
    }
    .top_copy_txt .text_img span.text295 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text296 {
        width: 11px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text297 {
        width: 11px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text298 {
        width: 11px;
        top: 3px;
    }
    .top_copy_txt .text_img span.text299 {
        width: 9px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text300 {
        width: 9px;
        top: 3px;
    }
    .top_copy_txt .text_img span.text301 {
        width: 9px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text302 {
        width: 7px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text303 {
        width: 7px;
        top: 3px;
    }
    .top_copy_txt .text_img span.text304 {
        width: 10px;
        top: 5px;
    }
    .top_copy_txt .text_img span.text305 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text306 {
        width: 10px;
        top: 4px;
    }
    .top_copy_txt .text_img span.text307 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text308 {
        width: 10px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text309 {
        width: 7px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text310 {
        width: 9px;
        top: 1px;
    }
    .top_copy_txt .text_img span.text311 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text312 {
        width: 11px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text313 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text314 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text315 {
        width: 11px;
        top: 0px;
    }
    .top_copy_txt .text_img span.text316 {
        width: 10px;
        top: 2px;
    }
    .top_copy_txt .text_img span.text317 {
        width: 4px;
        top: 7px;
    }
    .recruit {
        padding: 80px 0 65px;
    }
    .entry {
        padding: 8% 0;
    }
    .enrty_btn {
        margin: 0 auto;
        width: 40rem;
        height: 6rem;
    }
    .bannerWrap .banner {
        width: 100%;
    }
    .bannerWrap .banner .banner_item {
        width: 100%;
        display: block;
        padding: 0 8%;
        position: relative;
        margin-bottom: 15%;
        height: auto;
    }
    .bannerWrap .banner .banner_item div {
        display: block;
    }
    .bannerWrap .banner .banner_item div.banner_item_img {
        text-align: center;
        width: 100%;
    }
    .bannerWrap .banner .banner_item div.banner_item_link {
        width: 100%;
        display: inline-block !important;
        text-align: center;
        padding-left: 0;
        position: absolute;
        bottom: -22px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 10;
        padding: 0 20% !important;
    }
    .bannerWrap .banner .banner_item:first-child .banner_item_link {
        padding-left: 0;
    }
    .bannerWrap .banner .banner_item:first-child .banner_item_img {
        width: 100%;
    }
    .bannerWrap .banner .banner_item:last-child .banner_item_link {
        padding-left: 0;
    }
}

@media screen and (max-width: 640px) {
    .recruit_btn {
        width: 25rem;
        height: 25rem;
    }
}

@media screen and (max-width: 468px) {
    .recruit_btn {
        width: 17rem;
        height: 17rem;
    }
    .enrty_btn {
        width: 25rem;
        height: 3.9rem;
    }
}

@media screen and (max-width: 375px) {
    .recruit {
        padding: 60px 0 50px;
    }
}

@media screen and (max-width: 346px) {
    .top_copy_txt .text_img span.text152, .top_copy_txt .text_img span.text153 {
        left: 0;
    }
}

@media screen and (max-width: 320px) {
    .enrty_btn {
        width: 20rem;
        height: 3rem;
    }
}

@media screen and (max-height: 900px) and (min-width: 767px) {
    .top_copy {
        padding: 160px 0 133px;
    }
    .top_copy_txt .text_img, .top_copy_txt .text_img:nth-child(4), .top_copy_txt .text_img:nth-child(5) {
        margin-bottom: 4.5%;
    }
}
