/** work pc style **/
.page_preson {
	.menuOpen span {
		background-color: #00465C;
	}
}
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
    }
    50% {
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }       
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }      
    100% {
        -webkit-transform: translateY(0%);
    }   
}
@keyframes slideZoom {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
        visibility: hidden;
    }
    30% {
        -webkit-transform: scale(0.3);
        opacity: 0;
        visibility: hidden;
    }
    60% {
        -webkit-transform: scale(0.6);
        opacity: 0.6;
        visibility: hidden;
    }  
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
        visibility: visible;
    }    
}
@keyframes slideIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    30% {
        opacity: 0.4;
        visibility: hidden;
    }
    50% {
        opacity: 0.6;
        visibility: hidden;
    }
    80% {
        opacity: 0.8;
        visibility: hidden;
    }  
    100% {
        opacity: 1;
        visibility: visible;
    }    
}
.page_preson {
	background: #fff;
	.section {
		overflow: hidden;
		&:not(:last-child) {
			margin-bottom: 100px;
		}
	}
	#main {
		background: url(../img/flower-bg.png) center top repeat;
		background-size: 100% auto;
		position: relative;
		z-index: 0;
		padding-bottom: 120px;
	}
}
.keyvisual {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    &:after {
    	position: absolute;
    	content: '';
    	width: 100%;
    	height: 100%;
    	left: 0;
    	top: 0;
    	z-index: -1;
    	background: url(../img/key-main_bg.svg) center center no-repeat;
    	background-size: cover;
    	animation-name: slideDown;
    	-webkit-animation-name: slideDown; 
		animation-duration: 1.5s; 
		-webkit-animation-duration: 1.5s;
		animation-timing-function: ease-in-out;    
		-webkit-animation-timing-function: ease-in-out;
    }
}
.key-main {
    align-self: center;
    position: relative;
    width: 800px;
    /*height: 682px;*/
}
@keyframes scrolldown{0%{background:transparent}50%{background:black}100%{background:transparent}}
.section-hero__line {
	position: absolute;
    left: 53%;
    bottom: 90px;
          animation-name: slideDown;
		-webkit-animation-name: slideDown; 
		animation-duration: 3.5s; 
		-webkit-animation-duration: 3.5s;
		animation-timing-function: ease-in-out;    
		-webkit-animation-timing-function: ease-in-out;
}
.section-hero__dot {
	width: 8px;
    height: 8px;
    border-radius: 100%;
    border: solid 1px #000;
    animation: scrolldown 1.4s infinite;
    margin-top: 2px;
    display: block;
	&:nth-of-type(1) {
		animation-delay: 0s;
	}
	&:nth-of-type(2) {
		animation-delay: 0.1s;
	}
	&:nth-of-type(3) {
		animation-delay: 0.2s;
	}
	&:nth-of-type(4) {
		animation-delay: 0.3s;
	}
	&:nth-of-type(5) {
		animation-delay: 0.4s;
	}
	&:nth-of-type(6) {
		animation-delay: 0.5s;
	}
}
.arrow {
	line-height: 0;
    display: block;
    margin-left: -7px;
    width: 23px;
	img {
		max-width: 23px;
	}
}
.kv01 {
	animation-name: slideDown;
    -webkit-animation-name: slideDown; 
    animation-duration: .8s; 
    -webkit-animation-duration: .8s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;   
}
.kv02 {
	position: absolute;
    left: 20%;
    top: 30%;
    width: 475px;
   /* -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
       -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);*/
          animation-name: slideZoom;
    -webkit-animation-name: slideZoom; 
    animation-duration: 1.5s; 
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}
.main-txt {
	max-width: 700px;
	margin: 0 auto 100px;
	text-align: center;
	line-height: 2;
	font-size: 18px;
	.txt-head {
		font-size: 25px;
		margin-bottom: 15px;
		font-weight: bold;
		line-height: 1.8;
	}
}
.box-title {
	text-align: center;
	margin-bottom: 30px;
	.box-title_head {
		margin-bottom: 7px;
		img {
			max-width: 424px;
		}
	}
	span {
		display: block;
		font-size: 12px;
	}
}


.article-top {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    overflow: hidden;
    margin: 0 -12%;
    .pre-col {
    	width: 50%;
    	&_inner {
    		/*width: -webkit-calc(100% + 400px);
    		width: calc(100% + 400px);*/
    		&.pre-small {
    			position: relative;
    			margin-right: -46.5%;
    			z-index: -2;
    			.bg {
    				width: 100%;
    				/*margin-left: -10%;*/
    				max-width: none;
    			}
    			.img {
				    width: 16.5%;
				    position: absolute;
				    right: 1.7%;
    				top: 4%;
    			}
    		}
    		&.pre-large {
    			position: relative;
    			margin-left: -46.5%;
    			z-index: -1;
    			.bg {
    				width: 100%;
    				/*margin-right: -10%;*/
    				max-width: none;
    			}
    			.img {
    				width: 34%;
				    position: absolute;
				    left: 1.8%;
				    top: 2.8%;
    			}
    		}
    	}
    }
}
.article-content {
	max-width: 726px;
	border: 6px solid #000;
	margin: -21.5% auto 0;
	position: relative;
	.join {
		font-size: 24px;
		display: inline-block;
		border: 6px solid #000;
		position: absolute;
		right: -40px;
		top: -40px;
		padding: 15px;
		background: #F7F8F8;
		font-weight: bold;
		span {
			font-size: 32px;
		}
		&:after {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			left: -58px;
			top: -6px;
			background: #000;
			z-index: -1;
			@include transform(skewX(-60deg));
		}
		&:before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			right: 47px;
    		top: 67px;
			background: #000;
			z-index: -1;
			@include transform(skewX(-60deg));
		}
	}
	.history {
		&_inner {
			padding: 50px;
			background: #F7F8F8;
		}
		&-title {
			font-size: 42px;
			font-weight: bold;
			line-height: 1.5;
			margin-bottom: 15px;
			span {
				font-size: 28px;
				display: block;
			}
		}
		.history-txt {
			font-size: 15px;
			border-bottom: 2px dotted #000;
			padding-bottom: 15px;
			margin-bottom: 15px;
		}
		.info {
			margin-left: -20px;
			li {
				display: inline-block;
				margin-left: 20px;
				span {
					display: inline-block;
					border: 1px solid #000;
					border-radius: 5px;
					line-height: 1;
					padding: 2px 10px;
					margin-right: 10px;
				}
			}
		}
	}
}
.section {
	&:nth-child(odd) {
		.article-top {
	    	-webkit-flex-flow: row-reverse;
		    -ms-flex-flow: row-reverse;
		    flex-flow: row-reverse;
		    .pre-col {
		    	&_inner {
		    		&.pre-small {
		    			margin-left: -46.5%;
		    			margin-right: 0;
		    			.bg{
		    				/*@include transform(rotate(215deg));*/
		    			}
		    			.img {
		    				right: auto;
		    				left: 1.7%;
		    				/*@include transform(rotate(-215deg));*/
		    			}
		    		}
		    		&.pre-large {
		    			margin-right: -46.5%;
		    			margin-left: 0;
		    			.bg {
		    				/*@include transform(rotate(135deg));*/
		    			}
		    			.img {
		    				left: auto;
		    				right: 1.8%;
		    				/*@include transform(rotate(-135deg));*/
		    			}
		    		}
		    	}
		    }
	    }
	    .article-content {
	    	.join {
	    		right: auto;
	    		left: -40px;
	    		&:after {
	    			right: auto;
	    			left: 57px;
    				top: -6px;
    				-webkit-transform: skewX(60deg);
				    -ms-transform: skewX(60deg);
				    transform: skewX(60deg);
	    		}
	    		&:before {
				    left: 47px;
				    top: 67px;
				    -webkit-transform: skewX(60deg);
				    -ms-transform: skewX(60deg);
				    transform: skewX(60deg);
				}
	    	}
	    }
    }
}
.pre-small {
	/*background: url(../img/bg-blue.svg) left top repeat;*/
	/*position: relative;*/
	.bg-blue {}
}
.pre-large {
	margin-top: 20px; 
}
.preson-article {
	&:not(:last-child) {
		margin-bottom: 180px;
	}
}