/** about sp style **/
.page_preson {
	#footer,
	#wrapper {
		min-width: 100%;
		overflow: hidden;
	}
}
.page_preson {
	.section {
		&:not(:last-child) {
			margin-bottom: 50px;
		}
	}
	#main {
		padding-bottom: 60px;
	}
}
.keyvisual {
    /*min-height: 1px;*/
    padding: 70px 0px 55px;
    &:after {
    	background: url(../img/key-main_bg.svg) center center repeat;
    	top: 35px;
    }
}
.kv02 {
	width: 60%;
}
.section-hero {
	&__line {
		bottom: -55px;
	}
	&__dot {
		width: 4px;
	    height: 4px;
    }
}
.arrow {
	img {
		max-width: 18px;
	}
}
.main-txt {
	padding: 50px 15px;
	margin: 0 auto 0;
	text-align: center;
	font-size: 12px;
	.txt-head {
		font-size: 16px;
	}
}
.box-title {
    margin: 0 auto 20px;
    width: 70%;
    span {
    	font-size: 9px;
    }
}
.article-top {
	margin: 0 -50%;
	.pre-col {
		&_inner {

		}
	}
}
.article-content {
	border: 3px solid #000;
	margin: -31.5% 15px 0;
	.history {
		&_inner {
			padding: 35px 20px 20px;
		}
		&-title {
			font-size: 22px;
			span {
				font-size: 16px;
			}
		}
		.history-txt {
			font-size: 12px;
		}
		.info {
			margin-left: -10px;
			li {
				display: inline-block;
				margin-left: 10px;
				span {
					display: inline-block;
					border: 1px solid #000;
					border-radius: 5px;
					line-height: 1;
					padding: 2px 10px;
					margin-right: 10px;
				}
			}
		}
	}
	.join {
		border: 3px solid #000;
		right: -18px;
		top: -24px;
		font-size: 14px;
		padding: 10px 15px;
		&:before {
		    right: 34px;
		    top: 45px;
		}
		&:after {
			left: -38px;
    		top: -3px;
		}
		span {
			font-size: 20px;
		}
	}
}
.section {
	&:nth-child(odd) {
		.article-top {

		}
		.article-content {
			.join {
				left: -18px;
				&:before {
					left: 34px;
    				top: 45px;
				}
				&:after {
					left: 40px;
    				top: -3px;
				}
			}
		}
	}
}
.preson-article {
	&:not(:last-child) {
		margin-bottom: 90px;
	}
}