@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@import "./_preson_pc.scss";
@media screen and (max-width: 768px) {
	@import "./_preson_sp.scss";
}