/** work pc style **/
.page_preson .menuOpen span {
  background-color: #00465C; }

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden; }
  50% {
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden; }
  100% {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible; } }
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%); } }
@keyframes slideZoom {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
    visibility: hidden; }
  30% {
    -webkit-transform: scale(0.3);
    opacity: 0;
    visibility: hidden; }
  60% {
    -webkit-transform: scale(0.6);
    opacity: 0.6;
    visibility: hidden; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    visibility: visible; } }
@keyframes slideIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  30% {
    opacity: 0.4;
    visibility: hidden; }
  50% {
    opacity: 0.6;
    visibility: hidden; }
  80% {
    opacity: 0.8;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
.page_preson {
  background: #fff; }
  .page_preson .section {
    overflow: hidden; }
    .page_preson .section:not(:last-child) {
      margin-bottom: 100px; }
  .page_preson #main {
    background: url(../img/flower-bg.png) center top repeat;
    background-size: 100% auto;
    position: relative;
    z-index: 0;
    padding-bottom: 120px; }

.keyvisual {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center; }
  .keyvisual:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background: url(../img/key-main_bg.svg) center center no-repeat;
    background-size: cover;
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out; }

.key-main {
  align-self: center;
  position: relative;
  width: 800px;
  /*height: 682px;*/ }

@keyframes scrolldown {
  0% {
    background: transparent; }
  50% {
    background: black; }
  100% {
    background: transparent; } }
.section-hero__line {
  position: absolute;
  left: 53%;
  bottom: 90px;
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 3.5s;
  -webkit-animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out; }

.section-hero__dot {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: solid 1px #000;
  animation: scrolldown 1.4s infinite;
  margin-top: 2px;
  display: block; }
  .section-hero__dot:nth-of-type(1) {
    animation-delay: 0s; }
  .section-hero__dot:nth-of-type(2) {
    animation-delay: 0.1s; }
  .section-hero__dot:nth-of-type(3) {
    animation-delay: 0.2s; }
  .section-hero__dot:nth-of-type(4) {
    animation-delay: 0.3s; }
  .section-hero__dot:nth-of-type(5) {
    animation-delay: 0.4s; }
  .section-hero__dot:nth-of-type(6) {
    animation-delay: 0.5s; }

.arrow {
  line-height: 0;
  display: block;
  margin-left: -7px;
  width: 23px; }
  .arrow img {
    max-width: 23px; }

.kv01 {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: .8s;
  -webkit-animation-duration: .8s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.kv02 {
  position: absolute;
  left: 20%;
  top: 30%;
  width: 475px;
  /* -webkit-transform: translate(-50%,-50%);
     -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
         transform: translate(-50%,-50%);*/
  animation-name: slideZoom;
  -webkit-animation-name: slideZoom;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.main-txt {
  max-width: 700px;
  margin: 0 auto 100px;
  text-align: center;
  line-height: 2;
  font-size: 18px; }
  .main-txt .txt-head {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 1.8; }

.box-title {
  text-align: center;
  margin-bottom: 30px; }
  .box-title .box-title_head {
    margin-bottom: 7px; }
    .box-title .box-title_head img {
      max-width: 424px; }
  .box-title span {
    display: block;
    font-size: 12px; }

.article-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  overflow: hidden;
  margin: 0 -12%; }
  .article-top .pre-col {
    width: 50%; }
    .article-top .pre-col_inner {
      /*width: -webkit-calc(100% + 400px);
      width: calc(100% + 400px);*/ }
      .article-top .pre-col_inner.pre-small {
        position: relative;
        margin-right: -46.5%;
        z-index: -2; }
        .article-top .pre-col_inner.pre-small .bg {
          width: 100%;
          /*margin-left: -10%;*/
          max-width: none; }
        .article-top .pre-col_inner.pre-small .img {
          width: 16.5%;
          position: absolute;
          right: 1.7%;
          top: 4%; }
      .article-top .pre-col_inner.pre-large {
        position: relative;
        margin-left: -46.5%;
        z-index: -1; }
        .article-top .pre-col_inner.pre-large .bg {
          width: 100%;
          /*margin-right: -10%;*/
          max-width: none; }
        .article-top .pre-col_inner.pre-large .img {
          width: 34%;
          position: absolute;
          left: 1.8%;
          top: 2.8%; }

.article-content {
  max-width: 726px;
  border: 6px solid #000;
  margin: -21.5% auto 0;
  position: relative; }
  .article-content .join {
    font-size: 24px;
    display: inline-block;
    border: 6px solid #000;
    position: absolute;
    right: -40px;
    top: -40px;
    padding: 15px;
    background: #F7F8F8;
    font-weight: bold; }
    .article-content .join span {
      font-size: 32px; }
    .article-content .join:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: -58px;
      top: -6px;
      background: #000;
      z-index: -1;
      -webkit-transform: skewX(-60deg);
      -ms-transform: skewX(-60deg);
      transform: skewX(-60deg); }
    .article-content .join:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      right: 47px;
      top: 67px;
      background: #000;
      z-index: -1;
      -webkit-transform: skewX(-60deg);
      -ms-transform: skewX(-60deg);
      transform: skewX(-60deg); }
  .article-content .history_inner {
    padding: 50px;
    background: #F7F8F8; }
  .article-content .history-title {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 15px; }
    .article-content .history-title span {
      font-size: 28px;
      display: block; }
  .article-content .history .history-txt {
    font-size: 15px;
    border-bottom: 2px dotted #000;
    padding-bottom: 15px;
    margin-bottom: 15px; }
  .article-content .history .info {
    margin-left: -20px; }
    .article-content .history .info li {
      display: inline-block;
      margin-left: 20px; }
      .article-content .history .info li span {
        display: inline-block;
        border: 1px solid #000;
        border-radius: 5px;
        line-height: 1;
        padding: 2px 10px;
        margin-right: 10px; }

.section:nth-child(odd) .article-top {
  -webkit-flex-flow: row-reverse;
  -ms-flex-flow: row-reverse;
  flex-flow: row-reverse; }
  .section:nth-child(odd) .article-top .pre-col_inner.pre-small {
    margin-left: -46.5%;
    margin-right: 0; }
    .section:nth-child(odd) .article-top .pre-col_inner.pre-small .bg {
      /*@include transform(rotate(215deg));*/ }
    .section:nth-child(odd) .article-top .pre-col_inner.pre-small .img {
      right: auto;
      left: 1.7%;
      /*@include transform(rotate(-215deg));*/ }
  .section:nth-child(odd) .article-top .pre-col_inner.pre-large {
    margin-right: -46.5%;
    margin-left: 0; }
    .section:nth-child(odd) .article-top .pre-col_inner.pre-large .bg {
      /*@include transform(rotate(135deg));*/ }
    .section:nth-child(odd) .article-top .pre-col_inner.pre-large .img {
      left: auto;
      right: 1.8%;
      /*@include transform(rotate(-135deg));*/ }
.section:nth-child(odd) .article-content .join {
  right: auto;
  left: -40px; }
  .section:nth-child(odd) .article-content .join:after {
    right: auto;
    left: 57px;
    top: -6px;
    -webkit-transform: skewX(60deg);
    -ms-transform: skewX(60deg);
    transform: skewX(60deg); }
  .section:nth-child(odd) .article-content .join:before {
    left: 47px;
    top: 67px;
    -webkit-transform: skewX(60deg);
    -ms-transform: skewX(60deg);
    transform: skewX(60deg); }

.pre-small {
  /*background: url(../img/bg-blue.svg) left top repeat;*/
  /*position: relative;*/ }

.pre-large {
  margin-top: 20px; }

.preson-article:not(:last-child) {
  margin-bottom: 180px; }

@media screen and (max-width: 768px) {
  /** about sp style **/
  .page_preson #footer,
  .page_preson #wrapper {
    min-width: 100%;
    overflow: hidden; }

  .page_preson .section:not(:last-child) {
    margin-bottom: 50px; }
  .page_preson #main {
    padding-bottom: 60px; }

  .keyvisual {
    /*min-height: 1px;*/
    padding: 70px 0px 55px; }
    .keyvisual:after {
      background: url(../img/key-main_bg.svg) center center repeat;
      top: 35px; }

  .kv02 {
    width: 60%; }

  .section-hero__line {
    bottom: -55px; }
  .section-hero__dot {
    width: 4px;
    height: 4px; }

  .arrow img {
    max-width: 18px; }

  .main-txt {
    padding: 50px 15px;
    margin: 0 auto 0;
    text-align: center;
    font-size: 12px; }
    .main-txt .txt-head {
      font-size: 16px; }

  .box-title {
    margin: 0 auto 20px;
    width: 70%; }
    .box-title span {
      font-size: 9px; }

  .article-top {
    margin: 0 -50%; }

  .article-content {
    border: 3px solid #000;
    margin: -31.5% 15px 0; }
    .article-content .history_inner {
      padding: 35px 20px 20px; }
    .article-content .history-title {
      font-size: 22px; }
      .article-content .history-title span {
        font-size: 16px; }
    .article-content .history .history-txt {
      font-size: 12px; }
    .article-content .history .info {
      margin-left: -10px; }
      .article-content .history .info li {
        display: inline-block;
        margin-left: 10px; }
        .article-content .history .info li span {
          display: inline-block;
          border: 1px solid #000;
          border-radius: 5px;
          line-height: 1;
          padding: 2px 10px;
          margin-right: 10px; }
    .article-content .join {
      border: 3px solid #000;
      right: -18px;
      top: -24px;
      font-size: 14px;
      padding: 10px 15px; }
      .article-content .join:before {
        right: 34px;
        top: 45px; }
      .article-content .join:after {
        left: -38px;
        top: -3px; }
      .article-content .join span {
        font-size: 20px; }

  .section:nth-child(odd) .article-content .join {
    left: -18px; }
    .section:nth-child(odd) .article-content .join:before {
      left: 34px;
      top: 45px; }
    .section:nth-child(odd) .article-content .join:after {
      left: 40px;
      top: -3px; }

  .preson-article:not(:last-child) {
    margin-bottom: 90px; } }

/*# sourceMappingURL=preson.css.map */
