@media screen and (max-width: 767px) {
    .page_message .keyvisual {
        background: url(../../common/img/bg_keyvisual_page_sp.png) no-repeat;
        background-size: cover;
        height: 140vw;
    }
    .page_message .keyvisual_scroll {
        bottom: 0;
    }
    .keyvisual_message {
        padding: 20% 0 26%;
        text-align: center;
        position: relative;
    }
    .keyvisual_message .ribbon {
        width: 80%;
        display: inline-block;
    }
    .keyvisual_message .txt01 {
        width: 58%;
        margin-bottom: 22%;
        display: inline-block;
    }
    .keyvisual_message .img01 {
        width: 38%;
        position: relative;
        z-index: 100;
        left: 31%;
    }
    .keyvisual_message .img02 {
        width: 34%;
        position: relative;
        left: 9%;
        z-index: 1;
        margin-top: -54%;
    }
    .keyvisual_message .img03 {
        width: 37%;
        position: relative;
        left: 58%;
        z-index: 1;
        margin-top: -50%;
    }
    .keyvisual_message .img04 {
        width: 89%;
        display: inline-block;
        position: relative;
        z-index: 200;
        margin-top: -20%;
    }
    .keyvisual_message .img05 {
        width: 68%;
        display: block;
        position: relative;
        right: 0;
        z-index: 300;
        margin-top: -17%;
        left: 16%;
    }
    .keyvisual_message .img05 img {
        max-width: 86%;
    }
    .message_wrap {
        padding: 0 5%;
    }
    .message_wrap .text {
        font-size: 13px;
        padding: 0 2% 20px;
        line-height: 1.6;
    }
    .message_content01, .message_content02, .message_content03 {
        height: unset;
        padding-top: 7%;
    }
    .message_wrap .balloon {
        padding-bottom: 4%;
    }
}
