/* Message pages
---------------------------------------------------------- */
.page_message .keyvisual {
    background: url(../../common/img/bg_keyvisual_page.png) no-repeat center;
    background-size: cover;
    text-align: center;
    height: 620px;
}

.page_message .keyvisual .keyvisual_message {
    position: relative;
    max-width: 665px;
    margin: 0 auto;
}

.keyvisual_message #ribbon {
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    display: none;
}

.keyvisual_message #txt01 {
    position: absolute;
    top: 153px;
    left: 208px;
    display: none;
}

.keyvisual_message #img01 {
    position: absolute;
    top: 246px;
    left: 0;
    right: 0;
    display: none;
    z-index: 100;
}

.keyvisual_message #img02 {
    position: absolute;
    top: 193px;
    left: 35px;
    display: none;
}

.keyvisual_message #img03 {
    position: absolute;
    top: 204px;
    right: 35px;
    display: none;
}

.keyvisual_message #img04 {
    position: absolute;
    top: 422px;
    right: 0;
    left: 0;
    z-index: 200;
    display: none;
}

.keyvisual_message #img05 {
    position: absolute;
    top: 476px;
    left: 92px;
    z-index: 300;
    display: none;
}

.page_message #main {
    background: url(../../common/img/bg_main_page.png) repeat top center;
}

.message_wrap {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}

.message_wrap .text {
    font-size: 16px;
    line-height: 1.9375;
    color: #595757;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-align: left;
    padding: 0 25px 20px;
}

.message_content01 {
    position: relative;
    height: 1000px;
}

.message_balloon01 {
    position: absolute;
    display: none;
}

.message_txt01 {
    position: absolute;
    display: none;
}

.message_img01 {
    position: absolute;
    display: none;
}

.message_content02 {
    height: 1050px;
    position: relative;
}

.message_balloon02 {
    position: absolute;
    display: none;
}

.message_txt02 {
    position: absolute;
    display: none;
}

.message_img02 {
    position: absolute;
    display: none;
}

.message_content03 {
    height: 1006px;
    position: relative;
}

.message_balloon03 {
    position: absolute;
    display: none;
}

.message_txt03 {
    position: absolute;
    display: none;
}

.message_img03 {
    position: absolute;
    display: none;
}
