/* Recruit pages
---------------------------------------------------------- */
.page_recruit .keyvisual {
    background: url(../../common/img/bg_keyvisual_page.png) no-repeat center;
    background-size: cover;
    text-align: center;
    height: 500px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.page_recruit #main {
    background: url(../../common/img/bg_main_page.png) repeat top left;
}

.page_heading {
    padding: 70px 0 64px;
    text-align: center;
}

.page_heading h2 {
    padding-bottom: 18px;
}

.page_heading .text_recruit {
    font-size: 17px;
    line-height: 1.764;
    letter-spacing: 0.01em;
}

.recruit_list ul {
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 92px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.recruit_list ul li {
    width: 48.51%;
    margin-bottom: 12px;
}

.recruit_list ul li:nth-child(2n) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
}
