/* Reponsive width: 767px
---------------------------------------------------------- */
@media screen and (max-width: 767px) {
    .page_recruit .keyvisual {
        background: url(../../common/img/bg_keyvisual_page_sp.png) no-repeat;
        background-size: cover;
        height: 130vw;
        position: relative;
    }
    .page_recruit .keyvisual .keyvisual_scroll {
        bottom: 4%;
    }
    .page_recruit .keyvisual .keyvisual_logo {
        padding: 0 15%;
    }
    .page_heading {
        padding: 30px 0 30px;
    }
    .page_heading h2 {
        padding: 0 10% 20px;
    }
    .page_heading .text_recruit {
        font-size: 13px;
        max-width: 323px;
        margin: 0 auto;
    }
    .recruit_list {
        padding-bottom: 30px;
    }
    .recruit_list ul {
        max-width: 695px;
        padding: 0 6%;
        text-align: center;
    }
    .recruit_list ul li {
        width: 100%;
    }
}
