/* Company pages
---------------------------------------------------------- */
.page_company .none {
    display: none !important;
}

.page_company .none.animated {
    display: block !important;
}

.page_company .is_sp.animated {
    display: none !important;
}

.page_company .keyvisual {
    background: url(../img/bg_keyvisual_company.png) no-repeat center;
    background-size: cover;
    text-align: center;
    height: 100vh;
    position: relative;
}

.page_company .keyvisual .keyvisual_company {
    width: 1114px;
    height: inherit;
    margin: 0 auto;
    position: relative;
}

.page_company .keyvisual .keyvisual_cup01 {
    position: absolute;
    left: 0;
    top: 21%;
}

.page_company .keyvisual .keyvisual_cup02 {
    position: absolute;
    right: 0;
    top: 25%;
}

.page_company .keyvisual .keyvisual_text {
    position: relative;
    max-width: 455px;
    margin: 0 auto;
    top: 30%;
    height: 312px;
}

.page_company .keyvisual .keyvisual_txt01 {
    position: absolute;
    top: 0;
}

.page_company .keyvisual .keyvisual_txt03 {
    position: absolute;
    bottom: 0;
}

.page_company .keyvisual .keyvisual_txt02 {
    position: absolute;
    top: 41%;
}

.page_company .keyvisual .keyvisual_scroll {
    bottom: 33px;
}

#main {
    background: #F9F2E8;
    padding: 140px 0 0;
}

#main .company_wrap {
    width: 1040px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 66px;
}

#main .company_item {
    margin-bottom: 145px;
    position: relative;
    overflow: hidden;
}

#main .company_item .box_left {
    float: left;
}

#main .company_item .box_right {
    float: right;
}

#main .company_item p {
    font-size: 15px;
    line-height: 2;
    font-weight: bold;
    color: #231815;
}

#main .company_item.item01 {
    text-align: center;
    height: 560px;
}

#main .company_item.item01 .cup01 {
    position: absolute;
    left: 0;
    top: 0;
}

#main .company_item.item01 .cup02 {
    position: absolute;
    right: 0;
    top: 0;
}

#main .company_item.item02 {
    padding: 0 35px 0 50px;
    margin-bottom: 224px;
}

#main .company_item.item02 .txt01, #main .company_item.item02 .txt02 {
    margin-bottom: 20px;
}

#main .company_item.item02 .img02 {
    margin-bottom: 25px;
}

#main .company_item.item02 .txt03 {
    margin-bottom: 25px;
}

#main .company_item.item03 {
    padding: 0 15px 0 60px;
    margin-bottom: 260px;
    position: relative;
}

#main .company_item.item03 .txt01 {
    margin-bottom: 30px;
}

#main .company_item.item03 .img01 {
    position: absolute;
    right: 15px;
    bottom: 0;
}

#main .company_item.item04 {
    padding-left: 15px;
}

#main .company_item.item04 .img01 {
    margin-top: 15px;
}

#main .company_item.item04 .txt01 {
    margin-bottom: 20px;
}

#main .company_item.item05 {
    text-align: center;
    margin-bottom: 80px;
}

#main .company_item.item06 {
    padding: 0 55px;
}

#main .company_item.item06 .txt01 {
    margin-bottom: 25px;
}

#main .company_item.item06 .txt02 {
    margin-bottom: 40px;
}

#main .company_item.item06 .img02 {
    margin-top: 55px;
    text-align: center;
    margin-bottom: 40px;
}

#main .company_item.item06 .txt03 {
    margin-bottom: 20px;
}

#main .company_item.item07 {
    padding-left: 60px;
    position: relative;
}

#main .company_item.item07 .txt01 {
    margin-bottom: 20px;
    margin-top: 40px;
}

#main .company_item.item07 .img01 {
    position: absolute;
    left: 190px;
    top: 200px;
}

#main .company_item.item07 .img02 {
    margin-bottom: 35px;
    padding-left: 75px;
}

#main .company_item.item07 .txt03, #main .company_item.item07 .txt02 {
    margin-bottom: 20px;
}

#main .company_item.item08 .txt01 {
    padding-left: 45px;
    margin-bottom: 20px;
}

#main .company_item.item08 .txt02 {
    padding-left: 45px;
    margin-bottom: 15px;
}

#main .company_item.item08 .img01 {
    padding-left: 35px;
}

#main .company_item.item08 .img02 {
    padding-right: 70px;
    margin-top: 20px;
    margin-bottom: 40px;
}

#main .company_item.item08 .txt03 {
    margin-bottom: 20px;
}

#main .company_item.item09 {
    text-align: center;
}

#main .company_item.item10 {
    padding: 0 50px;
}

#main .company_item.item10 .txt01 {
    margin-bottom: 20px;
    margin-top: 10px;
}

#main .company_item.item11 {
    padding: 0 128px 0 220px;
}

#main .company_item.item11 .txt01 {
    margin-bottom: 20px;
}

#main .company_item.item11 .txt02 {
    margin-bottom: 30px;
}

#main .company_item.item12 {
    padding: 0 80px 0 60px;
    margin-bottom: 0;
}

#main .company_item.item12 .img02 {
    margin-top: 30px;
}
