/* Reponsive width: 767px
---------------------------------------------------------- */
@media screen and (max-width: 767px) {
    .page_company .is_pc.animated {
        display: none !important;
    }
    .page_company .is_sp.animated {
        display: block !important;
    }
    .page_company .keyvisual {
        height: 100vh;
    }
    .page_company .keyvisual .keyvisual_company {
        width: 100%;
    }
    .page_company .keyvisual .keyvisual_cup01 {
        -webkit-transform: translateY(-90%);
            -ms-transform: translateY(-90%);
                transform: translateY(-90%);
        top: 90%;
        max-width: 206px;
        width: 23%;
        margin-left: 9%;
    }
    .page_company .keyvisual .keyvisual_cup02 {
        -webkit-transform: translateY(-90%);
            -ms-transform: translateY(-90%);
                transform: translateY(-90%);
        top: 90%;
        max-width: 248px;
        width: 29.688%;
        margin-right: 11%;
    }
    .page_company .keyvisual .keyvisual_text {
        top: 20%;
        width: 72%;
        -webkit-transform: translateY(-20%);
            -ms-transform: translateY(-20%);
                transform: translateY(-20%);
        height: 55vw;
    }
    #main {
        padding: 16% 0 0;
    }
    #main .company_wrap {
        width: 100%;
        padding-bottom: 25%;
    }
    #main .company_item {
        margin-bottom: 19%;
    }
    #main .company_item .box_left {
        float: none;
    }
    #main .company_item .box_right {
        float: none;
    }
    #main .company_item.item01 {
        height: auto;
        display: table;
        width: 100%;
        padding: 0 9%;
    }
    #main .company_item.item01 .cup01.is_sp {
        position: relative;
        padding-right: 5%;
        width: 50%;
    }
    #main .company_item.item01 .cup01.is_sp.animated {
        display: table-cell !important;
    }
    #main .company_item.item01 .cup02.is_sp {
        position: relative;
        padding-left: 5%;
        width: 50%;
    }
    #main .company_item.item01 .cup02.is_sp.animated {
        display: table-cell !important;
    }
    #main .company_item.item01 .txt01 {
        padding: 0 16% 5%;
    }
    #main .company_item.item01 .txt01.animated {
        display: table-caption !important;
    }
    #main .company_item.item02 {
        padding: 0 12%;
        text-align: center;
        margin-bottom: 22%;
    }
    #main .company_item.item02 .txt01 {
        display: inline-block;
        width: 61.264%;
        margin-bottom: 5%;
    }
    #main .company_item.item02 .txt02 {
        text-align: left;
    }
    #main .company_item.item02 .img01 {
        width: 80%;
        display: inline-block;
        margin-bottom: 24%;
    }
    #main .company_item.item02 .txt04 {
        text-align: left;
        margin-bottom: 3%;
    }
    #main .company_item.item02 .img02 {
        margin-bottom: 0;
        width: 79%;
        margin: 0 auto;
    }
    #main .company_item.item03 {
        padding: 0 12%;
        margin-bottom: 19%;
    }
    #main .company_item.item03 .txt01 {
        margin-bottom: 6%;
    }
    #main .company_item.item03 .txt02 {
        margin-bottom: 4%;
    }
    #main .company_item.item03 .img01 {
        position: static;
        margin: 0 auto;
        width: 85.32%;
    }
    #main .company_item.item04 {
        padding: 0 12%;
    }
    #main .company_item.item04 .txt02 {
        margin-bottom: 4%;
    }
    #main .company_item.item04 .img01 {
        margin: 0 auto;
        width: 72.5%;
    }
    #main .company_item.item05 {
        padding: 0 9%;
        margin-bottom: 23%;
    }
    #main .company_item.item06 {
        padding: 0 12%;
        margin-bottom: 10%;
    }
    #main .company_item.item06 .img01 {
        margin: 0 auto 25%;
        width: 85.8%;
    }
    #main .company_item.item06 .txt02 {
        margin-bottom: 6%;
    }
    #main .company_item.item06 .img02 {
        margin: 5% auto 0;
        width: 57%;
    }
    #main .company_item.item07 {
        padding: 0 12%;
    }
    #main .company_item.item07 .txt02 {
        margin-bottom: 4%;
    }
    #main .company_item.item07 .img01 {
        position: static;
        margin: 0 auto 25%;
        width: 57.5655%;
    }
    #main .company_item.item07 .txt03 {
        text-align: center;
    }
    #main .company_item.item07 .txt04 {
        margin-bottom: 4%;
    }
    #main .company_item.item07 .img02 {
        margin: 0 auto;
        width: 63%;
        padding: 0;
    }
    #main .company_item.item08 {
        padding: 0 12%;
    }
    #main .company_item.item08 .txt01 {
        padding-left: 0;
        text-align: center;
    }
    #main .company_item.item08 .txt02 {
        padding-left: 0;
    }
    #main .company_item.item08 .img01 {
        padding-left: 0;
        margin: 0 auto 25%;
        width: 93%;
    }
    #main .company_item.item08 .txt03 {
        text-align: center;
    }
    #main .company_item.item08 .txt04 {
        margin-bottom: 4%;
    }
    #main .company_item.item08 .img02 {
        margin: 0 auto;
        width: 75%;
        padding-right: 0;
    }
    #main .company_item.item09 {
        padding: 0 9%;
    }
    #main .company_item.item10 {
        padding: 0 9%;
    }
    #main .company_item.item10 .txt01 {
        margin-top: 0;
        margin-bottom: 4%;
        text-align: center;
        padding: 0 3%;
    }
    #main .company_item.item10 .txt02 {
        padding: 0 3%;
        margin-bottom: 4%;
    }
    #main .company_item.item11 {
        padding: 0 9%;
    }
    #main .company_item.item12 {
        padding: 0 4%;
        display: table;
        width: 100%;
    }
    #main .company_item.item12 .box_left {
        display: table-cell !important;
        width: 50%;
        padding-right: 2%;
    }
    #main .company_item.item12 .box_right {
        display: table-cell !important;
        width: 50%;
        padding-left: 2%;
    }
}
