@media screen and (max-width: 767px) {
    .page_info .keyvisual {
        background: url(../../common/img/bg_keyvisual_page_sp.png) no-repeat;
        background-size: cover;
        height: 60vw;
        padding: 6% 10% 0;
    }
    .page_info #main {
        padding-bottom: 5%;
    }
    .info_wrap {
        padding: 6%;
    }
    .info_wrap .info_copy {
        font-size: 13px;
        margin-bottom: 20px;
    }
    .info_wrap .info_link {
        padding: 0 6%;
        margin-bottom: 5%;
    }
    .info_wrap .info_link:first-child {
        margin-bottom: 15px;
        margin-right: 0;
    }
}
