/* Info pages
---------------------------------------------------------- */
.page_info .keyvisual {
    background: url(../../common/img/bg_keyvisual_page.png) no-repeat center;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 290px;
}

.page_info #main {
    background: url(../../common/img/bg_main_page.png) repeat top center;
    padding-bottom: 50px;
}

.info_wrap {
    max-width: 860px;
    margin: 0 auto;
    padding: 90px 0;
    text-align: center;
}

.info_wrap h2 {
    margin-bottom: 15px;
}

.info_wrap .info_copy {
    font-size: 15px;
    line-height: 1.7333;
    margin-bottom: 30px;
}

.info_wrap .info_copy a {
    display: inline-block;
}

.info_wrap .info_copy a:hover {
    color: #00465C;
}

.info_wrap .info_link {
    margin-top: 20px;
    display: inline-block;
}

.info_wrap .info_link:first-child {
    margin-right: 114px;
}
