.america {
    .symbol-icon {
        max-width: 164px;
        left: -110px;
        bottom: -40px;
    }
}
.section-seasons {
	.seasons-head {
		margin-bottom: 65px;
	}
}
.seasons-contents {
    .block01 {
    	margin-bottom: 90px;
    	h3 {
    		max-width: 108px;
    		margin: 0 auto 40px;
    	}
    	.img01 {
    		position: relative;
    	}
    	.txt01 {
    		display: inline-block;
    		position: absolute;
    		left: 5px;
    		top: 50%;
    	}
    	.txt02 {
    		display: inline-block;
    		text-align: center;
    		position: absolute;
    		right: 7%;
    		bottom: 5%;
    		line-height: 1.5;
    	}
    }
    .block02 {
    	position: relative;
    	.img-pos {
    		position: absolute;
    		right: 0;
    		bottom: -45px;
    		max-width: 90px;
    		display: inline-block;
    	}
    	.img01 {
    		position: relative;
    	}
    	.txt01 {
    		display: inline-block;
    		position: absolute;
    		right: -6%;
    		top: 12%;
    		line-height: 1.5;
    	}
    	.txt02 {
    		display: inline-block;
    		position: absolute;
    		right: 0;
    		bottom: 20%;
    		line-height: 1.5;
    	}
    	.txt03 {
    		display: inline-block;
    		position: absolute;
    		left: 38%;
    		bottom: 0;
    		line-height: 1.5;
    	}
    }
    .block03 {
    	margin-bottom: 60px;
    	.txt01 {
    		max-width: 340px;
    		line-height: 1.5;
    	}
    	h3 {
    		max-width: 315px;
    		margin: 0 auto 40px;
    	}
    	.txt02 {
    		line-height: 1.5;
    	}	
    }
    .block04 {
    	.txt01 {
    		margin-bottom: 25px;
    		line-height: 1.5;
    	}
    	.img02 {
    		margin-bottom: 10px;
    	}
    	.txt02 {
    		max-width: 282px;
    		float: right;
    		line-height: 1.5;
    	}
    }
}
.voice01 {
	.real-voice_item--ttl {
		max-width: 180px;
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    left: -23%;
	    top: 20%;
	    max-width: 162px;
	    z-index: 2;
	}
	.lbl01 {
        top: -9%;
        left: -7%;
        max-width: 99px;
    }
    .lbl02 {
        top: -9%;
        right: -9%;
        max-width: 120px;
    }
}
.voice02 {
	.real-voice_item--ttl {
		max-width: 155px;
	}
	.lbl01 {
		top: -6%;
    	left: 30%;
        max-width: 145px;
	}
}
.voice03 {
	.real-voice_item--ttl {
		max-width: 184px;
	}
	.lbl01 {
        top: -2%;
        left: -7%;
        max-width: 99px;
    }
    .lbl02 {
        top: -4%;
        right: -9%;
        max-width: 120px;
    }
}
.voice04 {
	.real-voice_item--ttl {
		max-width: 220px;
	}
	.lbl01 {
		top: -6%;
    	left: 30%;
        max-width: 143px;
	}
}
.voice05 {
	.real-voice_item--ttl {
		max-width: 220px;
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    left: -41%;
	    top: 88%;
	    max-width: 265px;
	    z-index: 2;
	}
	.lbl01 {
        top: -2%;
        left: -7%;
        max-width: 99px;
    }
    .lbl02 {
        top: -4%;
        right: -9%;
        max-width: 120px;
    }
}
.voice06 {
	.real-voice_item--ttl {
		max-width: 127px;
	}
	.real-voice_item--img {
		img {
			max-width: 160px;
		}
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    right: -27%;
	    bottom: 6%;
	    max-width: 156px;
	    z-index: 2;
	}
	.lbl01 {
		top: -6%;
    	left: 35%;
        max-width: 95px;
	}
}
.voice07 {
	.real-voice_item--ttl {
		max-width: 238px;
	}
	.lbl01 {
        top: -2%;
        left: -7%;
        max-width: 99px;
    }
    .lbl02 {
        top: -4%;
        right: -9%;
        max-width: 120px;
    }
}
.voice08 {
	.real-voice_item--ttl {
		max-width: 125px;
	}
	.real-voice_item--img {
		img {
			max-width: 149px;
		}
	}
	.lbl01 {
		top: -6%;
    	left: 35%;
        max-width: 145px;
	}
}
.voice09 {
	.real-voice_item--ttl {
		max-width: 163px;
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    right: -40%;
	    top: -4%;
	    max-width: 235px;
	    z-index: 2;
	}
	.lbl01 {
		top: -5%;
    	left: 35%;
        max-width: 92px;
	}
}