.section-intro {
    animation-name: slideDelay;
    -webkit-animation-name: slideDelay; 
    animation-duration: 5s; 
    -webkit-animation-duration: 5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;
}
.america {
    .symbol-icon {
        max-width: 100px;
        left: 0px;
        bottom: -50px;
    }
}
.seasons-contents {
    .block01 {
        margin-bottom: 25px;
        h3 {
            max-width: 87px;
        }
        .txt01 {
            max-width: 150px;
            top: 52%;
        }
        .txt02 {
            right: 2%;
            bottom: 3%;
        }
    }
    .block02 {
        padding-bottom: 60px;
        margin-bottom: 25px;
        .txt01 {
            right: auto;
            left: 10px;
            top: -14%;
        }
        .txt02 {
            bottom: 12%;
        }
        .txt03 {
            left: 0;
            bottom: -40px;
        }
        .img-pos {
            display: none;
        }
    }
    .block03 {
        margin-bottom: 25px;
        h3 {
            max-width: 240px;
            margin-bottom: 25px;
        }
        .txt01 {
            margin-bottom: 15px;
        }
        figure {
            margin-bottom: 15px;
        }
    }
    .block04 {
        text-align: center;
        .img01 {
            margin-bottom: 25px;
            img {
                max-width: 110px;
                margin: 0 auto;
            }
        }
        .txt01 {
            margin-bottom: 15px;
        }
        p {
            text-align: left;
        }
    }
}
.voice01 {
    .img-pos {
        position: static;
        max-width: 150px;
        margin: 20px auto 0;
        display: block;
    }
    .lbl01 {
        max-width: 75px;
        top: -9%;
        left: -8%;
    }
    .lbl02 {
        max-width: 89px;
        top: -13%;
        right: -11%;
    }
}
.voice02 {
    .lbl01 {
        top: -6%;
        left: 35%;
        max-width: 109px;
    }
}
.voice03 {
    .lbl01 {
        max-width: 75px;
        top: -12%;
    left: -7%;
    }
    .lbl02 {
        max-width: 89px;
        top: -17%;
        right: -13%;
    }
}
.voice04 {
    .lbl01 {
        top: -8%;
        left: 35%;
        max-width: 109px;
    }
}
.voice05 {
    .img-pos {
        left: -10%;
        top: 85%;
        max-width: 130px;
        z-index: 2;
    }
    .lbl01 {
        max-width: 75px;
        top: -5%;
        left: -8%;
    }
    .lbl02 {
        max-width: 89px;
        top: -8%;
        right: -11%;
    }
}
.voice06 {
    .img-pos {
        max-width: 100px;
        right: -6%;
        bottom: auto;
        top: 0px;
    }
    .lbl01 {
        top: -5%;
        left: 40%;
        max-width: 75px;
    }
}
.voice07 {
    .lbl01 {
        max-width: 75px;
        top: -4%;
        left: -7%;
    }
    .lbl02 {
        max-width: 89px;
        top: -7%;
        right: -12%;
    }
}
.voice08 {
    .lbl01 {
        top: -4%;
        left: 35%;
        max-width: 109px;
    }
} 
.voice09 {
    margin-bottom: 130px;
    .img-pos {
        right: auto;
        left: 35%;
        top: calc(100% + 30px);
        max-width: 315px;
        z-index: 2;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-30%);
    }
    .lbl01 {
        top: -4%;
        left: 40%;
        max-width: 75px;
    }
}