.section-intro {
    animation-name: slideDelay;
    -webkit-animation-name: slideDelay; 
    animation-duration: 5s; 
    -webkit-animation-duration: 5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;
}
.china {
    .symbol-icon {
		max-width: 93px;
	    left: 0;
	    bottom: -30px;
    }
    .flag-icon {
    	top: -25px;
    }
}
.section-intro {
	.section-title {
		&_sub {
			max-width: 185px;
			margin: 0 auto 20px;
		}
	}
	.section-txt {
		margin-bottom: 25px;
	}
}
.voice01 {
	.lbl01 {
        max-width: 75px;
	    top: -11%;
	    left: -7%;
    }
    .lbl02 {
        max-width: 89px;
	    top: -17%;
	    right: -8%;
    }
}
.voice02 {
	.img-pos {
		left: -7%;
	    top: -8%;
	    max-width: 63px;
	    transform: rotate(-7deg);
	}
	.lbl01 {
		top: -4%;
	    left: 35%;
	    max-width: 109px;
	}
}
.voice03 {
	.img-pos {
		max-width: 83px;
	    right: -2%;
	    top: -8%;
	}
	.lbl01 {
		top: -5%;
	    left: 35%;
	    max-width: 75px;
	}
}
.voice04 {
	.lbl01 {
        max-width: 75px;
        top: -11%;
        left: -9%;
    }
    .lbl02 {
        max-width: 89px;
        top: -15%;
        right: -13%;
    }
}
.voice05 {
	.img-pos {
		max-width: 90px;
	    left: auto;
	    right: -6%;
	    top: -15%;
	}
	.lbl01 {
		top: -7%;
	    left: 40%;
	    max-width: 76px;
	}
}
.voice06 {
	.lbl01 {
		top: -10%;
	    left: 35%;
	    max-width: 109px;
	}
}
.voice07 {
	.lbl01 {
        max-width: 75px;
        top: -11%;
        left: -9%;
    }
    .lbl02 {
        max-width: 89px;
        top: -15%;
        right: -13%;
    }
}
.voice08 {
	.img-pos {
		max-width: 130px;
	    left: auto;
	    right: -6%;
	    bottom: -11%;
	}
	.lbl01 {
		top: -10%;
	    left: 35%;
	    max-width: 109px;
	}
}
.voice09 {
	.lbl01 {
		top: -8%;
	    left: 40%;
	    max-width: 65px;
	}
}
.voice10 {
	.img-pos {
		right: -10%;
	    bottom: -5%;
	    max-width: 65px;
	}
	.lbl01 {
        max-width: 75px;
        top: -11%;
        left: -9%;
    }
    .lbl02 {
        max-width: 89px;
        top: -15%;
        right: -13%;
    }
}
.voice11 {
	.lbl01 {
		top: -10%;
	    left: 35%;
	    max-width: 109px;
	}
}
.voice12 {
	.lbl01 {
        max-width: 75px;
        top: -11%;
        left: -9%;
    }
    .lbl02 {
        max-width: 89px;
        top: -15%;
        right: -13%;
    }
}