.china {
    .symbol-icon {
		max-width: 186px;
	    left: -100px;
	    bottom: 20px;
    }
    .flag-icon {
    	top: 25%;
    }
}
.section-intro {
	.section-title_sub {
		max-width: 370px;
		margin: 0 auto 40px;
	}
	.wrap-s {
		.fist {
			margin-bottom: 50px;
		}
	}
	.section-txt {
		margin-bottom: 50px;
	}
}
.voice01 {
	.real-voice_item--ttl {
		max-width: 112px;
	}
	.lbl01 {
		top: -15%;
    	left: -9%;
    	max-width: 99px;
	}
	.lbl02 {
		top: -10%;
    	right: -10%;
    	max-width: 120px;
	}
}
.voice02 {
	.real-voice_item--ttl {
		max-width: 76px;
	}
	.real-voice_item--img {
		margin: 0 0 25px;
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    left: -20%;
	    top: -10%;
	    max-width: 113px;
	    z-index: 2;
	}
	.lbl01 {
		top: -5%;
    	left: 30%;
    	max-width: 145px;
	}
}
.voice03 {
	.real-voice_item--ttl {
		max-width: 93px;
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    right: -16%;
    	top: -17%;
	    max-width: 136px;
	    z-index: 2;
	}
	.lbl01 {
		top: -3%;
    	left: 35%;
    	max-width: 95px;
	}
}
.voice04 {
	.real-voice_item--ttl {
		max-width: 95px;
	}
	.lbl01 {
		top: -11%;
    	left: -6%;
    	max-width: 99px;
	}
	.lbl02 {
		top: -14%;
    	right: -11%;
    	max-width: 120px;
	}
}
.voice05 {
	.real-voice_item--ttl {
		max-width: 42px;
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    left: -20%;
	    top: -43%;
	    max-width: 180px;
	    z-index: 2;
	}
	.lbl01 {
		top: -9%;
    	left: 35%;
    	max-width: 116px;
	}
}
.voice06 {
	.real-voice_item--ttl {
		max-width: 132px;
	}
	.lbl01 {
		top: -12%;
    	left: 33%;
    	max-width: 144px;
	}
}
.voice07 {
	.real-voice_item--ttl {
		max-width: 102px;
	}
	.lbl01 {
		top: -8%;
    	left: -5%;
    	max-width: 99px;
	}
	.lbl02 {
		top: -14%;
    	right: -9%;
    	max-width: 120px;
	}
}
.voice08 {
	.real-voice_item--ttl {
		max-width: 95px;
	}
	.real-voice_item--img {
		img {
			max-width: 149px;
		}
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    left: -7%;
    	bottom: -26%;
	    max-width: 202px;
	    z-index: 2;
	}
	.lbl01 {
		top: -11%;
    	left: 30%;
    	max-width: 145px;
	}
}
.voice09 {
	.real-voice_item--ttl {
		max-width: 140px;
	}
	.lbl01 {
		top: -9%;
    	left: 35%;
    	max-width: 95px;
	}
}
.voice10 {
	.real-voice_item--ttl {
		max-width: 40px;
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    right: -24%;
	    bottom: -12%;
	    max-width: 131px;
	    z-index: 2;
	}
	.lbl01 {
		top: -8%;
    	left: -5%;
    	max-width: 99px;
	}
	.lbl02 {
		top: -14%;
    	right: -9%;
    	max-width: 120px;
	}
}
.voice11 {
	.real-voice_item--ttl {
		max-width: 124px;
	}
	.lbl01 {
		top: -12%;
    	left: 30%;
    	max-width: 145px;
	}
}
.voice12 {
	.real-voice_item--ttl {
		max-width: 106px;
	}
	.real-voice_item--img {
		img {
			max-width: 165px;
		}
	}
	.lbl01 {
		top: -8%;
    	left: -5%;
    	max-width: 99px;
	}
	.lbl02 {
		top: -14%;
    	right: -9%;
    	max-width: 120px;
	}
}