/** factory pc style **/
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }       
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }      
    100% {
        -webkit-transform: translateY(0%);
    }   
}
@keyframes slideLeft {
    0% {
        -webkit-transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }
    30% {
        -webkit-transform: translateX(-30%);
        opacity: 0;
        visibility: hidden;
    }
    60% {
        -webkit-transform: translateX(-60%);
        opacity: 0;
        visibility: hidden;
    }  
    100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }    
}
@keyframes slideRight {
    0% {
        -webkit-transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
    }
    30% {
        -webkit-transform: translateX(30%);
        opacity: 0;
        visibility: hidden;
    }
    60% {
        -webkit-transform: translateX(60%);
        opacity: 0;
        visibility: hidden;
    }  
    100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }    
}
@keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
        opacity: 0;
        visibility: hidden;
    }
    30% {
        -webkit-transform: translateY(30%);
        opacity: 0;
        visibility: hidden;
    }
    60% {
        -webkit-transform: translateY(60%);
        opacity: 0;
        visibility: hidden;
    }  
    100% {
        -webkit-transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }    
}
@keyframes slideZoom {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
        visibility: hidden;
    }
    30% {
        -webkit-transform: scale(0.3);
        opacity: 0;
        visibility: hidden;
    }
    60% {
        -webkit-transform: scale(0.6);
        opacity: 0.6;
        visibility: hidden;
    }  
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
        visibility: visible;
    }    
}
.slideDown { 
    animation-name: slideDown;
    -webkit-animation-name: slideDown; 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;   
}
.slideLeft {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft; 
    animation-duration: 1.5s; 
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;   
}
.slideRight {
    animation-name: slideRight;
    -webkit-animation-name: slideRight; 
    animation-duration: 1.5s; 
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;   
}
.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp; 
    animation-duration: 1.5s; 
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;   
}
.slideZoom {
    animation-name: slideZoom;
    -webkit-animation-name: slideZoom; 
    animation-duration: 1.5s; 
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;   
}
.keyvisual {
	background: url(../img/index/kv-bg.png) center bottom no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
    min-height: 100vh;
}
.key-main {
	align-self: center;
	position: relative;
	width: 100%;
	max-width: 665px;
	text-align: center;
}
.kv01 {
	width: 100%;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
}
.kv02 {
	position: absolute;
    top: 15%;
    left: 30%;
    width: 40%;
    animation-name: slideDown;
    -webkit-animation-name: slideDown; 
    animation-duration: 3s; 
    -webkit-animation-duration: 3s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;  
}
.kv03 {
	position: absolute;
    top: 30%;
    left: 25%;
    width: 55%;
    animation-name: slideZoom;
    -webkit-animation-name: slideZoom; 
    animation-duration: 2.5s; 
    -webkit-animation-duration: 2.5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;
}
.kv04 {
    position: absolute;
    bottom: -20%;
    left: 12%;
    max-width: 211px;
}
.kv05 {
    position: absolute;
    bottom: -17%;
    right: 9%;
    max-width: 211px;
    animation-name: slideUp;
    -webkit-animation-name: slideUp; 
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;   
}
.kv06 {
	position: absolute;
    top: 52%;
    right: 16%;
    width: 16%;
    animation-name: slideZoom;
    -webkit-animation-name: slideZoom; 
    animation-duration: 3.5s; 
    -webkit-animation-duration: 3.5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;   
}
.kv07 {
	position: absolute;
    top: -2%;
    right: -18%;
    width: 40%;
}
.kv08 {
	position: absolute;
    top: 17%;
    left: -17%;
    width: 30%;
}
.kv09 {
    position: absolute;
    bottom: 30%;
    left: 6%;
    max-width: 110px;
    animation-name: slideZoom;
    -webkit-animation-name: slideZoom; 
    animation-duration: 3.5s; 
    -webkit-animation-duration: 3.5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important; 
}
.kv10 {
    position: absolute;
    bottom: 15%;
    right: -1%;
    max-width: 106px;
    animation-name: slideZoom;
    -webkit-animation-name: slideZoom; 
    animation-duration: 3.5s; 
    -webkit-animation-duration: 3.5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important; 
}
.hr-line {
    position: relative;
    &:before {
        position: absolute;
        content: '';
        left: 50%;
        top: 0;
        width: 123px;
        height: 15px;
        background: url(../img/hr-icon.svg) left top no-repeat;
        -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
    }
}
.factory-top {
    #main {
        font-size: 18px;
        padding-top: 100px;
    }
}
.section-info {
    padding: 100px 0px 0px;
}
.section-mails {
    padding: 100px 0px 0px;
}
.fontTtl {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.8;
    color: #000;
    text-align: center;
    font-family: "Noto Serif JP", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Yu Gothic", YuGothic, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", serif;
}
.top-Ttl_01 {
    max-width: 620px;
}
.top-Ttl_02 {
    max-width: 510px;
}
.top-Ttl_03 {
    max-width: 510px;
}
.info-artile {
    text-align: center;
    position: relative;
    &:not(:last-child) {
        margin-bottom: 80px;
    }
    &_title {
        margin: 0 auto 50px;
    }
    .img {
        position: absolute;
    }
    &:nth-child(1) {
        .img {
            bottom: 87%;
            right: 100%;
            max-width: 165px;
        }
    }
    &:nth-child(3) {
        .img1 {
            position: absolute;
            top: -14%;
            left: -4%;
            max-width: 125px;
        }
        .img2 {
            position: absolute;
            bottom: -5%;
            left: 90%;
            max-width: 168px;
        }
    }
}
.address {
    &-title {
        max-width: 130px;
        margin: 0 auto 20px;
    }
    &-temp {
        display: block;
        position: absolute;
        right: calc(100% - 40px);
        bottom: 42%;
        width: 150px;
        -webkit-transition: all .2s ease 0.1s;
       -o-transition: all .2s ease 0.1s;
          transition: all .2s ease 0.1s;
    }
    &-thumb {
        display: block;
        border-radius: 5px;
        -webkit-transition: all .2s ease 0.1s;
       -o-transition: all .2s ease 0.1s;
          transition: all .2s ease 0.1s;
    }
}
.address-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
        -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 0 100px -200px;
    &_item {
        width: calc(50% - 200px);
        margin-left: 200px;
        text-align: center;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        &:nth-child(2) {
            .address-title {
                max-width: 145px;
            }
        }
        &:nth-child(4) {
            .address-title {
                max-width: 160px;
            }
        }
        &:nth-child(5) {
            .address-title {
                max-width: 155px;
            }
        }
        &:nth-child(6) {
            .address-title {
                max-width: 206px;
            }
        }
        a {
            &:hover {
                .address-thumb {
                    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.5);
                    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.5);
                    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.5);
                    transform: scale(1.12);
                    z-index: 2;
                    position: relative;
                }
            }
        }
    }
}
.bottom-txt {
    text-align: center;
    position: relative;
    padding: 25px 20px;
    max-width: 730px;
    margin: 0 auto;
    &:before,
    &:after {
        position: absolute;
        content: '';
        left: 0;
        width: 100%;
        height: 2px;
        background: url(../img/hr-line.png) left top repeat-x;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
}

/** subpage **/
.keyvisual_sub {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 50%;
        left: 0;
        top: 0;
        background: url(../img/kv-bg_sub.png) 100% top no-repeat;
        background-size: cover;
    }
}
.key-main_sub {
    align-self: center;
    position: relative;
    width: 100%;
    max-width: 660px;
    text-align: center;
    z-index: 1;
    background: #fff;
    padding: 60px 45px 90px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    animation-name: slideZoom;
    -webkit-animation-name: slideZoom; 
    animation-duration: .5s; 
    -webkit-animation-duration: .5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;  
    &:before,
    &:after {
        position: absolute;
        content: '';
        left: 2%;
        width: 96%;
        height: 2px;
        background: url(../img/hr-line.png) left top repeat-x;
    }
    &:before {
        top: 15px;
    }
    &:after {
        bottom: 15px;
    }
}
.kv-num {
    max-width: 63px;
    display: block;
    text-align: center;
    margin:0 auto 75px;
    position: relative;
    animation-name: slideZoom;
    -webkit-animation-name: slideZoom; 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;  
    &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: -35px;
        width: 80px;
        height: 10px;
        background: url(../img/hr-icon_02.svg) left top no-repeat;
          animation-name: slideUp;
    -webkit-animation-name: slideUp; 
    animation-duration: 1.5s; 
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;  
    }
}
.page-title {
    max-width: 403px;
    margin: 0 auto 48px;
    animation-name: slideUp;
    -webkit-animation-name: slideUp; 
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important; 
}
.page-address {
    background: #EEEEEF;
    text-align: left;
    padding: 20px 40px;
    position: relative;
    font-weight: 500;
    animation-name: slideUp;
    -webkit-animation-name: slideUp; 
    animation-duration: 2.5s; 
    -webkit-animation-duration: 2.5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important; 
    &:after {
        position: absolute;
        content: '';
        left: 50%;
        bottom: -38px;
        width: 80px;
        height: 10px;
        background: url(../img/hr-icon_02.svg) left top no-repeat;
        -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
    }
    dt {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    dd {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}
.letter-icon {
    display: block;
    max-width: 200px;
    width: 100%;
    position: absolute;
    top: 40px;
    left: -124px;
    z-index: 2;
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft; 
    animation-duration: 3s; 
    -webkit-animation-duration: 3s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;   
}
.flag-icon {
    display: block;
    width: 100%;
    max-width: 154px;
    position: absolute;
    top: 35%;
    right: -45px;
    z-index: 2;
          animation-name: slideRight;
    -webkit-animation-name: slideRight; 
    animation-duration: 3s; 
    -webkit-animation-duration: 3s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;   
}
.symbol-icon {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 3s; 
    -webkit-animation-duration: 3s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;   
}
.wrap-xlg {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0px 15px;
}
.wrap-lg {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0px 15px;
}
.wrap-s {
    max-width: 700px;
    margin: 0 auto;
}
section {
    &:not(:last-child) {
        margin-bottom: 100px;
    }
}
.section-title {
    position: relative;
    padding-bottom: 56px;
    margin-bottom: 50px;
    &:after {
        position: absolute;
        content: '';
        left: 50%;
        bottom: 0px;
        width: 80px;
        height: 10px;
        background: url(../img/hr-icon_02.svg) left top no-repeat;
        -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
    }
}
.section-intro {
    figure {
        margin-bottom: 50px;
    }
    p {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}
.section-seasons {}
.seasons-contents {
    background: #fff;
    padding: 100px 40px 55px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    position: relative;
    &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 505px;
        height: 50px;
        background: url(../img/ss_head.png) left top no-repeat;
        background-size: cover;
    }
    .seasons-col {
        width: 50%;
        padding: 0px 40px;
        &:last-child {
            border-left: 1px dashed #888888;
        }
    }
}
.section-real {
    .section-title {
        max-width: 360px;
        margin: 0 auto 75px;
    }
    &_head {
        text-align: center;
        margin-bottom: 90px;
        font-size: 17px;
    }
}

.section-real {
    &_inner {
        max-width: 820px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
            -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin: 0 auto;
    }
    .real-col {
        width: calc(50% - 45px);
        margin-left: 45px;
        &:first-child {
            margin-left: 0;
        }
    }
}

.real-voice {
    &_item {
        display: block;
        position: relative;
        margin: 0 0 70px 0px;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
        &:before,
        &:after {
            position: absolute;
            content: '';         
        }
        &:before {
            width: 100%;
            height: 2px;
            left: 0;
            top: -2px;
            background: url(../img/border-t.png) left top repeat-x;
        }
        &:after {
            height: 100%;
            width: 2px;
            left: -2px;
            top: 0px;
            background: url(../img/border-l.png) left top repeat-y;
        }
        &_in {
            background: #fff;
            padding: 60px 35px 35px;
            position: relative;
            &:before,
            &:after {
                position: absolute;
                content: '';
            }
            &:before {
                width: 100%;
                height: 2px;
                bottom: -2px;
                right: 0px;
                background: url(../img/border-b.png) left top repeat-x;
            }
            &:after {
                height: 100%;
                width: 2px;
                bottom: 0;
                right: -2px;
                background: url(../img/border-r.png) left top repeat-y;
            }    
        }
        &--ttl {
            margin: 0 auto 30px;
        }
        &--img {
            margin: 25px 0 0;
            text-align: center;
        }
        .lbl {
            display: inline-block;
            position: absolute;
            z-index: 2;
            max-width: -webkit-calc(100% / 2);
            max-width: calc(100% / 2);
        }
    }
}

.pagetop {
    width: 50px;
    height: 50px;
    display: none;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 10px;
    z-index: 99999;
    &:hover {
        opacity: 0.5;
    }
    &.active {
        opacity: 0.5;
    }
}
.keyvisual_scroll {
    &.sub {
        -webkit-mask: url(../img/arrow-down.svg) no-repeat 100% 100%;
          mask: url(../img/arrow-down.svg) no-repeat 100% 100%;
          mask-size: cover;
          background: #000 none;
         width: 30px;
         height: 24px;
         left: 50%;
         margin-left: -15px;
    }
}