/** factory sp style **/
.page-factory {
	#footer,
	#wrapper {
		min-width: 100%;
		overflow: hidden;
	}
	.keyvisual_scroll {
		display: none;
	}
}
.key-main {
	width: 80%;
}
.kv02 {
	width: 47%;
}
.kv04 {
	bottom: -30%;
    width: 35%;
}
.kv05 {
	left: auto;
    right: 5%;
    bottom: -20%;
    width: 30%;
}
.kv07 {
	top: -21%;
    right: -15%;
}
.kv08 {
	top: 10%;
	left: -10%;
	width: 33%;
	max-width: 108px;
}
.kv09 {
	max-width: 54px;
}
.kv10 {
	max-width: 53px;
	bottom: 5%;
    right: -2%;
}
.page-factory {
	font-size: 12px;
    line-height: 1.83em;
    letter-spacing: 0.06em;
    &.factory-top {
	    line-height: 1.83em;
	    letter-spacing: 0.06em;
	    #main {
	    	font-size: 12px;
	        padding-top: 50px;
	    }
	    .fontTtl {
	    	font-size: 22px;
	    }
	}
	.factory-wrap {
		overflow: hidden;
	}
}
.info-artile {
	&_title {
		margin: 0 auto 25px;
	}
}
.fontTtl {
	font-size: 18px;
}
.section-title {
	&:after {
		width: 60px;
		height: 8px;
	}
}
.hr-line {
    position: relative;
    &:before {
        position: absolute;
        content: '';
        left: 50%;
        top: 0;
        width: 60px;
    	height: 8px;
        background: url(../img/hr-icon_02.svg) left top no-repeat;
        -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
    }
}
.keyvisual {
	min-height: 1px;
	padding: 120px 0;
}
.keyvisual_sub {
	min-height: 1px;
	padding-top: 80px;
}
.key-main_sub {
	padding: 60px 30px 50px;
}
.letter-icon {
	max-width: 120px;
	left: 15px;
}
.page-title {
	max-width: 250px;
	margin-bottom: 20px;
}
.kv-num {
	max-width: 50px;
	margin-bottom: 50px;
	&:after {
		bottom: -30px;
		width: 60px;
		height: 8px;
	}
}
.flag-icon {
	top: -25px;
	right: 30px;
	max-width: 110px;
}
.page-address {
	padding: 15px 35px;
	max-width: 90%;
    margin: 0 auto;
	&:after {
		background: none;
		width: 0;
		height: 0;
	}
	dt {
		font-size: 14px;
	}
	dd {
		font-size: 10px;
	}
}
.section-intro {
	p {
		line-height: 2;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}
.section-seasons {
	p {
		line-height: 2;
	}
}
.page-factory {
	#main {
		padding: 50px 0px;
	}
}
.section-title {
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.section-info {
	padding: 50px 0px 0px;
}
.top-Ttl_01 {
	max-width: 190px;
}
.top-Ttl_02 {
	max-width: 140px;
}
.top-Ttl_03 {
	max-width: 145px;
}
.info-artile {
	&:nth-child(1) {
		.img {
			bottom: 87%;
		    right: auto;
		    left: 0;
		    max-width: 83px;
		}
	}
	&:nth-child(3) {
		.img1 {
			max-width: 65px;
			top: -7%;
    		left: 10%;
		}
		.img2 {
			position: static;
			margin-top: 15px;
		    max-width: 95px;
		}
	}
	&:not(:last-child) {
		margin-bottom: 40px;
	}
}
.section-mails {
	padding: 50px 0px 0px;
}
.address {
	&-title {
        max-width: 80px;
        margin: 0 auto 20px;
    }
    &-temp {
        display: block;
        position: absolute;
        right: calc(100% - 30px);
        width: 100px;
    }
    &-thumb {
        max-width: 300px;
		margin: 0 auto;
    }
}
.address-list {
	display: block;
	margin: 0;
	&_item {
		width: 60%;
		max-width: 300px;
		margin: 0 auto 50px;
		&:nth-child(2) {
            .address-title {
                max-width: 85px;
            }
        }
        &:nth-child(4) {
            .address-title {
                max-width: 105px;
            }
        }
        &:nth-child(5) {
            .address-title {
                max-width: 100px;
            }
        }
        &:nth-child(6) {
            .address-title {
                max-width: 130px;
            }
        }
        &:not(:last-child) {
        	margin-bottom: 35px;
        }
	}
}
section {
	&:not(:last-child) {
		margin-bottom: 50px;
	}
}
.section-intro {
	figure {
		margin-bottom: 25px;
	}
}
.bottom-txt {
	padding: 20px 10px;
}
.seasons-contents {
	padding: 80px 20px 30px;
	&:after {
		width: 200px;
		height: 33px;
	}
	.seasons-col {
		width: 100%;
		padding: 0;
		&:last-child {
			border-left: none;
		}
	}
	.block {
		border-bottom: 1px dotted #ccc;
		padding-bottom: 25px;
		&:not(:last-child) {
			margin-bottom: 25px;
		}
		h3 {
			display: block;
			text-align: center;
			margin: 0 auto 15px;
			img {
				max-width: 80%;
			}
		}
	}
}
.section-real {
	&_inner {
	}
	.section-title {
		max-width: 180px;
		margin-bottom: 50px;
	}
	.real-col {
		width: 80%;
		margin-left: 0;
	}
	&_head {
		margin-bottom: 45px;
		font-size: 12px;
	}
}
.real-voice {
	&_item {
		margin: 0 0 55px 0;
		&--ttl {
			margin: 0 auto 20px;
			text-align: center;
			img {
				max-width: 80%;
			}
		}
		&_in {
			padding: 50px 15px 35px;
		}
		&--txt {
			line-height: 2;
		}
	}
}

.pagetop {
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
}

.keyvisual_scroll {
    &.sub {
        -webkit-mask: url(../img/arrow-down.svg) no-repeat 100% 100%;
          mask: url(../img/arrow-down.svg) no-repeat 100% 100%;
          mask-size: cover;
          background: #000 none;
         width: 20px;
         height: 18px;
         left: 50%;
         margin-left: -10px;
         bottom: -25px;
    }
}