.section-intro {
    animation-name: slideDelay;
    -webkit-animation-name: slideDelay; 
    animation-duration: 5s; 
    -webkit-animation-duration: 5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;
}
.indonesia {
    .symbol-icon {
        max-width: 110px;
	    left: 0px;
	    bottom: -60px;
    }
    .flag-icon {
        top: -25px;
    }
}
.seasons-contents {
	padding: 80px 20px 30px;
	.seasons-col {
		padding-top: 0;
	}
	.block {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		&.block02 {
			padding-right: 0px;
			margin-bottom: 30px;
		}
		&.block01,
		&.block06 {
			p {
				padding-right: 20px;
			}
		}
		&.block05,
		&.block08 {
			border: none;
			margin: 0;
			padding: 0;
		}
		&.block06 {
			margin-bottom: 25px;
		}
		&.block07 {
			position: relative;
			padding-bottom: 50px;
		}
		.pos {
			max-width: 55px;
			bottom: 18px;
		}
	}
	.sspos05 {
		max-width: 91px;
		z-index: 1;
		top: -24px;
    	right: -10px;
	}
	.ss-pos {
		max-width: 72px;
	    z-index: 1;
	    left: auto;
	    right: 10px;
	    top: -18px;
	}
}