.india {
    .symbol-icon {
        max-width: 257px;
	    left: -165px;
	    bottom: -100px;
    }
    .flag-icon {
    	top: 32%;
    }
}
.real-voice_item {
	.real-voice_item--img {
		margin-bottom: 30px;
	}
}
.p-relative {
	position: relative;
	.intro-pos {
		position: absolute;
	    right: -27%;
	    top: -17%;
	    max-width: 325px;
	}
	.first {
		padding-right: 130px;
	}
}
.intro-start_img {
	margin: -40px 0 0 -55px;
}
.voice01 {
	.real-voice_item--ttl {
		max-width: 15px;
	}
	.real-voice_item--img {
		img {
			max-width: 162px;
		}
	}
	.lbl01 {
		top: -7%;
    	left: -8%;
    	max-width: 99px;
	}
	.lbl02 {
		top: -7%;
	    right: -7%;
	    max-width: 120px;
	}
}
.voice02 {
	.real-voice_item--ttl {
		max-width: 96px;
	}
	.real-voice_item--img {
		img {
			max-width: 216px;
		}
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    left: -31%;
	    top: -15%;
	    max-width: 221px;
	    z-index: 2;
	}
	.lbl01 {
		top: -8%;
	    left: 35%;
	    max-width: 145px;
	}
}
.voice03 {
	.real-voice_item--ttl {
		max-width: 130px;
	}
	.real-voice_item--img {
		img {
			max-width: 162px;
		}
	}
	.lbl01 {
		top: -6%;
    	left: -8%;
    	max-width: 99px;
	}
	.lbl02 {
		top: -9%;
	    right: -10%;
	    max-width: 120px;
	}
}
.voice04 {
	.real-voice_item--ttl {
		max-width: 180px;
	}
	.real-voice_item--img {
		img {
			max-width: 216px;
		}
	}
	.lbl01 {
		top: -9%;
    	left: 35%;
    	max-width: 145px;
	}
}
.voice05 {
	.real-voice_item--ttl {
		max-width: 105px;
	}
	.real-voice_item--img {
		img {
			max-width: 162px;
		}
	}
	.lbl01 {
		top: -6%;
    	left: 35%;
    	max-width: 95px;
	}
}
.voice06 {
	.real-voice_item--ttl {
		max-width: 100px;
	}
	.real-voice_item--img {
		img {
			max-width: 216px;
		}
	}
	.lbl01 {
		top: -6%;
    	left: 35%;
    	max-width: 95px;
	}
}
.voice07 {
	.real-voice_item--ttl {
		max-width: 48px;
	}
	.real-voice_item--img {
		img {
			max-width: 162px;
		}
	}
	.lbl01 {
		top: -7%;
    	left: -9%;
    	max-width: 99px;
	}
	.lbl02 {
		top: -8%;
	    right: -12%;
	    max-width: 120px;
	}
}
.voice08 {
	.real-voice_item--ttl {
		max-width: 60px;
	}
	.real-voice_item--img {
		img {
			max-width: 216px;
		}
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    right: -17%;
	    top: -6%;
	    max-width: 105px;
	    z-index: 2;
	}
	.lbl01 {
		top: -6%;
    	left: 35%;
    	max-width: 143px;
	}
}
.voice09 {
	.real-voice_item--ttl {
		max-width: 75px;
	}
	.real-voice_item--img {
		img {
			max-width: 216px;
		}
	}
	.lbl01 {
		top: -7%;
    	left: -9%;
    	max-width: 99px;
	}
	.lbl02 {
		top: -8%;
	    right: -12%;
	    max-width: 120px;
	}
}
.voice10 {
	.real-voice_item--ttl {
		max-width: 218px;
	}
	.real-voice_item--img {
		img {
			max-width: 216px;
		}
	}
	.lbl01 {
		top: -6%;
    	left: 35%;
    	max-width: 149px;
	}
}
.voice11 {
	.real-voice_item--ttl {
		max-width: 136px;
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    right: -37%;
	    bottom: -13%;
	    max-width: 160px;
	    z-index: 2;
	}
	.lbl01 {
		top: -7%;
    	left: -9%;
    	max-width: 100px;
	}
	.lbl02 {
		top: -8%;
	    right: -12%;
	    max-width: 120px;
	}
}