.indonesia {
    .symbol-icon {
        max-width: 220px;
        left: -130px;
        bottom: -71px;
    }
    .flag-icon {
        top: 32%;
    }
}
.section-intro {
	.section-title {
		margin: 0 auto 50px;
	}
}
.section-seasons {
    .seasons-bnr {
        margin-bottom: 50px;
    }
    .wrap-lg {
        margin-bottom: 50px;
    }
	.section-title {
		margin: 0 auto 50px;
	}
	.seasons-head {
		margin-bottom: 65px;
	}
}
.seasons-contents {
    padding: 100px 80px 55px;
    position: relative;
    .sspos05 {
        position: absolute;
        top: -28px;
        right: -40px;
        max-width: 182px;
    }
    .seasons-col {
        padding-top: 40px;
    }
    .ss-pos {
        max-width: 144px;
        left: 30px;
        top: -30px;
        position: absolute;
    }
    .seasons-pos {
        display: block;
        position: absolute;
        right: 5%;
        top: -5%;
        img {
            max-width: 161px;
        }
    }
    .block {
        &:not(:last-child) {
            margin-bottom: 60px;
        }
        h3 {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 20px;
        }
        .pos {
            position: absolute;
            right: 0;
            max-width: 105px;
        }
        &.block02 {
            padding-right: 40px;
        }
        &.block01,
        &.block06 {
            p {
                padding-right: 40px;
            }
        }
    }
    
}
.ss-ttl01 {
    max-width: 90px;
}
.ss-ttl02 {
    max-width: 226px;
}
.ss-ttl03 {
    max-width: 140px;
}
.ss-ttl04 {
    max-width: 90px;
}
.ss-ttl05 {
    max-width: 210px;
}
.ss-ttl06 {
    max-width: 53px;
}
.ss-ttl07 {
    max-width: 158px;
}
.ss-ttl08 {
    max-width: 120px;
}