.section-intro {
    animation-name: slideDelay;
    -webkit-animation-name: slideDelay; 
    animation-duration: 5s; 
    -webkit-animation-duration: 5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;
}
.india {
    .symbol-icon {
        max-width: 130px;
	    left: -12px;
    	bottom: -50px;
    }
    .flag-icon {
    	top: -25px;
    }
}
.p-relative {
	.first {
		padding: 0;
	}
}
.intro-start_img {
	margin: 0;
}
.voice01 {
	.lbl01 {
        max-width: 75px;
	    top: -5%;
	    left: -7%;
    }
    .lbl02 {
        max-width: 89px;
	    top: -7%;
	    right: -11%;
    }
}
.voice02 {
	.img-pos {
		left: -16%;
	    top: -12%;
	    max-width: 150px;
	}
	.lbl01 {
		top: -6%;
	    left: 35%;
	    max-width: 109px;
	}
}
.voice03 {
	.lbl01 {
        max-width: 75px;
        top: -4%;
    	left: -7%;
    }
    .lbl02 {
        max-width: 89px;
        top: -5%;
    	right: -8%;
    }
}
.voice04 {
	.lbl01 {
		top: -8%;
    	left: 35%;
	    max-width: 109px;
	}
}
.voice05 {
	.lbl01 {
		top: -5%;
	    left: 40%;
	    max-width: 75px;
	}
}
.voice06 {
	.lbl01 {
		top: -5%;
	    left: 40%;
	    max-width: 75px;
	}
}
.voice07 {
	.lbl01 {
        max-width: 75px;
        top: -4%;
    	left: -7%;
    }
    .lbl02 {
        max-width: 89px;
        top: -5%;
    	right: -8%;
    }
}
.voice08 {
	.img-pos {
		right: -10%;
    	top: -6%;
	    max-width: 55px;
	}
	.lbl01 {
		top: -5%;
	    left: 35%;
	    max-width: 109px;
	}
}
.voice09 {
	.lbl01 {
        max-width: 75px;
        top: -4%;
    	left: -7%;
    }
    .lbl02 {
        max-width: 89px;
        top: -5%;
    	right: -8%;
    }
}
.voice10 {
	.lbl01 {
		top: -6%;
    	left: 35%;
	    max-width: 109px;
	}
}
.voice11 {
	margin-bottom: 150px;
	.img-pos {
		right: 30%;
	    top: 105%;
	    bottom: auto;
	    max-width: 120px;
	}
	.lbl01 {
        max-width: 75px;
        top: -5%;
    	left: -8%;
    }
    .lbl02 {
        max-width: 89px;
        top: -8%;
    	right: -11%;
    }
}