.section-intro {
    animation-name: slideDelay;
    -webkit-animation-name: slideDelay; 
    animation-duration: 5s; 
    -webkit-animation-duration: 5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;
}
.mexico {
    .symbol-icon {
        max-width: 97px;
	    left: 0px;
	    bottom: -40px;
    }
    .flag-icon {
        top: -25px;
    }
}
.seasons-contents {
	.seasons-col {
		padding: 0;
	}
	.seasons-pos {
	    position: static;
	    text-align: center;
	    margin: 15px auto 0;
	    &.show_sp {
	    	display: block !important;
	    }
		img {
			max-width: 105px;
		}
		&.show_pc {
			display: none;
		}
	}
	.block {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
		h3 {
			display: block;
		}
	}
	.block04 {
		margin-bottom: 25px;
		figure {
			img {
				max-width: 150px;
			}
		}
	}
	.block07 {
		display: block;
		margin-right: 0;
		.ctn {
			width: 100%;
		}
		figure {
			text-align: center;
			margin: 20px auto 0;
			max-width: 240px;
		}
	}
	.block08 {
		border: none;
		padding-bottom: 0;
	}
}