.mexico {
    .symbol-icon {
        max-width: 194px;
        left: -127px;
        bottom: -40px;
    }
    .flag-icon {
        top: 32%;
    }
}
.section-intro {
	.section-title {
		margin: 0 auto 50px;
	}
}
.section-seasons {
	.section-title {
		margin: 0 auto 50px;
	}
	.seasons-head {
		margin-bottom: 65px;
	}
}
.seasons-contents {
    .seasons-col {
        padding-top: 40px;
    }
    .seasons-pos {
        position: absolute;
        right: 5%;
        top: -5%;
        img {
            max-width: 149px;
        }
    }
    .block {
        &:not(:last-child) {
            margin-bottom: 60px;
        }
        h3 {
            margin-bottom: 20px;
        }
    }
    .block01, .block02, .block08 {
         p {
            margin-bottom: 15px;
        }
    }
    .block04 {
        figure {
            text-align: center;
            img {
                max-width: 196px;
            }
        }
        p {
            margin-bottom: 15px;
        }
    }
    .block07 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
            -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -80px;
        figure {
            max-width: 191px;
        }
        .ctn {
            width: calc(100% - 217px);
            margin-right: 25px;
            align-self: center;
        }
    }
}
.ss-ttl01 {
    max-width: 238px;
}
.ss-ttl02 {
    max-width: 90px;
}
.ss-ttl03 {
    max-width: 150px;
}
.ss-ttl04 {
    max-width: 65px;
}
.ss-ttl05 {
    max-width: 156px;
}
.ss-ttl06 {
    max-width: 124px;
}
.ss-ttl07 {
    max-width: 116px;
}
.ss-ttl08 {
    max-width: 122px;
}