.section-intro {
	animation-name: slideDelay;
    -webkit-animation-name: slideDelay; 
    animation-duration: 5s; 
    -webkit-animation-duration: 5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;
}
.thailand {
    .symbol-icon {
        max-width: 82px;
        left: -5px;
    	bottom: -26px;
    }
    .flag-icon {
    	top: -25px;
    }
}
.voice01 {
	.real-voice_item--ttl {
		max-width: 155px;
	}
	.lbl01 {
        max-width: 75px;
	    top: -4%;
	    left: -7%;
    }
    .lbl02 {
        max-width: 89px;
	    top: -5%;
	    right: -8%;
    }
}
.voice02 {
	.lbl01 {
        max-width: 75px;
	    top: -4%;
	    left: -7%;
    }
    .lbl02 {
        max-width: 89px;
	    top: -5%;
	    right: -8%;
    }
}
.voice03 {
	.real-voice_item--ttl {
		max-width: 170px;
	}
	.img-pos {
		left: -13%;
	    top: 10%;
	    max-width: 52px;
	}
	.lbl01 {
        max-width: 75px;
        top: -4%;
        left: -7%;
    }
    .lbl02 {
        max-width: 89px;
        top: -5%;
        right: -8%;
    }
}
.voice04 {
	.img-pos {
		right: -3%;
    	top: -7%;
		max-width: 84px;
	}
	.lbl01 {
		top: -5%;
	    left: 40%;
	    max-width: 75px;
	}
}
.voice05 {
	.img-pos {
		right: -10%;
	    top: 12%;
	    max-width: 45px;
	}
	.lbl01 {
        max-width: 75px;
        top: -4%;
        left: -8%;
    }
    .lbl02 {
        max-width: 89px;
        top: -6%;
        right: -11%;
    }
}
.voice06 {
	.lbl01 {
		top: -4%;
	    left: 40%;
	    max-width: 75px;
	}
}
.voice07 {
	.real-voice_item--ttl {
		max-width: 200px;
	}
	.img-pos {
		max-width: 120px;
		right: -6%;
    	bottom: -10%;
	}
	.lbl01 {
	    top: -6%;
	    left: 35%;
	    max-width: 109px;
	}
}
.voice08 {
	.real-voice_item--ttl {
		max-width: 220px;
	}
	.lbl01 {
        max-width: 75px;
        top: -4%;
        left: -7%;
    }
    .lbl02 {
        max-width: 89px;
        top: -5%;
        right: -8%;
    }
}
.voice09 {
	.img-pos {
		max-width: 60px;
		left: -8%;
    	top: -13%;
	}
	.lbl01 {
        top: -5%;
	    left: 35%;
	    max-width: 109px;
    }
}
.voice10 {
	.img-pos {
		max-width: 60px;
		left: -8%;
    	top: -13%;
    	position: absolute;
    	z-index: 2;
	}
	.lbl01 {
	    top: -4%;
	    left: 35%;
	    max-width: 109px;
	}
}
.voice11 {
	.img-pos {
		max-width: 60px;
	    right: 0%;
	    top: -9%;
	}
	.lbl01 {
	    top: -4%;
	    left: 40%;
	    max-width: 75px;
	}
}
.voice12 {
	.img-pos {
		max-width: 120px;
		right: -7%;
    	bottom: -7%;
	}
    .lbl01 {
        top: -5%;
	    left: 35%;
	    max-width: 109px;
    }
}