.thailand {
    .symbol-icon {
        max-width: 164px;
        left: -110px;
        bottom: -40px;
    }
    .flag-icon {
    	top: 30%;
    }
}
.section-intro {
	.section-title {
		margin: 0 auto 50px;
	}
}
.voice01 {
	.real-voice_item--ttl {
		max-width: 247px;
	}
	.lbl01 {
		top: -2%;
    	left: -7%;
    	max-width: 99px;
	}
	.lbl02 {
		top: -4%;
    	right: -9%;
    	max-width: 120px;
	}
}
.voice02 {
	.real-voice_item--ttl {
		max-width: 205px;
	}
	.real-voice_item--img {
		img {
			max-width: 183px;
		}
	}
	.lbl01 {
		top: -3%;
    	left: 35%;
    	max-width: 145px;
	}
}
.voice03 {
	.real-voice_item--ttl {
		max-width: 242px;
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    left: -20%;
	    top: 16%;
	    max-width: 101px;
	    z-index: 2;
	}
	.lbl01 {
		top: -2%;
    	left: -7%;
    	max-width: 99px;
	}
	.lbl02 {
		top: -4%;
    	right: -9%;
    	max-width: 120px;
	}
}
.voice04 {
	.real-voice_item--ttl {
		max-width: 132px;
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    right: -17%;
	    top: -11%;
	    max-width: 167px;
	    z-index: 2;
	}
	.lbl01 {
		top: -3%;
    	left: 35%;
    	max-width: 95px;
	}
}
.voice05 {
	.real-voice_item--ttl {
		max-width: 138px;
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    right: -18%;
	    top: 35%;
	    max-width: 80px;
	    z-index: 2;
	}
	.lbl01 {
		top: -2%;
    	left: -7%;
    	max-width: 99px;
	}
	.lbl02 {
		top: -4%;
    	right: -9%;
    	max-width: 120px;
	}
}
.voice06 {
	.real-voice_item--ttl {
		max-width: 240px;
	}
	.lbl01 {
		top: -6%;
    	left: 35%;
    	max-width: 92px;
	}
}
.voice07 {
	.real-voice_item--ttl {
		max-width: 286px;
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    right: -17%;
	    bottom: -14%;
	    max-width: 180px;
	    z-index: 2;
	}
	.lbl01 {
		top: -5%;
    	left: 35%;
    	max-width: 145px;
	}
}
.voice08 {
	.real-voice_item--ttl {
		max-width: 280px;
	}
	.real-voice_item--img {
		img {
			max-width: 149px;
		}
	}
	.lbl01 {
		top: -2%;
    	left: -7%;
    	max-width: 99px;
	}
	.lbl02 {
		top: -4%;
    	right: -9%;
    	max-width: 120px;
	}
}
.voice09 {
	.real-voice_item--ttl {
		max-width: 215px;
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    left: -19%;
	    top: 2%;
	    max-width: 93px;
	    z-index: 2;
	}
	.lbl01 {
		top: -2%;
    	left: 35%;
    	max-width: 143px;
	}
}
.voice10 {
	.real-voice_item--ttl {
		max-width: 205px;
	}
	.lbl01 {
		top: -4%;
    	left: 35%;
    	max-width: 95px;
	}
}
.voice11 {
	.real-voice_item--ttl {
		max-width: 150px;
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    right: -4%;
	    top: -20%;
	    max-width: 90px;
	    z-index: 2;
	}
	.lbl01 {
		top: -4%;
    	left: 35%;
    	max-width: 95px;
	}
}
.voice12 {
	.real-voice_item--ttl {
		max-width: 205px;
	}
	.real-voice_item--img {
		img {
			max-width: 165px;
		}
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    right: -10%;
	    bottom: -25%;
	    max-width: 211px;
	    z-index: 2;
	}
	.lbl01 {
		top: -2%;
    	left: -7%;
    	max-width: 99px;
	}
	.lbl02 {
		top: -4%;
    	right: -9%;
    	max-width: 120px;
	}
}