.vietnam {
    .symbol-icon {
        max-width: 248px;
        left: -158px;
        bottom: 20px;
    }
    .flag-icon {
        top: 32%;
    }
}
.section-intro {
	.section-title {
		margin: 0 auto 50px;
	}
}
.section-seasons {
	.section-title {
		margin: 0 auto 50px;
	}
	.seasons-head {
		margin-bottom: 65px;
	}
}
.seasons-contents {
    .seasons-col {
    	width: 50%;
    	padding: 0px 40px;
    	&:last-child {
    		border-left: 1px dashed #888888;
    	}
    }
    .block {
        &:not(:last-child) {
            margin-bottom: 60px;
        }
        h3 {
            margin-bottom: 20px;
        }
        &.block05,
        &.block06 {
            margin-bottom: 0;
        }
    }
    .block04 {
        figure {
            text-align: center;
            img {
                max-width: 250px;
            }
        }
    }
    .block08 {
        figure {
            text-align: center;
            img {
                max-width: 217px;
            }
        }
        p {
            margin-bottom: 20px;
        }
    }
    .block06 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
            -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        figure {
            max-width: 100px;
            align-self: flex-end;
        }
        .ctn {
            width: calc(100% - 115px);
            align-self: center;
        }
    }
    .block07 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
            -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -40px;
        figure {
            max-width: 170px;
            margin-left: 40px;
            align-self: flex-end;
        }
        .ctn {
            width: calc(100% - 215px);
            align-self: center;
        }
    }
}
.ss-ttl01 {
    max-width: 55px;
}
.ss-ttl02 {
    max-width: 65px;
}
.ss-ttl03 {
    max-width: 190px;
}
.ss-ttl04 {
    max-width: 150px;
}
.ss-ttl05 {
    max-width: 55px;
}
.ss-ttl06 {
    max-width: 90px;
}
.ss-ttl07 {
    max-width: 160px;
}
.ss-ttl08 {
    max-width: 105px;
}
.ss-ttl09 {
    max-width: 63px;
}
.voice01 {
	.real-voice_item--ttl {
		max-width: 232px;
	}
	.lbl01 {
		top: -12%;
    	left: -7%;
        max-width: 99px;
	}
	.lbl02 {
		top: -16%;
        right: -8%;
        max-width: 120px;
	}
}
.voice02 {
	.real-voice_item--ttl {
		max-width: 240px;
	}
	.lbl01 {
		top: -12%;
    	left: 30%;
        max-width: 149px;
	}
}
.voice03 {
	.real-voice_item--ttl {
		max-width: 248px;
	}
    .img-pos {
        display: inline-block;
        position: absolute;
        left: -28%;
        bottom: -22%;
        max-width: 149px;
        z-index: 2;
    }
	.lbl01 {
		top: -10%;
    	left: -5%;
        max-width: 99px;
	}
	.lbl02 {
		top: -6%;
        right: -7%;
        max-width: 120px;
	}
}
.voice04 {
	.real-voice_item--ttl {
		max-width: 183px;
	}
	.lbl01 {
		top: -10%;
    	left: 30%;
        max-width: 145px;
	}
}
.voice05 {
	.real-voice_item--ttl {
		max-width: 267px;
	}
	.img-pos {
		display: inline-block;
        position: absolute;
        right: -17%;
        top: -30%;
        max-width: 134px;
        z-index: 2;
	}
	.lbl01 {
        top: -11%;
        left: 35%;
        max-width: 85px;
    }
}
.voice06 {
	.real-voice_item--ttl {
		max-width: 152px;
	}
	.real-voice_item--img {
		img {
			max-width: 160px;
		}
	}
	.img-pos {
		display: inline-block;
	    position: absolute;
	    right: -27%;
	    bottom: 6%;
	    max-width: 156px;
	    z-index: 2;
	}
	.lbl01 {
        top: -11%;
        left: -6%;
        max-width: 99px;
    }
    .lbl02 {
        top: -20%;
        right: -10%;
        max-width: 120px;
    }
}
.voice07 {
	.real-voice_item--ttl {
		max-width: 225px;
	}
	.lbl01 {
        top: -11%;
        left: 30%;
        max-width: 145px;
    }
}
.voice08 {
	.real-voice_item--ttl {
		max-width: 240px;
	}
    .img-pos {
        display: inline-block;
        position: absolute;
        right: -26%;
        bottom: -52%;
        max-width: 199px;
        z-index: 2;
    }
	.lbl01 {
        top: -10%;
        left: -5%;
        max-width: 100px;
    }
    .lbl02 {
        top: -20%;
        right: -9%;
        max-width: 120px;
    }
}

.event-wrap {
    max-width: 950px;
    margin: 0 auto;
    background: url(../img/vn/event-bg_pc.png) center center no-repeat;
    background-size: 100%;
    position: relative;
    padding: 60px 90px;
    box-sizing: border-box;
    text-align: center;
    .event-lbl {
        max-width: 246px;
        position: absolute;
        left: -34px;
        top: -42px;
    }
    .event-title {
        max-width: 650px;
        margin: 0 auto 10px;
    }
    .event-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
            -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-left: -20px;
        li {
            width: -webkit-calc(33.3333% - 20px);
            width: calc(33.3333% - 20px);
            margin-left: 20px;
        }
    }
    p {
        margin-bottom: 20px;
    }
}