.section-intro {
    animation-name: slideDelay;
    -webkit-animation-name: slideDelay; 
    animation-duration: 5s; 
    -webkit-animation-duration: 5s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    visibility: visible !important;
}
.vietnam {
    .symbol-icon {
        max-width: 150px;
	    left: -21px;
	    bottom: -30px;
    }
    .flag-icon {
        top: -25px;
    }
}
.seasons-contents {
	.seasons-col {
		width: 100%;
		padding: 0;
		&:last-child {
			border: none;
		}
	}
	.block {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
		&.block04 {
			margin-bottom: 25px;
		}
		h3 {
			display: block;
			text-align: center;
			margin: 0 auto 15px;
		}
	}
	.block03,
	.block04,
	.block06,
	.block07,
	.block08 {
		p {
			margin-bottom: 15px;
		}
	}
	.block04 {
		figure {
			img {
				max-width: 180px;
			}
		}
	}
	.block06, .block07 {
		display: block;
		.ctn {
			width: 100%;
		}
		figure {
			margin: 0 auto;
		}
	}
	.block07 {
		margin: 0;
	}
	.block09 {
		border: none;
		margin: 0;
		padding: 0;
	}
}
.voice01 {
	.lbl01 {
        max-width: 75px;
	    top: -9%;
	    left: -9%;
    }
    .lbl02 {
        max-width: 89px;
	    top: -12%;
	    right: -10%;
    }
}
.voice02 {
	.lbl01 {
		top: -13%;
	    left: 35%;
	    max-width: 109px;
	}
}
.voice03 {
	.img-pos {
		max-width: 75px;
		left: -10%;
    	bottom: -15%;
	}
	.lbl01 {
        max-width: 75px;
        top: -11%;
        left: -9%;
    }
    .lbl02 {
        max-width: 89px;
        top: -15%;
        right: -13%;
    }
}
.voice04 {
	.lbl01 {
		top: -13%;
	    left: 35%;
	    max-width: 109px;
	}
}
.voice05 {
	.img-pos {
		right: -5%;
	    top: -19%;
	    max-width: 80px;
	}
	.lbl01 {
		top: -9%;
	    left: 40%;
	    max-width: 70px;
	}
}
.voice06 {
	.lbl01 {
		max-width: 49px;
	}
	.lbl02 {
		max-width: 60px;
		top: -13%;
    	right: -7%;
	}
}
.voice07 {
	.lbl01 {
		top: -10%;
	    left: 35%;
	    max-width: 109px;
	}
}
.voice08 {
	margin-bottom: 150px;
	 .img-pos {
		right: 25%;
    	bottom: auto;
    	top: 110%;
	    max-width: 150px;
    }
    .lbl01 {
        max-width: 75px;
        top: -11%;
        left: -9%;
    }
    .lbl02 {
        max-width: 89px;
        top: -15%;
        right: -13%;
    }
}
.event-wrap {
	max-width: 86%;
	background: url(../img/vn/event-bg_sp.png) top center no-repeat;
	background-size: 100%;
	padding: 30px 15px;
	text-align: left;
	position: relative;
	display: none;
	.event-lbl {
        max-width: 145px;
        left: -16px;
    	top: -25px;
    }
    .event-title {
    	margin: 0 0px 10px;
    }
	.event-list {
		display: block;
		margin-left: 0;
		padding: 0px 22px;
		li {
			width: 100%;
			margin: 0 0 12px 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	p {
        margin: 0 10px 10px;
    }
}
.event-img {
    	max-width: 92%;
    	margin: 0 auto;
    	display: block !important;
    }