.america .symbol-icon {
  max-width: 164px;
  left: -110px;
  bottom: -40px; }

.section-seasons .seasons-head {
  margin-bottom: 65px; }

.seasons-contents .block01 {
  margin-bottom: 90px; }
  .seasons-contents .block01 h3 {
    max-width: 108px;
    margin: 0 auto 40px; }
  .seasons-contents .block01 .img01 {
    position: relative; }
  .seasons-contents .block01 .txt01 {
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 50%; }
  .seasons-contents .block01 .txt02 {
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 7%;
    bottom: 5%;
    line-height: 1.5; }
.seasons-contents .block02 {
  position: relative; }
  .seasons-contents .block02 .img-pos {
    position: absolute;
    right: 0;
    bottom: -45px;
    max-width: 90px;
    display: inline-block; }
  .seasons-contents .block02 .img01 {
    position: relative; }
  .seasons-contents .block02 .txt01 {
    display: inline-block;
    position: absolute;
    right: -6%;
    top: 12%;
    line-height: 1.5; }
  .seasons-contents .block02 .txt02 {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 20%;
    line-height: 1.5; }
  .seasons-contents .block02 .txt03 {
    display: inline-block;
    position: absolute;
    left: 38%;
    bottom: 0;
    line-height: 1.5; }
.seasons-contents .block03 {
  margin-bottom: 60px; }
  .seasons-contents .block03 .txt01 {
    max-width: 340px;
    line-height: 1.5; }
  .seasons-contents .block03 h3 {
    max-width: 315px;
    margin: 0 auto 40px; }
  .seasons-contents .block03 .txt02 {
    line-height: 1.5; }
.seasons-contents .block04 .txt01 {
  margin-bottom: 25px;
  line-height: 1.5; }
.seasons-contents .block04 .img02 {
  margin-bottom: 10px; }
.seasons-contents .block04 .txt02 {
  max-width: 282px;
  float: right;
  line-height: 1.5; }

.voice01 .real-voice_item--ttl {
  max-width: 180px; }
.voice01 .img-pos {
  display: inline-block;
  position: absolute;
  left: -23%;
  top: 20%;
  max-width: 162px;
  z-index: 2; }
.voice01 .lbl01 {
  top: -9%;
  left: -7%;
  max-width: 99px; }
.voice01 .lbl02 {
  top: -9%;
  right: -9%;
  max-width: 120px; }

.voice02 .real-voice_item--ttl {
  max-width: 155px; }
.voice02 .lbl01 {
  top: -6%;
  left: 30%;
  max-width: 145px; }

.voice03 .real-voice_item--ttl {
  max-width: 184px; }
.voice03 .lbl01 {
  top: -2%;
  left: -7%;
  max-width: 99px; }
.voice03 .lbl02 {
  top: -4%;
  right: -9%;
  max-width: 120px; }

.voice04 .real-voice_item--ttl {
  max-width: 220px; }
.voice04 .lbl01 {
  top: -6%;
  left: 30%;
  max-width: 143px; }

.voice05 .real-voice_item--ttl {
  max-width: 220px; }
.voice05 .img-pos {
  display: inline-block;
  position: absolute;
  left: -41%;
  top: 88%;
  max-width: 265px;
  z-index: 2; }
.voice05 .lbl01 {
  top: -2%;
  left: -7%;
  max-width: 99px; }
.voice05 .lbl02 {
  top: -4%;
  right: -9%;
  max-width: 120px; }

.voice06 .real-voice_item--ttl {
  max-width: 127px; }
.voice06 .real-voice_item--img img {
  max-width: 160px; }
.voice06 .img-pos {
  display: inline-block;
  position: absolute;
  right: -27%;
  bottom: 6%;
  max-width: 156px;
  z-index: 2; }
.voice06 .lbl01 {
  top: -6%;
  left: 35%;
  max-width: 95px; }

.voice07 .real-voice_item--ttl {
  max-width: 238px; }
.voice07 .lbl01 {
  top: -2%;
  left: -7%;
  max-width: 99px; }
.voice07 .lbl02 {
  top: -4%;
  right: -9%;
  max-width: 120px; }

.voice08 .real-voice_item--ttl {
  max-width: 125px; }
.voice08 .real-voice_item--img img {
  max-width: 149px; }
.voice08 .lbl01 {
  top: -6%;
  left: 35%;
  max-width: 145px; }

.voice09 .real-voice_item--ttl {
  max-width: 163px; }
.voice09 .img-pos {
  display: inline-block;
  position: absolute;
  right: -40%;
  top: -4%;
  max-width: 235px;
  z-index: 2; }
.voice09 .lbl01 {
  top: -5%;
  left: 35%;
  max-width: 92px; }

@media screen and (max-width: 768px) {
  .section-intro {
    animation-name: slideDelay;
    -webkit-animation-name: slideDelay;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important; }

  .america .symbol-icon {
    max-width: 100px;
    left: 0px;
    bottom: -50px; }

  .seasons-contents .block01 {
    margin-bottom: 25px; }
    .seasons-contents .block01 h3 {
      max-width: 87px; }
    .seasons-contents .block01 .txt01 {
      max-width: 150px;
      top: 52%; }
    .seasons-contents .block01 .txt02 {
      right: 2%;
      bottom: 3%; }
  .seasons-contents .block02 {
    padding-bottom: 60px;
    margin-bottom: 25px; }
    .seasons-contents .block02 .txt01 {
      right: auto;
      left: 10px;
      top: -14%; }
    .seasons-contents .block02 .txt02 {
      bottom: 12%; }
    .seasons-contents .block02 .txt03 {
      left: 0;
      bottom: -40px; }
    .seasons-contents .block02 .img-pos {
      display: none; }
  .seasons-contents .block03 {
    margin-bottom: 25px; }
    .seasons-contents .block03 h3 {
      max-width: 240px;
      margin-bottom: 25px; }
    .seasons-contents .block03 .txt01 {
      margin-bottom: 15px; }
    .seasons-contents .block03 figure {
      margin-bottom: 15px; }
  .seasons-contents .block04 {
    text-align: center; }
    .seasons-contents .block04 .img01 {
      margin-bottom: 25px; }
      .seasons-contents .block04 .img01 img {
        max-width: 110px;
        margin: 0 auto; }
    .seasons-contents .block04 .txt01 {
      margin-bottom: 15px; }
    .seasons-contents .block04 p {
      text-align: left; }

  .voice01 .img-pos {
    position: static;
    max-width: 150px;
    margin: 20px auto 0;
    display: block; }
  .voice01 .lbl01 {
    max-width: 75px;
    top: -9%;
    left: -8%; }
  .voice01 .lbl02 {
    max-width: 89px;
    top: -13%;
    right: -11%; }

  .voice02 .lbl01 {
    top: -6%;
    left: 35%;
    max-width: 109px; }

  .voice03 .lbl01 {
    max-width: 75px;
    top: -12%;
    left: -7%; }
  .voice03 .lbl02 {
    max-width: 89px;
    top: -17%;
    right: -13%; }

  .voice04 .lbl01 {
    top: -8%;
    left: 35%;
    max-width: 109px; }

  .voice05 .img-pos {
    left: -10%;
    top: 85%;
    max-width: 130px;
    z-index: 2; }
  .voice05 .lbl01 {
    max-width: 75px;
    top: -5%;
    left: -8%; }
  .voice05 .lbl02 {
    max-width: 89px;
    top: -8%;
    right: -11%; }

  .voice06 .img-pos {
    max-width: 100px;
    right: -6%;
    bottom: auto;
    top: 0px; }
  .voice06 .lbl01 {
    top: -5%;
    left: 40%;
    max-width: 75px; }

  .voice07 .lbl01 {
    max-width: 75px;
    top: -4%;
    left: -7%; }
  .voice07 .lbl02 {
    max-width: 89px;
    top: -7%;
    right: -12%; }

  .voice08 .lbl01 {
    top: -4%;
    left: 35%;
    max-width: 109px; }

  .voice09 {
    margin-bottom: 130px; }
    .voice09 .img-pos {
      right: auto;
      left: 35%;
      top: calc(100% + 30px);
      max-width: 315px;
      z-index: 2;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-30%); }
    .voice09 .lbl01 {
      top: -4%;
      left: 40%;
      max-width: 75px; } }

/*# sourceMappingURL=america.css.map */
