.china .symbol-icon {
  max-width: 186px;
  left: -100px;
  bottom: 20px; }
.china .flag-icon {
  top: 25%; }

.section-intro .section-title_sub {
  max-width: 370px;
  margin: 0 auto 40px; }
.section-intro .wrap-s .fist {
  margin-bottom: 50px; }
.section-intro .section-txt {
  margin-bottom: 50px; }

.voice01 .real-voice_item--ttl {
  max-width: 112px; }
.voice01 .lbl01 {
  top: -15%;
  left: -9%;
  max-width: 99px; }
.voice01 .lbl02 {
  top: -10%;
  right: -10%;
  max-width: 120px; }

.voice02 .real-voice_item--ttl {
  max-width: 76px; }
.voice02 .real-voice_item--img {
  margin: 0 0 25px; }
.voice02 .img-pos {
  display: inline-block;
  position: absolute;
  left: -20%;
  top: -10%;
  max-width: 113px;
  z-index: 2; }
.voice02 .lbl01 {
  top: -5%;
  left: 30%;
  max-width: 145px; }

.voice03 .real-voice_item--ttl {
  max-width: 93px; }
.voice03 .img-pos {
  display: inline-block;
  position: absolute;
  right: -16%;
  top: -17%;
  max-width: 136px;
  z-index: 2; }
.voice03 .lbl01 {
  top: -3%;
  left: 35%;
  max-width: 95px; }

.voice04 .real-voice_item--ttl {
  max-width: 95px; }
.voice04 .lbl01 {
  top: -11%;
  left: -6%;
  max-width: 99px; }
.voice04 .lbl02 {
  top: -14%;
  right: -11%;
  max-width: 120px; }

.voice05 .real-voice_item--ttl {
  max-width: 42px; }
.voice05 .img-pos {
  display: inline-block;
  position: absolute;
  left: -20%;
  top: -43%;
  max-width: 180px;
  z-index: 2; }
.voice05 .lbl01 {
  top: -9%;
  left: 35%;
  max-width: 116px; }

.voice06 .real-voice_item--ttl {
  max-width: 132px; }
.voice06 .lbl01 {
  top: -12%;
  left: 33%;
  max-width: 144px; }

.voice07 .real-voice_item--ttl {
  max-width: 102px; }
.voice07 .lbl01 {
  top: -8%;
  left: -5%;
  max-width: 99px; }
.voice07 .lbl02 {
  top: -14%;
  right: -9%;
  max-width: 120px; }

.voice08 .real-voice_item--ttl {
  max-width: 95px; }
.voice08 .real-voice_item--img img {
  max-width: 149px; }
.voice08 .img-pos {
  display: inline-block;
  position: absolute;
  left: -7%;
  bottom: -26%;
  max-width: 202px;
  z-index: 2; }
.voice08 .lbl01 {
  top: -11%;
  left: 30%;
  max-width: 145px; }

.voice09 .real-voice_item--ttl {
  max-width: 140px; }
.voice09 .lbl01 {
  top: -9%;
  left: 35%;
  max-width: 95px; }

.voice10 .real-voice_item--ttl {
  max-width: 40px; }
.voice10 .img-pos {
  display: inline-block;
  position: absolute;
  right: -24%;
  bottom: -12%;
  max-width: 131px;
  z-index: 2; }
.voice10 .lbl01 {
  top: -8%;
  left: -5%;
  max-width: 99px; }
.voice10 .lbl02 {
  top: -14%;
  right: -9%;
  max-width: 120px; }

.voice11 .real-voice_item--ttl {
  max-width: 124px; }
.voice11 .lbl01 {
  top: -12%;
  left: 30%;
  max-width: 145px; }

.voice12 .real-voice_item--ttl {
  max-width: 106px; }
.voice12 .real-voice_item--img img {
  max-width: 165px; }
.voice12 .lbl01 {
  top: -8%;
  left: -5%;
  max-width: 99px; }
.voice12 .lbl02 {
  top: -14%;
  right: -9%;
  max-width: 120px; }

@media screen and (max-width: 768px) {
  .section-intro {
    animation-name: slideDelay;
    -webkit-animation-name: slideDelay;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important; }

  .china .symbol-icon {
    max-width: 93px;
    left: 0;
    bottom: -30px; }
  .china .flag-icon {
    top: -25px; }

  .section-intro .section-title_sub {
    max-width: 185px;
    margin: 0 auto 20px; }
  .section-intro .section-txt {
    margin-bottom: 25px; }

  .voice01 .lbl01 {
    max-width: 75px;
    top: -11%;
    left: -7%; }
  .voice01 .lbl02 {
    max-width: 89px;
    top: -17%;
    right: -8%; }

  .voice02 .img-pos {
    left: -7%;
    top: -8%;
    max-width: 63px;
    transform: rotate(-7deg); }
  .voice02 .lbl01 {
    top: -4%;
    left: 35%;
    max-width: 109px; }

  .voice03 .img-pos {
    max-width: 83px;
    right: -2%;
    top: -8%; }
  .voice03 .lbl01 {
    top: -5%;
    left: 35%;
    max-width: 75px; }

  .voice04 .lbl01 {
    max-width: 75px;
    top: -11%;
    left: -9%; }
  .voice04 .lbl02 {
    max-width: 89px;
    top: -15%;
    right: -13%; }

  .voice05 .img-pos {
    max-width: 90px;
    left: auto;
    right: -6%;
    top: -15%; }
  .voice05 .lbl01 {
    top: -7%;
    left: 40%;
    max-width: 76px; }

  .voice06 .lbl01 {
    top: -10%;
    left: 35%;
    max-width: 109px; }

  .voice07 .lbl01 {
    max-width: 75px;
    top: -11%;
    left: -9%; }
  .voice07 .lbl02 {
    max-width: 89px;
    top: -15%;
    right: -13%; }

  .voice08 .img-pos {
    max-width: 130px;
    left: auto;
    right: -6%;
    bottom: -11%; }
  .voice08 .lbl01 {
    top: -10%;
    left: 35%;
    max-width: 109px; }

  .voice09 .lbl01 {
    top: -8%;
    left: 40%;
    max-width: 65px; }

  .voice10 .img-pos {
    right: -10%;
    bottom: -5%;
    max-width: 65px; }
  .voice10 .lbl01 {
    max-width: 75px;
    top: -11%;
    left: -9%; }
  .voice10 .lbl02 {
    max-width: 89px;
    top: -15%;
    right: -13%; }

  .voice11 .lbl01 {
    top: -10%;
    left: 35%;
    max-width: 109px; }

  .voice12 .lbl01 {
    max-width: 75px;
    top: -11%;
    left: -9%; }
  .voice12 .lbl02 {
    max-width: 89px;
    top: -15%;
    right: -13%; } }

/*# sourceMappingURL=china.css.map */
