@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,300,400,500,600,700,900");
/** YoGo fonts **/
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

.page-factory {
	/*font-family: "Yu Gothic";*/
	/*font-family: "Noto Serif JP", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Yu Gothic", YuGothic, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", serif;*/
	letter-spacing: 0;
	font-size: 15px;
	font-size: 1.5rem;
	.menuOpen span {
	    background-color: #00465C;
	    position: absolute;
	    left: 0;
	    width: 100%;
	    height: 0.3rem;
	    border-radius: 0.3rem;
	    opacity: 1;
	}

	.menuOpen:hover span {
	    background-color: #00465C;
	}
}
.factory-wrap {
	width: 100%;
	background: url(../img/main-bg.png) left top repeat;
	position: relative;
	&:after {
		position: absolute;
		content: '';
		width: 90%;
		height: 100%;
		left: 5%;
		top: 0;
		z-index: -1;
		background: url(../img/line-bg.png) left top repeat;
	}
	.container {
		max-width: 830px;
		margin: 0 auto;
		padding: 0 15px;
	}
}
#main {
    padding: 0 0 100px;
	/*padding: 100px 0px;
	width: 90%;
	margin: 0 auto;
	background: url(../img/line-bg.png) left top repeat;*/
}
@import "./_factory_pc.scss";
@media screen and (min-width: 769px) {
	.show_sp {
		display: none;
	}
	.show_pc {
		display: inline-block;
	}
}
@media screen and (max-width: 768px) {
	.page-factory {
		font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HiraKakuPro-W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",Osaka,sans-serif;
	}
	.show_sp {
		display: inline-block;
	}
	.show_pc {
		display: none;
	}
	@import "./_factory_sp.scss";
}