@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,300,400,500,600,700,900");
/** YoGo fonts **/
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100; }
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200; }
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300; }
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400; }
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold; }
.page-factory {
  /*font-family: "Yu Gothic";*/
  /*font-family: "Noto Serif JP", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Yu Gothic", YuGothic, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", serif;*/
  letter-spacing: 0;
  font-size: 15px;
  font-size: 1.5rem; }
  .page-factory .menuOpen span {
    background-color: #00465C;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.3rem;
    border-radius: 0.3rem;
    opacity: 1; }
  .page-factory .menuOpen:hover span {
    background-color: #00465C; }

.factory-wrap {
  width: 100%;
  background: url(../img/main-bg.png) left top repeat;
  position: relative; }
  .factory-wrap:after {
    position: absolute;
    content: '';
    width: 90%;
    height: 100%;
    left: 5%;
    top: 0;
    z-index: -1;
    background: url(../img/line-bg.png) left top repeat; }
  .factory-wrap .container {
    max-width: 830px;
    margin: 0 auto;
    padding: 0 15px; }

#main {
  padding: 0 0 100px;
  /*padding: 100px 0px;
  width: 90%;
  margin: 0 auto;
  background: url(../img/line-bg.png) left top repeat;*/ }

/** factory pc style **/
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden; }
  100% {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible; } }
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%); } }
@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
    visibility: hidden; }
  30% {
    -webkit-transform: translateX(-30%);
    opacity: 0;
    visibility: hidden; }
  60% {
    -webkit-transform: translateX(-60%);
    opacity: 0;
    visibility: hidden; }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
    visibility: visible; } }
@keyframes slideRight {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
    visibility: hidden; }
  30% {
    -webkit-transform: translateX(30%);
    opacity: 0;
    visibility: hidden; }
  60% {
    -webkit-transform: translateX(60%);
    opacity: 0;
    visibility: hidden; }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
    visibility: visible; } }
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    opacity: 0;
    visibility: hidden; }
  30% {
    -webkit-transform: translateY(30%);
    opacity: 0;
    visibility: hidden; }
  60% {
    -webkit-transform: translateY(60%);
    opacity: 0;
    visibility: hidden; }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
    visibility: visible; } }
@keyframes slideZoom {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
    visibility: hidden; }
  30% {
    -webkit-transform: scale(0.3);
    opacity: 0;
    visibility: hidden; }
  60% {
    -webkit-transform: scale(0.6);
    opacity: 0.6;
    visibility: hidden; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    visibility: visible; } }
.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.slideRight {
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.slideZoom {
  animation-name: slideZoom;
  -webkit-animation-name: slideZoom;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.keyvisual {
  background: url(../img/index/kv-bg.png) center bottom no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh; }

.key-main {
  align-self: center;
  position: relative;
  width: 100%;
  max-width: 665px;
  text-align: center; }

.kv01 {
  width: 100%;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3); }

.kv02 {
  position: absolute;
  top: 15%;
  left: 30%;
  width: 40%;
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.kv03 {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 55%;
  animation-name: slideZoom;
  -webkit-animation-name: slideZoom;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.kv04 {
  position: absolute;
  bottom: -20%;
  left: 12%;
  max-width: 211px; }

.kv05 {
  position: absolute;
  bottom: -17%;
  right: 9%;
  max-width: 211px;
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease; }

.kv06 {
  position: absolute;
  top: 52%;
  right: 16%;
  width: 16%;
  animation-name: slideZoom;
  -webkit-animation-name: slideZoom;
  animation-duration: 3.5s;
  -webkit-animation-duration: 3.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.kv07 {
  position: absolute;
  top: -2%;
  right: -18%;
  width: 40%; }

.kv08 {
  position: absolute;
  top: 17%;
  left: -17%;
  width: 30%; }

.kv09 {
  position: absolute;
  bottom: 30%;
  left: 6%;
  max-width: 110px;
  animation-name: slideZoom;
  -webkit-animation-name: slideZoom;
  animation-duration: 3.5s;
  -webkit-animation-duration: 3.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.kv10 {
  position: absolute;
  bottom: 15%;
  right: -1%;
  max-width: 106px;
  animation-name: slideZoom;
  -webkit-animation-name: slideZoom;
  animation-duration: 3.5s;
  -webkit-animation-duration: 3.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.hr-line {
  position: relative; }
  .hr-line:before {
    position: absolute;
    content: '';
    left: 50%;
    top: 0;
    width: 123px;
    height: 15px;
    background: url(../img/hr-icon.svg) left top no-repeat;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }

.factory-top #main {
  font-size: 18px;
  padding-top: 100px; }

.section-info {
  padding: 100px 0px 0px; }

.section-mails {
  padding: 100px 0px 0px; }

.fontTtl {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.8;
  color: #000;
  text-align: center;
  font-family: "Noto Serif JP", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Yu Gothic", YuGothic, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", serif; }

.top-Ttl_01 {
  max-width: 620px; }

.top-Ttl_02 {
  max-width: 510px; }

.top-Ttl_03 {
  max-width: 510px; }

.info-artile {
  text-align: center;
  position: relative; }
  .info-artile:not(:last-child) {
    margin-bottom: 80px; }
  .info-artile_title {
    margin: 0 auto 50px; }
  .info-artile .img {
    position: absolute; }
  .info-artile:nth-child(1) .img {
    bottom: 87%;
    right: 100%;
    max-width: 165px; }
  .info-artile:nth-child(3) .img1 {
    position: absolute;
    top: -14%;
    left: -4%;
    max-width: 125px; }
  .info-artile:nth-child(3) .img2 {
    position: absolute;
    bottom: -5%;
    left: 90%;
    max-width: 168px; }

.address-title {
  max-width: 130px;
  margin: 0 auto 20px; }
.address-temp {
  display: block;
  position: absolute;
  right: calc(100% - 40px);
  bottom: 42%;
  width: 150px;
  -webkit-transition: all .2s ease 0.1s;
  -o-transition: all .2s ease 0.1s;
  transition: all .2s ease 0.1s; }
.address-thumb {
  display: block;
  border-radius: 5px;
  -webkit-transition: all .2s ease 0.1s;
  -o-transition: all .2s ease 0.1s;
  transition: all .2s ease 0.1s; }

.address-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 0 100px -200px; }
  .address-list_item {
    width: calc(50% - 200px);
    margin-left: 200px;
    text-align: center;
    position: relative; }
    .address-list_item:not(:last-child) {
      margin-bottom: 50px; }
    .address-list_item:nth-child(2) .address-title {
      max-width: 145px; }
    .address-list_item:nth-child(4) .address-title {
      max-width: 160px; }
    .address-list_item:nth-child(5) .address-title {
      max-width: 155px; }
    .address-list_item:nth-child(6) .address-title {
      max-width: 206px; }
    .address-list_item a:hover .address-thumb {
      -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.5);
      transform: scale(1.12);
      z-index: 2;
      position: relative; }

.bottom-txt {
  text-align: center;
  position: relative;
  padding: 25px 20px;
  max-width: 730px;
  margin: 0 auto; }
  .bottom-txt:before, .bottom-txt:after {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 2px;
    background: url(../img/hr-line.png) left top repeat-x; }
  .bottom-txt:before {
    top: 0; }
  .bottom-txt:after {
    bottom: 0; }

/** subpage **/
.keyvisual_sub {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh; }
  .keyvisual_sub:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    left: 0;
    top: 0;
    background: url(../img/kv-bg_sub.png) 100% top no-repeat;
    background-size: cover; }

.key-main_sub {
  align-self: center;
  position: relative;
  width: 100%;
  max-width: 660px;
  text-align: center;
  z-index: 1;
  background: #fff;
  padding: 60px 45px 90px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  animation-name: slideZoom;
  -webkit-animation-name: slideZoom;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }
  .key-main_sub:before, .key-main_sub:after {
    position: absolute;
    content: '';
    left: 2%;
    width: 96%;
    height: 2px;
    background: url(../img/hr-line.png) left top repeat-x; }
  .key-main_sub:before {
    top: 15px; }
  .key-main_sub:after {
    bottom: 15px; }

.kv-num {
  max-width: 63px;
  display: block;
  text-align: center;
  margin: 0 auto 75px;
  position: relative;
  animation-name: slideZoom;
  -webkit-animation-name: slideZoom;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }
  .kv-num:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -35px;
    width: 80px;
    height: 10px;
    background: url(../img/hr-icon_02.svg) left top no-repeat;
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important; }

.page-title {
  max-width: 403px;
  margin: 0 auto 48px;
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.page-address {
  background: #EEEEEF;
  text-align: left;
  padding: 20px 40px;
  position: relative;
  font-weight: 500;
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }
  .page-address:after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: -38px;
    width: 80px;
    height: 10px;
    background: url(../img/hr-icon_02.svg) left top no-repeat;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
  .page-address dt {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px; }
  .page-address dd:not(:last-child) {
    margin-bottom: 20px; }

.letter-icon {
  display: block;
  max-width: 200px;
  width: 100%;
  position: absolute;
  top: 40px;
  left: -124px;
  z-index: 2;
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.flag-icon {
  display: block;
  width: 100%;
  max-width: 154px;
  position: absolute;
  top: 35%;
  right: -45px;
  z-index: 2;
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.symbol-icon {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.wrap-xlg {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 15px; }

.wrap-lg {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0px 15px; }

.wrap-s {
  max-width: 700px;
  margin: 0 auto; }

section:not(:last-child) {
  margin-bottom: 100px; }

.section-title {
  position: relative;
  padding-bottom: 56px;
  margin-bottom: 50px; }
  .section-title:after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0px;
    width: 80px;
    height: 10px;
    background: url(../img/hr-icon_02.svg) left top no-repeat;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }

.section-intro figure {
  margin-bottom: 50px; }
.section-intro p:not(:last-child) {
  margin-bottom: 30px; }

.seasons-contents {
  background: #fff;
  padding: 100px 40px 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  position: relative; }
  .seasons-contents:after {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 505px;
    height: 50px;
    background: url(../img/ss_head.png) left top no-repeat;
    background-size: cover; }
  .seasons-contents .seasons-col {
    width: 50%;
    padding: 0px 40px; }
    .seasons-contents .seasons-col:last-child {
      border-left: 1px dashed #888888; }

.section-real .section-title {
  max-width: 360px;
  margin: 0 auto 75px; }
.section-real_head {
  text-align: center;
  margin-bottom: 90px;
  font-size: 17px; }

.section-real_inner {
  max-width: 820px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 auto; }
.section-real .real-col {
  width: calc(50% - 45px);
  margin-left: 45px; }
  .section-real .real-col:first-child {
    margin-left: 0; }

.real-voice_item {
  display: block;
  position: relative;
  margin: 0 0 70px 0px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3); }
  .real-voice_item:before, .real-voice_item:after {
    position: absolute;
    content: ''; }
  .real-voice_item:before {
    width: 100%;
    height: 2px;
    left: 0;
    top: -2px;
    background: url(../img/border-t.png) left top repeat-x; }
  .real-voice_item:after {
    height: 100%;
    width: 2px;
    left: -2px;
    top: 0px;
    background: url(../img/border-l.png) left top repeat-y; }
  .real-voice_item_in {
    background: #fff;
    padding: 60px 35px 35px;
    position: relative; }
    .real-voice_item_in:before, .real-voice_item_in:after {
      position: absolute;
      content: ''; }
    .real-voice_item_in:before {
      width: 100%;
      height: 2px;
      bottom: -2px;
      right: 0px;
      background: url(../img/border-b.png) left top repeat-x; }
    .real-voice_item_in:after {
      height: 100%;
      width: 2px;
      bottom: 0;
      right: -2px;
      background: url(../img/border-r.png) left top repeat-y; }
  .real-voice_item--ttl {
    margin: 0 auto 30px; }
  .real-voice_item--img {
    margin: 25px 0 0;
    text-align: center; }
  .real-voice_item .lbl {
    display: inline-block;
    position: absolute;
    z-index: 2;
    max-width: -webkit-calc(100% / 2);
    max-width: calc(100% / 2); }

.pagetop {
  width: 50px;
  height: 50px;
  display: none;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 10px;
  z-index: 99999; }
  .pagetop:hover {
    opacity: 0.5; }
  .pagetop.active {
    opacity: 0.5; }

.keyvisual_scroll.sub {
  -webkit-mask: url(../img/arrow-down.svg) no-repeat 100% 100%;
  mask: url(../img/arrow-down.svg) no-repeat 100% 100%;
  mask-size: cover;
  background: #000 none;
  width: 30px;
  height: 24px;
  left: 50%;
  margin-left: -15px; }

@media screen and (min-width: 769px) {
  .show_sp {
    display: none; }

  .show_pc {
    display: inline-block; } }
@media screen and (max-width: 768px) {
  .page-factory {
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HiraKakuPro-W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",Osaka,sans-serif; }

  .show_sp {
    display: inline-block; }

  .show_pc {
    display: none; }

  /** factory sp style **/
  .page-factory #footer,
  .page-factory #wrapper {
    min-width: 100%;
    overflow: hidden; }
  .page-factory .keyvisual_scroll {
    display: none; }

  .key-main {
    width: 80%; }

  .kv02 {
    width: 47%; }

  .kv04 {
    bottom: -30%;
    width: 35%; }

  .kv05 {
    left: auto;
    right: 5%;
    bottom: -20%;
    width: 30%; }

  .kv07 {
    top: -21%;
    right: -15%; }

  .kv08 {
    top: 10%;
    left: -10%;
    width: 33%;
    max-width: 108px; }

  .kv09 {
    max-width: 54px; }

  .kv10 {
    max-width: 53px;
    bottom: 5%;
    right: -2%; }

  .page-factory {
    font-size: 12px;
    line-height: 1.83em;
    letter-spacing: 0.06em; }
    .page-factory.factory-top {
      line-height: 1.83em;
      letter-spacing: 0.06em; }
      .page-factory.factory-top #main {
        font-size: 12px;
        padding-top: 50px; }
      .page-factory.factory-top .fontTtl {
        font-size: 22px; }
    .page-factory .factory-wrap {
      overflow: hidden; }

  .info-artile_title {
    margin: 0 auto 25px; }

  .fontTtl {
    font-size: 18px; }

  .section-title:after {
    width: 60px;
    height: 8px; }

  .hr-line {
    position: relative; }
    .hr-line:before {
      position: absolute;
      content: '';
      left: 50%;
      top: 0;
      width: 60px;
      height: 8px;
      background: url(../img/hr-icon_02.svg) left top no-repeat;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }

  .keyvisual {
    min-height: 1px;
    padding: 120px 0; }

  .keyvisual_sub {
    min-height: 1px;
    padding-top: 80px; }

  .key-main_sub {
    padding: 60px 30px 50px; }

  .letter-icon {
    max-width: 120px;
    left: 15px; }

  .page-title {
    max-width: 250px;
    margin-bottom: 20px; }

  .kv-num {
    max-width: 50px;
    margin-bottom: 50px; }
    .kv-num:after {
      bottom: -30px;
      width: 60px;
      height: 8px; }

  .flag-icon {
    top: -25px;
    right: 30px;
    max-width: 110px; }

  .page-address {
    padding: 15px 35px;
    max-width: 90%;
    margin: 0 auto; }
    .page-address:after {
      background: none;
      width: 0;
      height: 0; }
    .page-address dt {
      font-size: 14px; }
    .page-address dd {
      font-size: 10px; }

  .section-intro p {
    line-height: 2; }
    .section-intro p:not(:last-child) {
      margin-bottom: 15px; }

  .section-seasons p {
    line-height: 2; }

  .page-factory #main {
    padding: 50px 0px; }

  .section-title {
    padding-bottom: 30px;
    margin-bottom: 30px; }

  .section-info {
    padding: 50px 0px 0px; }

  .top-Ttl_01 {
    max-width: 190px; }

  .top-Ttl_02 {
    max-width: 140px; }

  .top-Ttl_03 {
    max-width: 145px; }

  .info-artile:nth-child(1) .img {
    bottom: 87%;
    right: auto;
    left: 0;
    max-width: 83px; }
  .info-artile:nth-child(3) .img1 {
    max-width: 65px;
    top: -7%;
    left: 10%; }
  .info-artile:nth-child(3) .img2 {
    position: static;
    margin-top: 15px;
    max-width: 95px; }
  .info-artile:not(:last-child) {
    margin-bottom: 40px; }

  .section-mails {
    padding: 50px 0px 0px; }

  .address-title {
    max-width: 80px;
    margin: 0 auto 20px; }
  .address-temp {
    display: block;
    position: absolute;
    right: calc(100% - 30px);
    width: 100px; }
  .address-thumb {
    max-width: 300px;
    margin: 0 auto; }

  .address-list {
    display: block;
    margin: 0; }
    .address-list_item {
      width: 60%;
      max-width: 300px;
      margin: 0 auto 50px; }
      .address-list_item:nth-child(2) .address-title {
        max-width: 85px; }
      .address-list_item:nth-child(4) .address-title {
        max-width: 105px; }
      .address-list_item:nth-child(5) .address-title {
        max-width: 100px; }
      .address-list_item:nth-child(6) .address-title {
        max-width: 130px; }
      .address-list_item:not(:last-child) {
        margin-bottom: 35px; }

  section:not(:last-child) {
    margin-bottom: 50px; }

  .section-intro figure {
    margin-bottom: 25px; }

  .bottom-txt {
    padding: 20px 10px; }

  .seasons-contents {
    padding: 80px 20px 30px; }
    .seasons-contents:after {
      width: 200px;
      height: 33px; }
    .seasons-contents .seasons-col {
      width: 100%;
      padding: 0; }
      .seasons-contents .seasons-col:last-child {
        border-left: none; }
    .seasons-contents .block {
      border-bottom: 1px dotted #ccc;
      padding-bottom: 25px; }
      .seasons-contents .block:not(:last-child) {
        margin-bottom: 25px; }
      .seasons-contents .block h3 {
        display: block;
        text-align: center;
        margin: 0 auto 15px; }
        .seasons-contents .block h3 img {
          max-width: 80%; }

  .section-real .section-title {
    max-width: 180px;
    margin-bottom: 50px; }
  .section-real .real-col {
    width: 80%;
    margin-left: 0; }
  .section-real_head {
    margin-bottom: 45px;
    font-size: 12px; }

  .real-voice_item {
    margin: 0 0 55px 0; }
    .real-voice_item--ttl {
      margin: 0 auto 20px;
      text-align: center; }
      .real-voice_item--ttl img {
        max-width: 80%; }
    .real-voice_item_in {
      padding: 50px 15px 35px; }
    .real-voice_item--txt {
      line-height: 2; }

  .pagetop {
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px; }

  .keyvisual_scroll.sub {
    -webkit-mask: url(../img/arrow-down.svg) no-repeat 100% 100%;
    mask: url(../img/arrow-down.svg) no-repeat 100% 100%;
    mask-size: cover;
    background: #000 none;
    width: 20px;
    height: 18px;
    left: 50%;
    margin-left: -10px;
    bottom: -25px; } }

/*# sourceMappingURL=factory.css.map */
