.india .symbol-icon {
  max-width: 257px;
  left: -165px;
  bottom: -100px; }
.india .flag-icon {
  top: 32%; }

.real-voice_item .real-voice_item--img {
  margin-bottom: 30px; }

.p-relative {
  position: relative; }
  .p-relative .intro-pos {
    position: absolute;
    right: -27%;
    top: -17%;
    max-width: 325px; }
  .p-relative .first {
    padding-right: 130px; }

.intro-start_img {
  margin: -40px 0 0 -55px; }

.voice01 .real-voice_item--ttl {
  max-width: 15px; }
.voice01 .real-voice_item--img img {
  max-width: 162px; }
.voice01 .lbl01 {
  top: -7%;
  left: -8%;
  max-width: 99px; }
.voice01 .lbl02 {
  top: -7%;
  right: -7%;
  max-width: 120px; }

.voice02 .real-voice_item--ttl {
  max-width: 96px; }
.voice02 .real-voice_item--img img {
  max-width: 216px; }
.voice02 .img-pos {
  display: inline-block;
  position: absolute;
  left: -31%;
  top: -15%;
  max-width: 221px;
  z-index: 2; }
.voice02 .lbl01 {
  top: -8%;
  left: 35%;
  max-width: 145px; }

.voice03 .real-voice_item--ttl {
  max-width: 130px; }
.voice03 .real-voice_item--img img {
  max-width: 162px; }
.voice03 .lbl01 {
  top: -6%;
  left: -8%;
  max-width: 99px; }
.voice03 .lbl02 {
  top: -9%;
  right: -10%;
  max-width: 120px; }

.voice04 .real-voice_item--ttl {
  max-width: 180px; }
.voice04 .real-voice_item--img img {
  max-width: 216px; }
.voice04 .lbl01 {
  top: -9%;
  left: 35%;
  max-width: 145px; }

.voice05 .real-voice_item--ttl {
  max-width: 105px; }
.voice05 .real-voice_item--img img {
  max-width: 162px; }
.voice05 .lbl01 {
  top: -6%;
  left: 35%;
  max-width: 95px; }

.voice06 .real-voice_item--ttl {
  max-width: 100px; }
.voice06 .real-voice_item--img img {
  max-width: 216px; }
.voice06 .lbl01 {
  top: -6%;
  left: 35%;
  max-width: 95px; }

.voice07 .real-voice_item--ttl {
  max-width: 48px; }
.voice07 .real-voice_item--img img {
  max-width: 162px; }
.voice07 .lbl01 {
  top: -7%;
  left: -9%;
  max-width: 99px; }
.voice07 .lbl02 {
  top: -8%;
  right: -12%;
  max-width: 120px; }

.voice08 .real-voice_item--ttl {
  max-width: 60px; }
.voice08 .real-voice_item--img img {
  max-width: 216px; }
.voice08 .img-pos {
  display: inline-block;
  position: absolute;
  right: -17%;
  top: -6%;
  max-width: 105px;
  z-index: 2; }
.voice08 .lbl01 {
  top: -6%;
  left: 35%;
  max-width: 143px; }

.voice09 .real-voice_item--ttl {
  max-width: 75px; }
.voice09 .real-voice_item--img img {
  max-width: 216px; }
.voice09 .lbl01 {
  top: -7%;
  left: -9%;
  max-width: 99px; }
.voice09 .lbl02 {
  top: -8%;
  right: -12%;
  max-width: 120px; }

.voice10 .real-voice_item--ttl {
  max-width: 218px; }
.voice10 .real-voice_item--img img {
  max-width: 216px; }
.voice10 .lbl01 {
  top: -6%;
  left: 35%;
  max-width: 149px; }

.voice11 .real-voice_item--ttl {
  max-width: 136px; }
.voice11 .img-pos {
  display: inline-block;
  position: absolute;
  right: -37%;
  bottom: -13%;
  max-width: 160px;
  z-index: 2; }
.voice11 .lbl01 {
  top: -7%;
  left: -9%;
  max-width: 100px; }
.voice11 .lbl02 {
  top: -8%;
  right: -12%;
  max-width: 120px; }

@media screen and (max-width: 768px) {
  .section-intro {
    animation-name: slideDelay;
    -webkit-animation-name: slideDelay;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important; }

  .india .symbol-icon {
    max-width: 130px;
    left: -12px;
    bottom: -50px; }
  .india .flag-icon {
    top: -25px; }

  .p-relative .first {
    padding: 0; }

  .intro-start_img {
    margin: 0; }

  .voice01 .lbl01 {
    max-width: 75px;
    top: -5%;
    left: -7%; }
  .voice01 .lbl02 {
    max-width: 89px;
    top: -7%;
    right: -11%; }

  .voice02 .img-pos {
    left: -16%;
    top: -12%;
    max-width: 150px; }
  .voice02 .lbl01 {
    top: -6%;
    left: 35%;
    max-width: 109px; }

  .voice03 .lbl01 {
    max-width: 75px;
    top: -4%;
    left: -7%; }
  .voice03 .lbl02 {
    max-width: 89px;
    top: -5%;
    right: -8%; }

  .voice04 .lbl01 {
    top: -8%;
    left: 35%;
    max-width: 109px; }

  .voice05 .lbl01 {
    top: -5%;
    left: 40%;
    max-width: 75px; }

  .voice06 .lbl01 {
    top: -5%;
    left: 40%;
    max-width: 75px; }

  .voice07 .lbl01 {
    max-width: 75px;
    top: -4%;
    left: -7%; }
  .voice07 .lbl02 {
    max-width: 89px;
    top: -5%;
    right: -8%; }

  .voice08 .img-pos {
    right: -10%;
    top: -6%;
    max-width: 55px; }
  .voice08 .lbl01 {
    top: -5%;
    left: 35%;
    max-width: 109px; }

  .voice09 .lbl01 {
    max-width: 75px;
    top: -4%;
    left: -7%; }
  .voice09 .lbl02 {
    max-width: 89px;
    top: -5%;
    right: -8%; }

  .voice10 .lbl01 {
    top: -6%;
    left: 35%;
    max-width: 109px; }

  .voice11 {
    margin-bottom: 150px; }
    .voice11 .img-pos {
      right: 30%;
      top: 105%;
      bottom: auto;
      max-width: 120px; }
    .voice11 .lbl01 {
      max-width: 75px;
      top: -5%;
      left: -8%; }
    .voice11 .lbl02 {
      max-width: 89px;
      top: -8%;
      right: -11%; } }

/*# sourceMappingURL=india.css.map */
