.indonesia .symbol-icon {
  max-width: 220px;
  left: -130px;
  bottom: -71px; }
.indonesia .flag-icon {
  top: 32%; }

.section-intro .section-title {
  margin: 0 auto 50px; }

.section-seasons .seasons-bnr {
  margin-bottom: 50px; }
.section-seasons .wrap-lg {
  margin-bottom: 50px; }
.section-seasons .section-title {
  margin: 0 auto 50px; }
.section-seasons .seasons-head {
  margin-bottom: 65px; }

.seasons-contents {
  padding: 100px 80px 55px;
  position: relative; }
  .seasons-contents .sspos05 {
    position: absolute;
    top: -28px;
    right: -40px;
    max-width: 182px; }
  .seasons-contents .seasons-col {
    padding-top: 40px; }
  .seasons-contents .ss-pos {
    max-width: 144px;
    left: 30px;
    top: -30px;
    position: absolute; }
  .seasons-contents .seasons-pos {
    display: block;
    position: absolute;
    right: 5%;
    top: -5%; }
    .seasons-contents .seasons-pos img {
      max-width: 161px; }
  .seasons-contents .block:not(:last-child) {
    margin-bottom: 60px; }
  .seasons-contents .block h3 {
    margin-bottom: 20px; }
  .seasons-contents .block p {
    margin-bottom: 20px; }
  .seasons-contents .block .pos {
    position: absolute;
    right: 0;
    max-width: 105px; }
  .seasons-contents .block.block02 {
    padding-right: 40px; }
  .seasons-contents .block.block01 p, .seasons-contents .block.block06 p {
    padding-right: 40px; }

.ss-ttl01 {
  max-width: 90px; }

.ss-ttl02 {
  max-width: 226px; }

.ss-ttl03 {
  max-width: 140px; }

.ss-ttl04 {
  max-width: 90px; }

.ss-ttl05 {
  max-width: 210px; }

.ss-ttl06 {
  max-width: 53px; }

.ss-ttl07 {
  max-width: 158px; }

.ss-ttl08 {
  max-width: 120px; }

@media screen and (max-width: 768px) {
  .section-intro {
    animation-name: slideDelay;
    -webkit-animation-name: slideDelay;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important; }

  .indonesia .symbol-icon {
    max-width: 110px;
    left: 0px;
    bottom: -60px; }
  .indonesia .flag-icon {
    top: -25px; }

  .seasons-contents {
    padding: 80px 20px 30px; }
    .seasons-contents .seasons-col {
      padding-top: 0; }
    .seasons-contents .block:not(:last-child) {
      margin-bottom: 30px; }
    .seasons-contents .block.block02 {
      padding-right: 0px;
      margin-bottom: 30px; }
    .seasons-contents .block.block01 p, .seasons-contents .block.block06 p {
      padding-right: 20px; }
    .seasons-contents .block.block05, .seasons-contents .block.block08 {
      border: none;
      margin: 0;
      padding: 0; }
    .seasons-contents .block.block06 {
      margin-bottom: 25px; }
    .seasons-contents .block.block07 {
      position: relative;
      padding-bottom: 50px; }
    .seasons-contents .block .pos {
      max-width: 55px;
      bottom: 18px; }
    .seasons-contents .sspos05 {
      max-width: 91px;
      z-index: 1;
      top: -24px;
      right: -10px; }
    .seasons-contents .ss-pos {
      max-width: 72px;
      z-index: 1;
      left: auto;
      right: 10px;
      top: -18px; } }

/*# sourceMappingURL=indonesia.css.map */
