.mexico .symbol-icon {
  max-width: 194px;
  left: -127px;
  bottom: -40px; }
.mexico .flag-icon {
  top: 32%; }

.section-intro .section-title {
  margin: 0 auto 50px; }

.section-seasons .section-title {
  margin: 0 auto 50px; }
.section-seasons .seasons-head {
  margin-bottom: 65px; }

.seasons-contents .seasons-col {
  padding-top: 40px; }
.seasons-contents .seasons-pos {
  position: absolute;
  right: 5%;
  top: -5%; }
  .seasons-contents .seasons-pos img {
    max-width: 149px; }
.seasons-contents .block:not(:last-child) {
  margin-bottom: 60px; }
.seasons-contents .block h3 {
  margin-bottom: 20px; }
.seasons-contents .block01 p, .seasons-contents .block02 p, .seasons-contents .block08 p {
  margin-bottom: 15px; }
.seasons-contents .block04 figure {
  text-align: center; }
  .seasons-contents .block04 figure img {
    max-width: 196px; }
.seasons-contents .block04 p {
  margin-bottom: 15px; }
.seasons-contents .block07 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-right: -80px; }
  .seasons-contents .block07 figure {
    max-width: 191px; }
  .seasons-contents .block07 .ctn {
    width: calc(100% - 217px);
    margin-right: 25px;
    align-self: center; }

.ss-ttl01 {
  max-width: 238px; }

.ss-ttl02 {
  max-width: 90px; }

.ss-ttl03 {
  max-width: 150px; }

.ss-ttl04 {
  max-width: 65px; }

.ss-ttl05 {
  max-width: 156px; }

.ss-ttl06 {
  max-width: 124px; }

.ss-ttl07 {
  max-width: 116px; }

.ss-ttl08 {
  max-width: 122px; }

@media screen and (max-width: 768px) {
  .section-intro {
    animation-name: slideDelay;
    -webkit-animation-name: slideDelay;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important; }

  .mexico .symbol-icon {
    max-width: 97px;
    left: 0px;
    bottom: -40px; }
  .mexico .flag-icon {
    top: -25px; }

  .seasons-contents .seasons-col {
    padding: 0; }
  .seasons-contents .seasons-pos {
    position: static;
    text-align: center;
    margin: 15px auto 0; }
    .seasons-contents .seasons-pos.show_sp {
      display: block !important; }
    .seasons-contents .seasons-pos img {
      max-width: 105px; }
    .seasons-contents .seasons-pos.show_pc {
      display: none; }
  .seasons-contents .block:not(:last-child) {
    margin-bottom: 25px; }
  .seasons-contents .block h3 {
    display: block; }
  .seasons-contents .block04 {
    margin-bottom: 25px; }
    .seasons-contents .block04 figure img {
      max-width: 150px; }
  .seasons-contents .block07 {
    display: block;
    margin-right: 0; }
    .seasons-contents .block07 .ctn {
      width: 100%; }
    .seasons-contents .block07 figure {
      text-align: center;
      margin: 20px auto 0;
      max-width: 240px; }
  .seasons-contents .block08 {
    border: none;
    padding-bottom: 0; } }

/*# sourceMappingURL=mexico.css.map */
