.thailand .symbol-icon {
  max-width: 164px;
  left: -110px;
  bottom: -40px; }
.thailand .flag-icon {
  top: 30%; }

.section-intro .section-title {
  margin: 0 auto 50px; }

.voice01 .real-voice_item--ttl {
  max-width: 247px; }
.voice01 .lbl01 {
  top: -2%;
  left: -7%;
  max-width: 99px; }
.voice01 .lbl02 {
  top: -4%;
  right: -9%;
  max-width: 120px; }

.voice02 .real-voice_item--ttl {
  max-width: 205px; }
.voice02 .real-voice_item--img img {
  max-width: 183px; }
.voice02 .lbl01 {
  top: -3%;
  left: 35%;
  max-width: 145px; }

.voice03 .real-voice_item--ttl {
  max-width: 242px; }
.voice03 .img-pos {
  display: inline-block;
  position: absolute;
  left: -20%;
  top: 16%;
  max-width: 101px;
  z-index: 2; }
.voice03 .lbl01 {
  top: -2%;
  left: -7%;
  max-width: 99px; }
.voice03 .lbl02 {
  top: -4%;
  right: -9%;
  max-width: 120px; }

.voice04 .real-voice_item--ttl {
  max-width: 132px; }
.voice04 .img-pos {
  display: inline-block;
  position: absolute;
  right: -17%;
  top: -11%;
  max-width: 167px;
  z-index: 2; }
.voice04 .lbl01 {
  top: -3%;
  left: 35%;
  max-width: 95px; }

.voice05 .real-voice_item--ttl {
  max-width: 138px; }
.voice05 .img-pos {
  display: inline-block;
  position: absolute;
  right: -18%;
  top: 35%;
  max-width: 80px;
  z-index: 2; }
.voice05 .lbl01 {
  top: -2%;
  left: -7%;
  max-width: 99px; }
.voice05 .lbl02 {
  top: -4%;
  right: -9%;
  max-width: 120px; }

.voice06 .real-voice_item--ttl {
  max-width: 240px; }
.voice06 .lbl01 {
  top: -6%;
  left: 35%;
  max-width: 92px; }

.voice07 .real-voice_item--ttl {
  max-width: 286px; }
.voice07 .img-pos {
  display: inline-block;
  position: absolute;
  right: -17%;
  bottom: -14%;
  max-width: 180px;
  z-index: 2; }
.voice07 .lbl01 {
  top: -5%;
  left: 35%;
  max-width: 145px; }

.voice08 .real-voice_item--ttl {
  max-width: 280px; }
.voice08 .real-voice_item--img img {
  max-width: 149px; }
.voice08 .lbl01 {
  top: -2%;
  left: -7%;
  max-width: 99px; }
.voice08 .lbl02 {
  top: -4%;
  right: -9%;
  max-width: 120px; }

.voice09 .real-voice_item--ttl {
  max-width: 215px; }
.voice09 .img-pos {
  display: inline-block;
  position: absolute;
  left: -19%;
  top: 2%;
  max-width: 93px;
  z-index: 2; }
.voice09 .lbl01 {
  top: -2%;
  left: 35%;
  max-width: 143px; }

.voice10 .real-voice_item--ttl {
  max-width: 205px; }
.voice10 .lbl01 {
  top: -4%;
  left: 35%;
  max-width: 95px; }

.voice11 .real-voice_item--ttl {
  max-width: 150px; }
.voice11 .img-pos {
  display: inline-block;
  position: absolute;
  right: -4%;
  top: -20%;
  max-width: 90px;
  z-index: 2; }
.voice11 .lbl01 {
  top: -4%;
  left: 35%;
  max-width: 95px; }

.voice12 .real-voice_item--ttl {
  max-width: 205px; }
.voice12 .real-voice_item--img img {
  max-width: 165px; }
.voice12 .img-pos {
  display: inline-block;
  position: absolute;
  right: -10%;
  bottom: -25%;
  max-width: 211px;
  z-index: 2; }
.voice12 .lbl01 {
  top: -2%;
  left: -7%;
  max-width: 99px; }
.voice12 .lbl02 {
  top: -4%;
  right: -9%;
  max-width: 120px; }

@media screen and (max-width: 768px) {
  .section-intro {
    animation-name: slideDelay;
    -webkit-animation-name: slideDelay;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important; }

  .thailand .symbol-icon {
    max-width: 82px;
    left: -5px;
    bottom: -26px; }
  .thailand .flag-icon {
    top: -25px; }

  .voice01 .real-voice_item--ttl {
    max-width: 155px; }
  .voice01 .lbl01 {
    max-width: 75px;
    top: -4%;
    left: -7%; }
  .voice01 .lbl02 {
    max-width: 89px;
    top: -5%;
    right: -8%; }

  .voice02 .lbl01 {
    max-width: 75px;
    top: -4%;
    left: -7%; }
  .voice02 .lbl02 {
    max-width: 89px;
    top: -5%;
    right: -8%; }

  .voice03 .real-voice_item--ttl {
    max-width: 170px; }
  .voice03 .img-pos {
    left: -13%;
    top: 10%;
    max-width: 52px; }
  .voice03 .lbl01 {
    max-width: 75px;
    top: -4%;
    left: -7%; }
  .voice03 .lbl02 {
    max-width: 89px;
    top: -5%;
    right: -8%; }

  .voice04 .img-pos {
    right: -3%;
    top: -7%;
    max-width: 84px; }
  .voice04 .lbl01 {
    top: -5%;
    left: 40%;
    max-width: 75px; }

  .voice05 .img-pos {
    right: -10%;
    top: 12%;
    max-width: 45px; }
  .voice05 .lbl01 {
    max-width: 75px;
    top: -4%;
    left: -8%; }
  .voice05 .lbl02 {
    max-width: 89px;
    top: -6%;
    right: -11%; }

  .voice06 .lbl01 {
    top: -4%;
    left: 40%;
    max-width: 75px; }

  .voice07 .real-voice_item--ttl {
    max-width: 200px; }
  .voice07 .img-pos {
    max-width: 120px;
    right: -6%;
    bottom: -10%; }
  .voice07 .lbl01 {
    top: -6%;
    left: 35%;
    max-width: 109px; }

  .voice08 .real-voice_item--ttl {
    max-width: 220px; }
  .voice08 .lbl01 {
    max-width: 75px;
    top: -4%;
    left: -7%; }
  .voice08 .lbl02 {
    max-width: 89px;
    top: -5%;
    right: -8%; }

  .voice09 .img-pos {
    max-width: 60px;
    left: -8%;
    top: -13%; }
  .voice09 .lbl01 {
    top: -5%;
    left: 35%;
    max-width: 109px; }

  .voice10 .img-pos {
    max-width: 60px;
    left: -8%;
    top: -13%;
    position: absolute;
    z-index: 2; }
  .voice10 .lbl01 {
    top: -4%;
    left: 35%;
    max-width: 109px; }

  .voice11 .img-pos {
    max-width: 60px;
    right: 0%;
    top: -9%; }
  .voice11 .lbl01 {
    top: -4%;
    left: 40%;
    max-width: 75px; }

  .voice12 .img-pos {
    max-width: 120px;
    right: -7%;
    bottom: -7%; }
  .voice12 .lbl01 {
    top: -5%;
    left: 35%;
    max-width: 109px; } }

/*# sourceMappingURL=thailand.css.map */
