.vietnam .symbol-icon {
  max-width: 248px;
  left: -158px;
  bottom: 20px; }
.vietnam .flag-icon {
  top: 32%; }

.section-intro .section-title {
  margin: 0 auto 50px; }

.section-seasons .section-title {
  margin: 0 auto 50px; }
.section-seasons .seasons-head {
  margin-bottom: 65px; }

.seasons-contents .seasons-col {
  width: 50%;
  padding: 0px 40px; }
  .seasons-contents .seasons-col:last-child {
    border-left: 1px dashed #888888; }
.seasons-contents .block:not(:last-child) {
  margin-bottom: 60px; }
.seasons-contents .block h3 {
  margin-bottom: 20px; }
.seasons-contents .block.block05, .seasons-contents .block.block06 {
  margin-bottom: 0; }
.seasons-contents .block04 figure {
  text-align: center; }
  .seasons-contents .block04 figure img {
    max-width: 250px; }
.seasons-contents .block08 figure {
  text-align: center; }
  .seasons-contents .block08 figure img {
    max-width: 217px; }
.seasons-contents .block08 p {
  margin-bottom: 20px; }
.seasons-contents .block06 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .seasons-contents .block06 figure {
    max-width: 100px;
    align-self: flex-end; }
  .seasons-contents .block06 .ctn {
    width: calc(100% - 115px);
    align-self: center; }
.seasons-contents .block07 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-right: -40px; }
  .seasons-contents .block07 figure {
    max-width: 170px;
    margin-left: 40px;
    align-self: flex-end; }
  .seasons-contents .block07 .ctn {
    width: calc(100% - 215px);
    align-self: center; }

.ss-ttl01 {
  max-width: 55px; }

.ss-ttl02 {
  max-width: 65px; }

.ss-ttl03 {
  max-width: 190px; }

.ss-ttl04 {
  max-width: 150px; }

.ss-ttl05 {
  max-width: 55px; }

.ss-ttl06 {
  max-width: 90px; }

.ss-ttl07 {
  max-width: 160px; }

.ss-ttl08 {
  max-width: 105px; }

.ss-ttl09 {
  max-width: 63px; }

.voice01 .real-voice_item--ttl {
  max-width: 232px; }
.voice01 .lbl01 {
  top: -12%;
  left: -7%;
  max-width: 99px; }
.voice01 .lbl02 {
  top: -16%;
  right: -8%;
  max-width: 120px; }

.voice02 .real-voice_item--ttl {
  max-width: 240px; }
.voice02 .lbl01 {
  top: -12%;
  left: 30%;
  max-width: 149px; }

.voice03 .real-voice_item--ttl {
  max-width: 248px; }
.voice03 .img-pos {
  display: inline-block;
  position: absolute;
  left: -28%;
  bottom: -22%;
  max-width: 149px;
  z-index: 2; }
.voice03 .lbl01 {
  top: -10%;
  left: -5%;
  max-width: 99px; }
.voice03 .lbl02 {
  top: -6%;
  right: -7%;
  max-width: 120px; }

.voice04 .real-voice_item--ttl {
  max-width: 183px; }
.voice04 .lbl01 {
  top: -10%;
  left: 30%;
  max-width: 145px; }

.voice05 .real-voice_item--ttl {
  max-width: 267px; }
.voice05 .img-pos {
  display: inline-block;
  position: absolute;
  right: -17%;
  top: -30%;
  max-width: 134px;
  z-index: 2; }
.voice05 .lbl01 {
  top: -11%;
  left: 35%;
  max-width: 85px; }

.voice06 .real-voice_item--ttl {
  max-width: 152px; }
.voice06 .real-voice_item--img img {
  max-width: 160px; }
.voice06 .img-pos {
  display: inline-block;
  position: absolute;
  right: -27%;
  bottom: 6%;
  max-width: 156px;
  z-index: 2; }
.voice06 .lbl01 {
  top: -11%;
  left: -6%;
  max-width: 99px; }
.voice06 .lbl02 {
  top: -20%;
  right: -10%;
  max-width: 120px; }

.voice07 .real-voice_item--ttl {
  max-width: 225px; }
.voice07 .lbl01 {
  top: -11%;
  left: 30%;
  max-width: 145px; }

.voice08 .real-voice_item--ttl {
  max-width: 240px; }
.voice08 .img-pos {
  display: inline-block;
  position: absolute;
  right: -26%;
  bottom: -52%;
  max-width: 199px;
  z-index: 2; }
.voice08 .lbl01 {
  top: -10%;
  left: -5%;
  max-width: 100px; }
.voice08 .lbl02 {
  top: -20%;
  right: -9%;
  max-width: 120px; }

.event-wrap {
  max-width: 950px;
  margin: 0 auto;
  background: url(../img/vn/event-bg_pc.png) center center no-repeat;
  background-size: 100%;
  position: relative;
  padding: 60px 90px;
  box-sizing: border-box;
  text-align: center; }
  .event-wrap .event-lbl {
    max-width: 246px;
    position: absolute;
    left: -34px;
    top: -42px; }
  .event-wrap .event-title {
    max-width: 650px;
    margin: 0 auto 10px; }
  .event-wrap .event-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-left: -20px; }
    .event-wrap .event-list li {
      width: -webkit-calc(33.3333% - 20px);
      width: calc(33.3333% - 20px);
      margin-left: 20px; }
  .event-wrap p {
    margin-bottom: 20px; }

@media screen and (max-width: 768px) {
  .section-intro {
    animation-name: slideDelay;
    -webkit-animation-name: slideDelay;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important; }

  .vietnam .symbol-icon {
    max-width: 150px;
    left: -21px;
    bottom: -30px; }
  .vietnam .flag-icon {
    top: -25px; }

  .seasons-contents .seasons-col {
    width: 100%;
    padding: 0; }
    .seasons-contents .seasons-col:last-child {
      border: none; }
  .seasons-contents .block:not(:last-child) {
    margin-bottom: 25px; }
  .seasons-contents .block.block04 {
    margin-bottom: 25px; }
  .seasons-contents .block h3 {
    display: block;
    text-align: center;
    margin: 0 auto 15px; }
  .seasons-contents .block03 p,
  .seasons-contents .block04 p,
  .seasons-contents .block06 p,
  .seasons-contents .block07 p,
  .seasons-contents .block08 p {
    margin-bottom: 15px; }
  .seasons-contents .block04 figure img {
    max-width: 180px; }
  .seasons-contents .block06, .seasons-contents .block07 {
    display: block; }
    .seasons-contents .block06 .ctn, .seasons-contents .block07 .ctn {
      width: 100%; }
    .seasons-contents .block06 figure, .seasons-contents .block07 figure {
      margin: 0 auto; }
  .seasons-contents .block07 {
    margin: 0; }
  .seasons-contents .block09 {
    border: none;
    margin: 0;
    padding: 0; }

  .voice01 .lbl01 {
    max-width: 75px;
    top: -9%;
    left: -9%; }
  .voice01 .lbl02 {
    max-width: 89px;
    top: -12%;
    right: -10%; }

  .voice02 .lbl01 {
    top: -13%;
    left: 35%;
    max-width: 109px; }

  .voice03 .img-pos {
    max-width: 75px;
    left: -10%;
    bottom: -15%; }
  .voice03 .lbl01 {
    max-width: 75px;
    top: -11%;
    left: -9%; }
  .voice03 .lbl02 {
    max-width: 89px;
    top: -15%;
    right: -13%; }

  .voice04 .lbl01 {
    top: -13%;
    left: 35%;
    max-width: 109px; }

  .voice05 .img-pos {
    right: -5%;
    top: -19%;
    max-width: 80px; }
  .voice05 .lbl01 {
    top: -9%;
    left: 40%;
    max-width: 70px; }

  .voice06 .lbl01 {
    max-width: 49px; }
  .voice06 .lbl02 {
    max-width: 60px;
    top: -13%;
    right: -7%; }

  .voice07 .lbl01 {
    top: -10%;
    left: 35%;
    max-width: 109px; }

  .voice08 {
    margin-bottom: 150px; }
    .voice08 .img-pos {
      right: 25%;
      bottom: auto;
      top: 110%;
      max-width: 150px; }
    .voice08 .lbl01 {
      max-width: 75px;
      top: -11%;
      left: -9%; }
    .voice08 .lbl02 {
      max-width: 89px;
      top: -15%;
      right: -13%; }

  .event-wrap {
    max-width: 86%;
    background: url(../img/vn/event-bg_sp.png) top center no-repeat;
    background-size: 100%;
    padding: 30px 15px;
    text-align: left;
    position: relative;
    display: none; }
    .event-wrap .event-lbl {
      max-width: 145px;
      left: -16px;
      top: -25px; }
    .event-wrap .event-title {
      margin: 0 0px 10px; }
    .event-wrap .event-list {
      display: block;
      margin-left: 0;
      padding: 0px 22px; }
      .event-wrap .event-list li {
        width: 100%;
        margin: 0 0 12px 0; }
        .event-wrap .event-list li:last-child {
          margin-bottom: 0; }
    .event-wrap p {
      margin: 0 10px 10px; }

  .event-img {
    max-width: 92%;
    margin: 0 auto;
    display: block !important; } }

/*# sourceMappingURL=vietnam.css.map */
