@media screen and (max-width: 767px) {
    .page_personality .keyvisual {
        background: url(../../common/img/bg_keyvisual_page_sp.png) no-repeat;
        background-size: cover;
        height: 60vw;
        padding: 6% 10% 0;
    }
    .page_personality #main {
        padding-bottom: 5%;
    }
    .personality_wrap {
        padding: 0 6%;
    }
    .personality_wrap h2 {
        padding-top: 12%;
    }
    .personality_wrap .personality_text {
        width: 70%;
        margin: 2% auto 0;
    }
    .personality_item {
        height: 63vw;
        width: 63vw;
    }
    .personality_item.item01 {
        margin-bottom: 0;
    }
    .personality_item.item02 {
        margin-right: 0;
    }
    .personality_item .item_text {
        width: 50%;
        margin: 0 auto;
        top: 12%;
        left: 25%;
    }
    .personality_item.item02 .item_text {
        left: 23%;
        top: 12%;
    }
    .personality_item.item03 .item_text {
        left: 24%;
        top: 16%;
    }
    .personality_item .item_img {
        margin: 0 auto;
    }
    .personality_item.item01 .item_img {
        bottom: auto;
        top: 50%;
        width: 42%;
    }
    .personality_item.item02 .item_img {
        left: 8%;
        bottom: 17%;
        width: 35%;
    }
    .personality_item.item03 .item_img {
        bottom: 21%;
        width: 48%;
    }
}

@media screen and (min-width: 767px) and (max-height: 900px) {
    .personality_item {
        width: 430px;
        height: 430px;
    }
    .personality_item .item_text {
        left: 94px;
        top: 47px;
    }
    .personality_item.item01 .item_img {
        bottom: 75px;
    }
    .personality_item.item02 .item_text {
        left: 76px;
        top: 48px;
    }
    .personality_item.item02 .item_img {
        bottom: 62px;
        left: 51px;
    }
    .personality_item.item03 .item_text {
        left: 85px;
        top: 63px;
    }
    .personality_item.item03 .item_img {
        bottom: 85px;
        width: 47%;
        left: 111px;
    }
    .personality_item.item02 {
        margin-right: 130px;
        top: -92px;
    }
    .personality_item.item03 {
        top: -92px;
    }
}
