/* Personality pages
---------------------------------------------------------- */
.page_personality .keyvisual {
    background: url(../../common/img/bg_keyvisual_page.png) no-repeat center;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 290px;
}

.page_personality #main {
    background: url(../../common/img/bg_main_page.png) repeat top center;
    padding-bottom: 70px;
}

.personality_wrap {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.personality_wrap h2 {
    padding-top: 86px;
}

.personality_wrap .personality_text {
    margin-top: 10px;
}

.personality_item {
    position: relative;
    max-width: 465px;
    width: 100%;
    margin: 0 auto;
    height: 448px;
}

.personality_item .item_bg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-animation-duration: .6s;
            animation-duration: .6s;
}

.personality_item .item_bg.animated, .personality_item .item_img.animated, .personality_item .item_text.animated {
    opacity: 1;
}

.personality_item .item_img {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

.personality_item .item_text {
    position: absolute;
    left: 108px;
    top: 73px;
    opacity: 0;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
}

.personality_item.item01 {
    margin-top: 27px;
    margin-bottom: -25px;
}

.personality_item.item01 .item_img {
    bottom: 60px;
}

.personality_item.item02 {
    margin-right: 22px;
}

.personality_item.item02 .item_text {
    left: 92px;
    top: 60px;
}

.personality_item.item02 .item_img {
    bottom: 62px;
    left: 59px;
}

.personality_item.item03 .item_img {
    bottom: 77px;
}

.personality_item.item02, .personality_item.item03 {
    display: inline-block;
}
